<header>
  <div class="title">
    <h1><a href="/index">GYMFO</a></h1>
  </div>

  <nav class="navbar">
    <div class="invisible-box"></div>

    <div id="navKo">
      <div class="nav desktopNav">
        <div class="list dropdown">
          <button class="dropbtn">상체</button>
          <div class="dropdown-content">
            <a href="/chest">가슴</a>
            <a href="/back">등</a>
            <a href="/abs">복근</a>
            <a href="/arm">팔</a>
            <a href="/shoulder">어깨</a>
          </div>
        </div>

        <div class="list dropdown">
          <button class="dropbtn">하체</button>
          <div class="dropdown-content">
            <a href="/quad">앞벅지</a>
            <a href="/hamstring">뒷벅지</a>
            <a href="/gluteus">엉덩이</a>
            <a href="/calf">종아리</a>
          </div>
        </div>

        <div class="list dropdown">
          <button class="dropbtn">영양</button>
          <div class="dropdown-content">
            <a href="/nutrient">영양</a>
            <a href="/weight">체중</a>
            <a href="/food">음식</a>
          </div>
        </div>

        <a class="list" href="/stretching">스트레칭</a>

        <a class="list" href="/method">운동기법</a>

        <a class="list" href="/cardio">유산소</a>

        <a class="list" href="/rest">휴식</a>

        <a class="list" href="/notion">개념</a>

        <a class="list" href="/body">인체</a>

        <a class="list" href="/tips">꿀팁</a>

        <div class="source1">
          <!-- <a href="/출처">출처</a> -->
        </div>
      </div>

      <div class="nav-right">
        <div class="source2">
          <!-- <a href="/출처">출처</a> -->
        </div>
      </div>

      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >

        <div class="overlay-content">
          <div class="nav">
            <div class="list dropdown">
              <button class="dropbtn">상체</button>
              <div class="dropdown-content">
                <a href="/chest">가슴</a>
                <a href="/back">등</a>
                <a href="/abs">복근</a>
                <a href="/arm">팔</a>
                <a href="/shoulder">어깨</a>
              </div>
            </div>

            <div class="list dropdown">
              <button class="dropbtn">하체</button>
              <div class="dropdown-content">
                <a href="/quad">앞벅지</a>
                <a href="/hamstring">뒷벅지</a>
                <a href="/gluteus">엉덩이</a>
                <a href="/calf">종아리</a>
              </div>
            </div>

            <div class="list dropdown">
              <button class="dropbtn">영양</button>
              <div class="dropdown-content">
                <a href="/nutrient">영양</a>
                <a href="/weight">체중</a>
                <a href="/food">음식</a>
              </div>
            </div>

            <a class="list" href="/stretching">스트레칭</a>

            <a class="list" href="/method">운동기법</a>

            <a class="list" href="/cardio">유산소</a>

            <a class="list" href="/rest">휴식</a>

            <a class="list" href="/notion">개념</a>

            <a class="list" href="/body">인체</a>

            <a class="list" href="/tips">꿀팁</a>
          </div>
        </div>
      </div>
    </div>

    <div id="navEn">
      <div class="invisible-box"></div>

      <div class="nav desktopNav">
        <div class="list dropdown">
          <button class="dropbtn">Upper Body</button>
          <div class="dropdown-content">
            <a href="/chest">Chest</a>
            <a href="/back">Back</a>
            <a href="/abs">Abs</a>
            <a href="/arm">Arm</a>
            <a href="/shoulder">Shoulder</a>
          </div>
        </div>

        <div class="list dropdown">
          <button class="dropbtn">Lower Body</button>
          <div class="dropdown-content">
            <a href="/quad">Front Leg</a>
            <a href="/hamstring">Back Leg</a>
            <a href="/gluteus">Gluteus</a>
            <a href="/calf">Calf</a>
          </div>
        </div>

        <div class="list dropdown">
          <button class="dropbtn">Nutrient</button>
          <div class="dropdown-content">
            <a href="/nutrient">Nutrient</a>
            <a href="/weight">Weight</a>
            <a href="/food">Food</a>
          </div>
        </div>

        <a class="list" href="/stretching">Stretching</a>

        <a class="list" href="/method">Method</a>

        <a class="list" href="/cardio">Cardio</a>

        <a class="list" href="/rest">Rest</a>

        <a class="list" href="/notion">Notion</a>

        <a class="list" href="/body">Body</a>

        <a class="list" href="/tips">Tips</a>

        <div class="source1">
          <!-- <a href="/출처">출처</a> -->
        </div>
      </div>

      <div class="nav-right">
        <div class="source2">
          <!-- <a href="/출처">출처</a> -->
        </div>
      </div>

      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >

        <div class="overlay-content">
          <div class="nav">
            <div class="list dropdown">
              <button class="dropbtn">Upper Body</button>
              <div class="dropdown-content">
                <a href="/chest">Chest</a>
                <a href="/back">Back</a>
                <a href="/abs">Abs</a>
                <a href="/arm">Arm</a>
                <a href="/shoulder">Shoulder</a>
              </div>
            </div>

            <div class="list dropdown">
              <button class="dropbtn">Lower Body</button>
              <div class="dropdown-content">
                <a href="/quad">Front Leg</a>
                <a href="/hamstring">Back Leg</a>
                <a href="/gluteus">Gluteus</a>
                <a href="/calf">Calf</a>
              </div>
            </div>

            <div class="list dropdown">
              <button class="dropbtn">Nutrient</button>
              <div class="dropdown-content">
                <a href="/nutrient">Nutrient</a>
                <a href="/weight">Weight</a>
                <a href="/food">Food</a>
              </div>
            </div>

            <a class="list" href="/stretching">Stretching</a>

            <a class="list" href="/method">Method</a>

            <a class="list" href="/cardio">Cardio</a>

            <a class="list" href="/rest">Rest</a>

            <a class="list" href="/notion">Notion</a>

            <a class="list" href="/body">Body</a>

            <a class="list" href="/tips">Tips</a>
          </div>
        </div>
      </div>

      <span class="material-symbols-outlined menuBtn" onclick="openNav()"
        >menu</span
      >
    </div>

    <div class="switch">
      <input
        id="changeLanguageBtn"
        class="check-toggle check-toggle-round-flat"
        type="checkbox"
      />
      <label for="changeLanguageBtn"></label>
      <span class="on">KO</span>
      <span class="off">EN</span>
    </div>

    <span class="material-symbols-outlined menuBtn" onclick="openNav()"
      >menu</span
    >
  </nav>
</header>
