<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - ABS</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside">
      </aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>


        <section class="notion">
          <h1 class="main-title">복직근</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#ak_a-r-o">AB 롤 아웃</a></li>
              <li><a href="#ak_h-l-r">행잉 레그 레이즈</a></li>
              <li><a href="#ak_c">크런치</a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal">복직근</div>
              <div class="modal" id="modal">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    복직근
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="복직근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              복압에 관여 안 함
              <div class="ps">복근 운동에서 핵심은 허리를 사용하지 않는 것이다. 동작 수행 시 배에 힘을 주면서 말아 주면 허리를 사용하지 않을 수 있다</div>
            </div>
          </div>



          <h1 class="main-title core">코어</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#ak_b-e">호흡 운동</a></li>
              <li><a href="#ak_v">베큠</a></li>
              <li><a href="#ak_s-b">사이드 벤드</a></li>
              <li><a href="#ak_b-d">버드독 자세</a></li>
              <li><a href="#ak_h-b">힙브릿지 자세</a></li>
              <li><a href="#ak_k-e">케겔 운동</a></li>
              <li><a href="#ak_c">카우 자세</a></li>
              <li><a href="#ak_s">슈퍼맨 자세</a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal1">횡경막</div>
              <div class="modal" id="modal1">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    횡경막
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAxODA0MThfMTAw/MDAxNTI0MDU4MTg2MTc2.do2hrMHCBM0tz1BMtrDNwNvXWyMejqAu6IpheqZi6jwg.Cuy03_IQhqfBoFoMpErZR3VVcp2SlhBDQ8phFSnpVPwg.PNG.capitlarush/kjlkjlkjljl3.png?type=w800"
                      alt="횡경막">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              배와 가슴 사이를 분리하는 근육. 복압에 중요한 근육
              <div class="details">복식 호흡 후 힘 주기, <a href="#ak_b-e">호흡 운동</a>, 배 위에 중량을 추가하며 호흡 등</div>
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal2">복횡근</div>
              <div class="modal" id="modal2">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    복횡근
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="복횡근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              요추의 안정성 증가, 코어 역할. 복압에 중요한 근육
            </div>
            <div class="details"><a href="#ak_v">베큠</a>, <a href="#ak_b-e">호흡 운동</a> 등</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal3">복사근</div>
              <div class="modal" id="modal3">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    복사근
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="복사근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              <p>내복사근 - 수축 시 복압 상승. 몸통 구부리기, 비틀기</p>
              <p>외복사근 - 수축 시 복압 상승. 몸통 구부리기, 비틀기</p>
            </div>
            <div class="details"><a href="#ak_s-b">사이드 벤드</a> 등</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal4">다열근</div>
              <div class="modal" id="modal4">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    다열근
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAxNzEyMDlfMyAg/MDAxNTEyODI4MjA4MTcx.8pMiQMAAiqVkCQc3vGg4-BKfgPIUGcOMSEMx2EpJ6V4g.ChWYXnRs8Ers7WCszDQEHn9ddanIjthHn-TD8Fy1ys4g.JPEG.01062463380/%EB%8B%A4%EC%97%B4%EA%B7%BC2.jpg?type=w800"
                      alt="다열근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              척추의 안정성과 움직임에 중요. 요추 전만 유지, 추간판 보호
            </div>
            <div class="details"><a href="#ak_b-d">버드독 자세</a>, <a href="#ak_h-b">힙브릿지 자세</a> 등</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal5">골반기저근</div>
              <div class="modal" id="modal5">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    골반기저근
                    <img src="http://plug.hani.co.kr/files/attach/images/2840355/361/136/003/%EA%B3%A8%EB%B0%98%201.jpg"
                      alt="골반기저근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              장기의 지지와 생식기 움직임
            </div>
            <div class="details"><a href="#ak_k-e">케겔 운동</a>, <a href="#ak_b-d">버드독 자세</a>, <a href="#ak_b-e">호흡 운동</a>
              등
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold cursor" data-modal-target="#modal6">척추기립근</div>
              <div class="modal" id="modal6">
                <div class="modal-header">
                  <button data-close-button class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    척추기립근
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/20160313_197/kiltie999_1457857049958LAEoQ_PNG/%C3%B4%C3%DF%B1%E2%B8%B3%B1%D9.png?type=w2"
                      alt="척추기립근">
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              척추 지지, 바른 자세 유지
            </div>
            <div class="details"><a href="#ak_c">카우 자세</a>, <a href="#ak_b-d">버드독 자세</a>, <a href="ak_h-b">힙브릿지 자세</a> 등
            </div>
          </div>

          <div class="ps">
            코어는 우리 몸의 기둥으로서 가장 중요하다. 코어 근육들을 단련함으로서 바른 자세를 만들자
          </div>
        </section>


        <section class="workout">

          <div id="ak_a-r-o">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal7">AB 롤 아웃</span>
                <div class="modal" id="modal7">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>바닥에 무릎을 꿇고 기구 잡기</li>
                <li>허벅지는 수직</li>
                <li>후방경사를 통해 허리를 말아주기</li>
                <li>흡기 후 복근이 이완(신장성 수축) 집중하며 밀기</li>
                <li>엉덩이가 과도하게 뒤로 빠지지 않게 하고 복근으로 당기는 것을 의식</li>
                <li>몸을 앞으로 말아준다는 느낌으로 복근 수축</li>
                <li>수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="tips">
                초급자라면 벽을 두고 거리를 벌려 가며 수행하는 것을 추천
              </div>
              <div class="benefit">
                복직근, 복사근에 매우 효과적. 이외에도 상체 전반적으로 많은 근육 참여
              </div>
            </div>
          </div>


          <div id="ak_h-l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal8">행잉 레그 레이즈</span>
                <div class="modal" id="modal8">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>철봉 잡기</li>
                <li>턱은 내리기</li>
                <li>허리 말기(골반 후방경사)</li>
                <li>다리 들어 올리기</li>
                <li>수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                복직근에 매우 효과적
              </div>
            </div>
          </div>


          <div id="ak_c">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal9">크런치</span>
                <div class="modal" id="modal9">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>눕기</li>
                <li>허리를 바닥에 완전히 밀착</li>
                <li>손은 머리를 감싸거나 가슴에 교차시켜 위치</li>
                <li>허리가 아닌 복근 상부에 힘을 주며 수축</li> ! 상급자가 아니라면 허리가 뜨지 않을 정도로만 수축
                <li>수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                상부 복직근에 효과적(초보자 기준. 상급자라면 어떤 운동을 해도 복근 전체적으로 수축할 수 있을 것이다)
              </div>
            </div>
          </div>


          <div id="ak_l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal10">레그 레이즈</span>
                <div class="modal" id="modal10">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>눕기</li>
                <li>엉덩이에 손 넣어서 허리 뜨지 않게 하기</li>
                <li>복근 하부에 집중하여 동작 수행</li>
                <li>수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                하부 복직근에 효과적(초보자 기준. 상급자라면 어떤 운동을 해도 복근 전체적으로 수축할 수 있을 것이다)
              </div>
            </div>
          </div>


          <div id="ak_s-b">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal11">사이드 벤드</span>
                <div class="modal" id="modal11">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>선 상태에서 한 손에 덤벨 쥐기</li>
                <li>덤벨 든 손을 아래로 내리기</li>
                <li>내린 손 반대 쪽 옆구리 수축 집중</li>
                <li>수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                복사근(내,외복사근)에 효과적
              </div>
            </div>
          </div>


          <div id="ak_b-e">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal12">호흡 운동</span>
                <div class="modal" id="modal12">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>무릎을 살짝 구부린 상태로 눕기</li>
                <li>코로 흡기, 입으로 호기</li>
                <li>복식 호흡에 집중하기</li>
                <li>호기를 할 때는 골반기저근에 힘 주기(항문을 위로 힘 주는 느낌)</li>
              </ul>
              <div class="benefit">
                횡경막, 복횡근, 골반기저근에 효과적
              </div>
            </div>
          </div>


          <div id="ak_b-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal13">버드독</span>
                <div class="modal" id="modal13">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>네발기기 자세 잡기</li>
                <li>한 팔을 올리고 반대 쪽 다리도 들어 올리기</li>
                <li>고관절과 어깨는 수직이 되게 하기</li>
                <li>동작을 수행 할 때 허리는 절대 돌아가지 않게 하기(이를 위해 벽에 몸을 대고 수행하면 효과적. 올리는 팔을 벽에 붙여 수행)</li>
              </ul>
              <div class="tips">
                불안정한 상태를 만들면 근신경계 자극이 더 커져 더욱 효과적 ex) 반 짐볼, 짐볼 등
              </div>
              <div class="benefit">
                다열근, 골반기저근, 척추기립근에 효과적
              </div>
            </div>
          </div>


          <div id="ak_h-b">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal14">힙 브릿지</span>
                <div class="modal" id="modal14">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>앉거나 서기</li>
                <li>항문을 몸쪽으로 뽑아 올린다는 느낌으로 수행</li>
              </ul>
              <div class="benefit">
                다열근. 척추기립근에 효과적
              </div>
            </div>
          </div>


          <div id="ak_k-e">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal15">케겔 운동</span>
                <div class="modal" id="modal15">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>앉거나 서기</li>
                <li>항문 또는 성기를 몸쪽으로 뽑아 올린다는 느낌으로 수행</li>
              </ul>
              <div class="benefit">
                골반기저근에 효과적
              </div>
            </div>
          </div>


          <div id="ak_v">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#moda16l">베큠</span>
                <div class="modal" id="modal16">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>배를 안쪽으로 최대한 집어 넣으며 수축</li>
              </ul>
              <div class="benefit">
                복횡근에 효과적
              </div>
            </div>
          </div>


          <div id="ak_s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal17">슈퍼맨</span>
                <div class="modal" id="modal17">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>바닥에 엎드리기</li>
                <li>두 팔을 Y자로 머리 위로 펴기</li>
                <li>상체와 하체를 동시에 들어 올리기</li> ! 힘들다면 상체 따로 하체 따로 연습
              </ul>
              <div class="benefit">
                척추기립근에 효과적
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      </aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside">
      </aside>

      <div id="upEn" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="notion">
          <h1 class="main-title">ABS</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#ae_a-r-o">AB Roll Out</a></li>
              <li><a href="#ae_h-l-r">Hanging Leg Raise</a></li>
              <li><a href="#ae_c">Crunch</a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <div class="bold">Rectus Abdominis</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal-11.">Rectus Abdominis</div>
              <div class="modal2" id="modal-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Rectus Abdominis
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="Rectus Abdominis">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              not involved in abdominal pressure
              <div class="ps">The key to abs workouts is to not use the waist. You can avoid by using your making your
                hip joint rolled to front while giving strength to your stomach when performing the movement</div>
            </div>
          </div>



          <h1 class="main-title core">CORE</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#ae_b-e">Breathing</a></li>
              <li><a href="#ae_v">Vacuum</a></li>
              <li><a href="#ae_s-b">Side Bend</a></li>
              <li><a href="#ae_b-d">Bird Dog</a></li>
              <li><a href="#ae_h-b">Hip Bridge</a></li>
              <li><a href="#ae_k-e">Kegel</a></li>
              <li><a href="#ae_c">Cow</a></li>
              <li><a href="#ae_s">Superman</a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <div class="bold">Diaphragm</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal1-11.">Diaphragm</div>
              <div class="modal2" id="modal1-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Diaphragm
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAxODA0MThfMTAw/MDAxNTI0MDU4MTg2MTc2.do2hrMHCBM0tz1BMtrDNwNvXWyMejqAu6IpheqZi6jwg.Cuy03_IQhqfBoFoMpErZR3VVcp2SlhBDQ8phFSnpVPwg.PNG.capitlarush/kjlkjlkjljl3.png?type=w800"
                      alt="Diaphragm">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              The muscle that separates the stomach from the chest. Muscles important for abdominal pressure
              <div class="details">Strength after abdominal breathing, <a href="#ae_b-e">Breathing</a>, Adding weight to
                the stomach and breathing etc</div>
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold">Transversus Abdominis</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal2-11.">Transversus Abdominis</div>
              <div class="modal2" id="modal2-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Transversus Abdominis
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="Transversus Abdominis">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              Increased stability of the lumbar spine, serving as a core. Muscles important for abdominal pressure
            </div>
            <div class="details"><a href="#ae_v">Vacuum</a>, <a href="#ae_b-e">Breathing</a> etc</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold">Oblique</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal3-11">Oblique</div>
              <div class="modal2" id="modal3-11">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Oblique
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMzFfNjEg/MDAxNTgwNDUyMDg0MDQ4.8Na14rmTWRIogaxMp0cQgJ3_lVr8Ps7mblQdEdoXSrgg.P_UqURyd0eP-Wn6KtTGk_QXCwtoAindovx4LMiO9qTUg.JPEG.yejisuenghoon/SE-57dfc36e-8e0a-4197-badd-e7ea8bbdb594.jpg?type=w800"
                      alt="Oblique">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              <p>Internal Oblique - Increases abdominal pressure during contraction. body bending, twisting</p>
              <p>External Oblique - Increased abdominal pressure during contraction. body bending, twisting</p>
            </div>
            <div class="details"><a href="#ae_s-b">Side Bend</a> etc</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold">Multifidus</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal4-11.">Multifidus</div>
              <div class="modal2" id="modal4-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Multifidus
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/MjAxNzEyMDlfMyAg/MDAxNTEyODI4MjA4MTcx.8pMiQMAAiqVkCQc3vGg4-BKfgPIUGcOMSEMx2EpJ6V4g.ChWYXnRs8Ers7WCszDQEHn9ddanIjthHn-TD8Fy1ys4g.JPEG.01062463380/%EB%8B%A4%EC%97%B4%EA%B7%BC2.jpg?type=w800"
                      alt="Multifidus">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              Important for spinal stability and movement. Maintaining lumbar lordosis, protecting intervertebral discs
            </div>
            <div class="details"><a href="#ae_b-d">Bird Dog</a>, <a href="#ae_h-b">Hip Bridge</a> etc</div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold">Pelvic Floor</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal5-11."></div>
              <div class="modal2" id="modal5-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Pelvic Floor
                    <img src="http://plug.hani.co.kr/files/attach/images/2840355/361/136/003/%EA%B3%A8%EB%B0%98%201.jpg"
                      alt="Pelvic Floor">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              Organ support and genital movement
            </div>
            <div class="details"><a href="#ae_k-e">Kegel</a>, <a href="#ae_b-d">Bird Dog</a>, <a
                href="#ae_b-e">Breathing</a> etc
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <div class="bold">Erector Spine</div>
              <!-- <div class="bold cursor" data-modal-target2="#modal6-11.">Erector Spine</div>
              <div class="modal2" id="modal6-11.">
                <div class="modal-header">
                  <button data-close-button2 class="close-button">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="modal-p">
                    Erector Spine
                    <img
                      src="https://mblogthumb-phinf.pstatic.net/20160313_197/kiltie999_1457857049958LAEoQ_PNG/%C3%B4%C3%DF%B1%E2%B8%B3%B1%D9.png?type=w2"
                      alt="Erector Spine">
                  </div>
                </div>
              </div>
              <div id="overlay"></div> -->
              Supports the spine, maintains good posture
            </div>
            <div class="details"><a href="#ae_c">Cow</a>, <a href="#ae_b-d">Bird Dog</a>, <a href="#ae_h-b">Hip
                Bridge</a> etc
            </div>
          </div>

          <div class="ps">
            The core is the most important pillar of our body. Let's make the right posture by strengthening the core
            muscles
          </div>
        </section>


        <section class="workout">

          <div id="ae_a-r-o">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal7">AB Roll Out</span>
                <div class="modal2" id="modal7">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Kneel on the floor and grab the equipment</li>
                <li>thighs are vertical</li>
                <li>Curling the back with a posterior inclination</li>
                <li>After inhalation, the abdominal muscles relax(eccentric contraction) and push with concentration
                </li>
                <li>Don't let your hips fall back excessively and be aware of the pull with your abs</li>
                <li>Abdominal contraction with the feeling of rolling the body forward</li>
                <li>Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="tips">
                If you are a beginner, it is recommended to practice while walking away from a wall
              </div>
              <div class="benefit">
                Very effective for rectus abdominis and oblique muscles. In addition, many muscles are involved
                throughout the upper body
              </div>
            </div>
          </div>


          <div id="ae_h-l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                Hanging Leg Raise
                <!-- <span class="cursor" data-modal-target2="#modal8-11.">Hanging Leg Raise</span>
                <div class="modal2" id="modal8-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </h4>
              <ul>
                <li>catch the iron bar</li>
                <li>chin down</li>
                <li>Roll Waist(posterior tilt of the pelvis)</li>
                <li>lift leg</li>
                <li>Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="benefit">
                Very effective for rectus abdominis
              </div>
            </div>
          </div>


          <div id="ae_c">
            <div class="main-wt">
              <h4 class="main-wt-title">
                Crunch
                <!-- <span class="cursor" data-modal-target2="#modal9">Crunch</span>
                <div class="modal2" id="modal9">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </h4>
              <ul>
                <li>lie down back on the floor</li>
                <li>Press your lower back completely into the floor</li>
                <li>Hands wrapped around the head or crossed over the chest</li>
                <li>Tighten and contract the upper abs, not the waist</li> ! Unless you are an advanced user, contract
                only enough to keep your back from rising.
                <li>Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="benefit">
                Effective for the upper rectus abdominis(for beginners. If you are an advanced user, you will be able to
                contract the entire abdominal muscle with any exercise)
              </div>
            </div>
          </div>


          <div id="ae_l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                Lying Leg Raise
                <!-- <span class="cursor" data-modal-target2="#modal10">Lying Leg Raise</span>
                <div class="modal2" id="modal10">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </h4>
              <ul>
                <li>lie down back on the floor</li>
                <li>Put your hands on your hips to keep your back from popping</li>
                <li>Perform the movement by concentrating on the lower abs</li>
                <li>Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="benefit">
                Effective for the lower rectus abdominis(for beginners. If you are an advanced user, you will be able to
                contract the entire abdominal muscle with any exercise)
              </div>
            </div>
          </div>


          <div id="ae_s-b">
            <div class="main-wt">
              <h4 class="main-wt-title">
                Side Bend
                <!-- <span class="cursor" data-modal-target2="#modal11">Side Bend</span>
                <div class="modal2" id="modal11">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </h4>
              <ul>
                <li>Hold a dumbbell in one hand while standing</li>
                <li>Lower your hand holding the dumbbell down</li>
                <li>Concentrate on the contraction of the side opposite the lowered hand</li>
                <li>Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="benefit">
                Effective for oblique muscles(internal and external oblique muscles)
              </div>
            </div>
          </div>


          <div id="ae_b-e">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal12">Breathing</span>
                <div class="modal2" id="modal12">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Lie down with your knees slightly bent</li>
                <li>Inhale through the nose, exhale through the mouth</li>
                <li>Concentrate on abdominal breathing</li>
                <li>When exhaling, tense the pelvic floor muscles(the feeling of pushing the anus upward)</li>
              </ul>
              <div class="benefit">
                Effective for the diaphragm, transversus abdominis, and pelvic floor muscles
              </div>
            </div>
          </div>


          <div id="ae_b-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal13">Bird Dog</span>
                <div class="modal2" id="modal13">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>quadruped pose</li>
                <li>Raise one arm and lift the other leg</li>
                <li>Keep your hips and shoulders perpendicular</li>
                <li>Make sure that the waist never turns when performing the movement(For this, it is effective to
                  perform with the body against the wall. Perform with the raised arm against the wall)</li>
              </ul>
              <div class="tips">
                If an unstable state is created, stimulation of the nervous system becomes greater, which makes it more
                effective ex) Semi-gymball, gym ball, etc.
              </div>
              <div class="benefit">
                Effective for multifidus, pelvic floor, and erector spinae muscles
              </div>
            </div>
          </div>


          <div id="ae_h-b">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal14">Hip Bridge</span>
                <div class="modal2" id="modal14">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>sit or stand</li>
                <li>Perform with the feeling of pulling the anus toward the body</li>
              </ul>
              <div class="benefit">
                Effective for multifidus and erector spinae
              </div>
            </div>
          </div>


          <div id="ae_k-e">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal15">Kegel</span>
                <div class="modal2" id="modal15">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>sit or stand</li>
                <li>Perform with the feeling of pulling the anus or genitals toward the body</li>
              </ul>
              <div class="benefit">
                Effective for pelvic floor muscles
              </div>
            </div>
          </div>


          <div id="ae_v">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#moda16l">Vacuum</span>
                <div class="modal2" id="modal16">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Retract the belly in as far as possible and contract</li>
              </ul>
              <div class="benefit">
                Effective for transversus abdominis
              </div>
            </div>
          </div>


          <div id="ae_s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal17">Super Man</span>
                <div class="modal2" id="modal17">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>lie down belly on the floor</li>
                <li>Extend your arms over your head in a Y shape</li>
                <li>Lift upper and lower body at the same time</li> ! If it's difficult, practice separately for the
                upper body and lower body
              </ul>
              <div class="benefit">
                Effective for erector spinae muscles
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      </aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer')  %> 


</body>

</html>