<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <%- include('includes/head') %>


  <title>GYMFO - ARM</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-3V384T0LJC");
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>

        <!--   BICEPS   -->

        <section id="biceps" class="biceps">
          <h1 class="main-title cursor" data-modal-target="#modal21">
            상완 이두근
          </h1>

          <div class="modal" id="modal21">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://blog.kakaocdn.net/dn/IRKSI/btrifnyw0go/a01TjYYqE1imQplct8xJ8k/img.png" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#bk_b-c">바벨컬</a></li>
              <li><a href="#bk_d-c">덤벨컬</a></li>
              <li><a href="#bk_p-c">프리쳐컬</a></li>
              <li><a href="#bk_d-c">드래그컬</a></li>
              <li><a href="#bk_c-c">컨센트레이션컬</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">장두</span>
                </div>
                <div class="detail">
                  <a href="#bk_d-c">인클라인 덤벨컬</a>,
                  <a href="#bk_d-c">드래그컬</a>,
                  <a href="#bk_b-c">내로우 그립컬</a>, 팔꿈치 몸 뒤로 등
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">단두</span>
                </div>
                <div class="detail">
                  <a href="#bk_c-c">컨센트레이션컬</a>,
                  <a href="#bk_b-c">와이드 그립컬</a>, 팔꿈치 몸 앞으로 등
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">상완근</span>
                </div>
                <div class="detail">
                  <a href="#fk_e-r-c">이지바 리버스컬</a>,
                  <a href="#fk_h-c">해머컬</a> 등
                </div>
              </div>
            </div>
            <!-- <div class="function">
                <div class="bic-fun">
                  이두는 팔의 굴곡, 내전, 외전, 외회전의 기능을 한다
                </div>
                <div class="bic-fun2">
                  <p>내전 - 손등이 위를 봄</p>
                  <p>외전 - 손등이 아래를 봄</p>
                  <p>상완 내전 - 단두 자극</p>
                  <p>상완 외전 - 장두 자극</p>
                </div>
              </div> -->
            <div class="ps">
              덤벨을 이용한 컬을 할 때 손목을 외전 한다면 더 강한 수축을
              이끌어 낼 수 있다
            </div>
          </section>

          <section class="workout">
            <div id="bk_b-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal22">바벨컬</span>
                  <div class="modal" id="modal22">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>
                    그립 - 스트레이트바는 엄지 보단 새끼손가락을 바에 수직으로
                    맞추어 잡기. 이렇게 잡게 되면 평소보다 그립이 약간 더
                    넓어질 테지만 손목의 부담이 적을 것이다
                  </li>
                  <li>
                    수직 - 바를 몸쪽에 붙여 수직으로 움직일 수 있도록
                    집중(명치에 터치 하듯 수행. 이렇게 수행 하면 팔꿈치가 뒤로
                    가게 될 것이다)
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">이두 전체에 효과적</div>
                <div class="methods">
                  <h4>다양한 동작들</h4>
                  <div class="more-method">
                    <h4>내로우 그립</h4>
                    <p>장두에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>와이드 그립</h4>
                    <p>단두에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>팔꿈치 몸 뒤로</h4>
                    <p>장두에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>팔꿈치 몸 앞으로</h4>
                    <p>단두에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>이지컬바</h4>
                    <p>이두와 상완요골근에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>프리쳐 바벨컬</h4>
                    <p>이두에 자극 집중</p>
                  </div>
                  <div class="more-method">
                    <h4>드래그 바벨컬</h4>
                    <p>장두에 효과적</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="bk_d-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal23">덤벨컬</span>
                  <div class="modal" id="modal23">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>
                    팔꿈치 - 팔꿈치는 고정하고 있다가 덤베을 들어 올린 후 윗
                    부분에서 최대 수축을 위해 살짝 팔꿈치를 올리기
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">이두 전체에 효과적</div>
                <div class="methods">
                  <h4>다양한 동작들</h4>
                  <div class="more-method">
                    <h4>인클라인 덤벨컬</h4>
                    <p>
                      적당히 기울인 벤치에 앉은 후 등받이에 등을 기댄 후 팔을
                      축 늘어 뜨리고 덤벨을 들어 올리기. 이는 장두에 효과적
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>컨센트레이션컬</h4>
                    <p>
                      벤치에 앉아 허벅지에 삼두를 맞댄 후 수축에 집중하여 컬.
                      이두에 정말 효과
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>프리쳐 덤벨컬</h4>
                    <p>
                      덤벨 또는 바벨로 수행할 수 있으며 집중적으로 이두를
                      타겟할 수 있다
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>드래그 덤벨컬</h4>
                    <p>
                      바벨을 팔꿈치는 뒤로 보내면서 가슴 팍으로 수직으로 밀어
                      올리기
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="bk_p-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal24">프리쳐컬</span>
                  <div class="modal" id="modal24">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>
                    팔 - 팔이 안쪽을 보지 않게 하라. 저항을 들어 올렸을 때
                    전완과 이두가 1자가 되게 자세잡기
                  </li>
                  <li>
                    팔꿈치 - 바를 들어 올릴 때 더 큰 회전을 만들기 위해
                    팔꿈치가 살짝 뜨게 하기
                  </li>
                  <li>몸통 - 저항을 따라가지 않고 그 자리에 고정</li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">이두에 효과적</div>
              </div>
            </div>

            <div id="bk_d-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal25">드래그컬</span>
                  <div class="modal" id="modal25">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>팔꿈치 - 바를 들어 올릴 때 팔꿈치를 몸 뒤로 보내기</li>
                  <li>
                    수직 - 바를 몸에 붙이다시피 한 후 수직으로 들어
                    올리기(자연스럽게 팔꿈치가 몸 뒤로 갈 것이다)
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">장두에 효과적</div>
              </div>
            </div>

            <div id="bk_c-c">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal26">컨센트레이션컬</span>
                  <div class="modal" id="modal26">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>자세 - 앉은 후 허벅지 중간에 삼두를 맞대기</li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>
                    외전 - 덤벨을 올린 지점에서 손목을 바깥 쪽으로 살짝 틀기
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">이두에 정말 효과적</div>
              </div>
            </div>
          </section>
        </section>

        <!--   TRICEPS   -->

        <section id="triceps" class="triceps">
          <h1 class="main-title cursor" data-modal-target="#modal31">
            상완 삼두근
          </h1>

          <div class="modal" id="modal31">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://t1.daumcdn.net/cfile/tistory/99B566375ADACF8D20" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#tk_l-t-e">라잉 트라이셉스 익스텐션</a></li>
              <li><a href="#tk_c-p-d">케이블 푸쉬 다운</a></li>
              <li><a href="#tk_c-g-b-p">클로즈 그립 벤치프레스</a></li>
              <li><a href="#tk_b-d">벤치 딥스</a></li>
              <li><a href="#tk_o-t-e">오버헤드 트라이셉스 익스텐션</a></li>
              <li><a href="#tk_i-d-k-b">덤벨 킥 백</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">장두</span>
                </div>
                <div class="detail">
                  <a href="#tk_l-t-e">라잉 트라이셉스 익스텐션</a>,
                  <a href="tk_i-d-k-b">덤벨 킥 백</a> 등
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold" class="cursor" data-modal-target="#modal27">외측두</span>
                </div>
              </div>
              <div class="detail">
                <a href="#tk_c-p-d">케이블 푸쉬 다운</a> 등
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">내측두</span>
              </div>
              <div class="detail">
                <a href="#tk_c-p-d">한 손 케이블 푸쉬 다운</a> 등
              </div>
            </div>

            <!-- <div class="function">
                <div class="tri-fun">
                  삼두는 신전 기능을 함(팔꿈치를 펴는 기능) - 삼두는 신전 동작만 하면 운동이 됨
                </div>
                <div class="tri-fun2">
                  장두는 견관절에 붙어 있기에 견관절의 신전 기능 또한 수행해야 더 효과적임 - 팔꿈치를 굴곡하고 머리 위로 올리면 최대 이완(<a href="#">라잉 트라이셉스 익스텐션, 오버헤드 트라이셉스 익스텐션</a>), 팔을 아래로 가게 하고 팔꿈치를 쭉 펴면 최대 수축이다(<a href="#">덤벨 킥 백, 푸쉬 다운</a>) 
                </div>
              </div> -->
            <div class="ps">
              모든 삼두 운동은 삼두 전체에 효과적이다. 특정 부위가 더 잘
              되거나 덜 될 수는 있다. 그러나 접었다 폈다 하는 행동은 삼두
              전체를 자극 시키며, 기본적인 동작에 충실해도 삼두에 효과적일
              것이다<br />
              삼두 운동을 할 때 새끼손가락에 힘을 주고 수행 해 보아라
            </div>
          </section>

          <section class="workout">
            <div id="tk_l-t-e">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal32">라잉 트라이셉스 익스텐션</span>
                  <div class="modal" id="modal32">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>그립 - 양손 가운데 주먹 하나 보다 살짝 넓게</li>
                  <li>
                    견갑 - 견갑을 거상하면 바벨이 수직으로 이동하게 된다
                  </li>
                  <li>
                    손목 - 바를 잡을 때 내전 상태에서 위로 꺾어. 또한 동작
                    수행 시 손목은 움직이지 않게 고정
                  </li>
                  <li>
                    팔꿈치 - 옆으로 벌어지지 않게 의식하고 안쪽으로 모아서
                    수행
                  </li>
                  <li>
                    어깨 - 어깨를 먼저 살짝 움직여 준 후 팔꿈치를 이용하여
                    바를 정수리 쪽으로 굽히기(그렇다고 어깨에 힘이 들어가면 안
                    된다)
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">장두에 매우 효과적</div>
              </div>
            </div>

            <div id="tk_c-p-d">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal33">케이블 푸쉬 다운</span>
                  <div class="modal" id="modal33">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>팔꿈치 - 팔꿈치는 계속 몸에 붙도록 의식하여 수행</li>
                  <li>팔 - 저항을 내릴 때 팔은 쭉 펴 주기</li>
                  <li>
                    엉덩이 - 엉덩이를 뒤로 빼고 수직으로 바 내리기(이때
                    수직으로 내리면서 몸쪽까지 당겨오면 장두에 추가적인 자극이
                    온다)
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">삼두 전체적으로 효과적</div>
                <div class="methods">
                  <h4>다양한 동작들</h4>
                  <div class="more-method">
                    <h4>바 푸쉬 다운(장두)</h4>
                    <p>
                      위 자세를 수행 하고 바를 원을 그리며 몸쪽으로 당겨주면
                      장두에 효과적
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>바 푸쉬 다운(외측두)</h4>
                    <p>팔꿈치를 내 몸 앞쪽에 위치 한 후 수행 하면 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>바 푸쉬 다운(내측두)</h4>
                    <p>팔꿈치를 약간 옆으로 벌려서 수행 하면 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>로프 푸쉬 다운(장두)</h4>
                    <p>
                      로프를 내린 후 몸 뒤쪽으로 더 쥐어 짜주면 장두에 효과적
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>로프 푸쉬 다운(외측두)</h4>
                    <p>그립을 좁게 잡고 수행 하면 외측두에 효과적</p>
                  </div>
                  <div class="more-method">
                    <h4>한 손 케이블 푸쉬 다운(내측두)</h4>
                    <p>
                      한 손을 언더그립으로 잡은 후 수행 하면 내측두에 효과적
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="tk_c-g-b-p">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal34">내로우 그립 벤치프레스</span>
                  <div class="modal" id="modal34">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>자세 - 벤치 자세에서 좁은 그립</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">삼두 전체적으로 효과적</div>
              </div>
            </div>

            <div id="tk_b-d">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal35">벤치 딥스</span>
                  <div class="modal" id="modal35">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>손 - 어깨 너비 정도로 위치</li>
                  <li>
                    발 - 발 위치는 멀어질 수록 강도가 올라가니 조절하여 수행
                  </li>
                  <li>몸 - 몸은 수직으로 내려가야 효과적</li>
                  <li>팔꿈치 - 팔꿈치는 90도</li>
                  <li>내회전 - 올라갈 때 팔 내회전</li>
                  <li>기울기 - 올라갈 때 상체를 앞으로 살짝 기울기</li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">삼두 전체적으로 효과적</div>
              </div>
            </div>

            <div id="tk_o-t-e">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal36">오버헤드 트라이셉스 익스텐션</span>
                  <div class="modal" id="modal36">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>
                    팔 - 저항을 들어 올릴 때 팔을 머리와 같은 선상(수직)에
                    위치
                  </li>
                  <li>전완 - 지면과 전완이 수평이 되게끔 위치</li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">장두에 효과적</div>
                <div class="methods">
                  <h4>다양한 동작들</h4>
                  <div class="more-method">
                    <h4>보스 암 덤벨 OTE</h4>
                    <p>잡기가 더 편함</p>
                  </div>
                  <div class="more-method">
                    <h4>원 암 덤벨 OTE</h4>
                    <p>더 깊은 가동 범위 가능</p>
                  </div>
                  <div class="more-method">
                    <h4>케이블 OTE</h4>
                    <p>일정한 장력을 느끼며 수행 가능</p>
                  </div>
                  <div class="more-method">
                    <h4>바벨 OTE</h4>
                    <p>증량이 상대적으로 쉬움</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="tk_i-d-k-b">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal37">덤벨 킥 백</span>
                  <div class="modal" id="modal37">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>손목 - 꺾이지 않게 일자로 고정</li>
                  <li>몸통 - 상체는 삼두와 함께 움직이지 않도록 고정</li>
                  <li>
                    팔꿈치 - 너무 아래에 위치 하지 말고 너무 빨리 접었다 폈다
                    하지 않기
                  </li>
                  <li>
                    텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작
                    반복
                  </li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">장두에 효과적</div>
              </div>
            </div>
          </section>
        </section>

        <!--   FOREARM   -->

        <section id="forearm" class="forearm">
          <h1 class="main-title cursor" data-modal-target="#modal41">
            전완근
          </h1>

          <div class="modal" id="modal41">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://www.wadiz.kr/ft/images/green001/2021/1119/20211119120302928_26.jpg" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#fk_w-c">리스트컬</a></li>
              <li><a href="#fk_r-w-c">리버스 리스트컬</a></li>
              <li><a href="#fk_h-c">해머컬</a></li>
              <li><a href="#fk_w-t">손목 돌리기</a></li>
              <li><a href="#fk_e-r-c">이지바 리버스컬</a></li>
              <li><a href="#fk_w-w">추감기</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">굴곡근</span>
                  <div class="reg2">
                    손목을 아래로 접는 기능 수행. 두꺼운 전완의 원인
                  </div>
                </div>
                <div class="detail">
                  <a href="#fk_w-c">리스트컬</a>,
                  <a href="#fk_w-w">추감기</a> 등
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">신전근</span>
                  <div class="reg2">
                    손목을 위로 접는 기능 수행. 갈라지는 전완의 원인
                  </div>
                </div>
                <div class="detail">
                  <a href="#fk_r-w-c">리버스 리스트컬</a>,
                  <a href="#fk_w-t">손목 돌리기</a>,
                  <a href="#fk_w-w">추감기</a> 등
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">상완요골근</span>
                  <div class="reg2">
                    팔꿈치를 굴곡하는 기능 수행. 넓은 전완의 원인
                  </div>
                </div>
                <div class="detail">
                  <a href="#fk_e-r-c">이지바 리버스컬</a>,
                  <a href="#fk_h-c">해머컬</a> 등
                </div>
              </div>
            </div>
            <div class="ps"></div>
          </section>

          <section class="workout">
            <div id="fk_w-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal42">리스트컬</span>
                  <div class="modal" id="modal42">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>팔꿈치 - 팔꿈치 고정</li>
                  <li>손목 - 안쪽으로 말아 주기</li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">굴곡근에 효과적</div>
                <div class="methods">
                  <h4>다양한 동작</h4>
                  <div class="more-method">
                    <h4>케이블 리스트컬</h4>
                    <p>
                      부상 위험 없이 일정한 장력으로 굴곡근에 자극을 줄 수
                      있다
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="fk_r-w-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal43">리버스 리스트컬</span>
                  <div class="modal" id="modal43">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>팔꿈치 - 팔꿈치 고정</li>
                  <li>손목 - 바깥쪽으로 말아 주기</li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">신전근에 효과적</div>
              </div>
            </div>

            <div id="fk_h-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal44">해머컬</span>
                  <div class="modal" id="modal44">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li onclick="myFunction(event)">기본 자세</li>
                  <li>그립 - 뉴트럴 그립으로 잡은 후 덤벨의 위쪽 끝 잡기</li>
                  <li>손목 - 손목은 안쪽을 보게 한 후 컬</li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">상완 요골근과 이두에 효과적</div>
              </div>
            </div>

            <div id="fk_w-t">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal45">손목 돌리기</span>
                  <div class="modal" id="modal45">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>팔꿈치 - 팔꿈치는 고정</li>
                  <li>
                    이두 - 손목만 돌아가는 것이 아닌 이두 하부와 같이 돌아가는
                    것을 의식하여 수행
                  </li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                  <li>
                    ! 웜업과 스트레칭을 해 준 후 통제 가능한 무게로 이 동작을
                    수행 한다면 부상을 방지 할 수 있다
                  </li>
                </ul>
                <div class="benefit">전완근과 이두 하부에 효과적</div>
              </div>
            </div>

            <div id="fk_e-r-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal46">이지바 리버스컬</span>
                  <div class="modal" id="modal46">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>시작 지점 - 팔을 다 핀 자세가 아닌 허리에서 시작</li>
                  <li>그립 - 오버그립으로 어깨 너비 보다 좁게</li>
                  <li>
                    수직 - 바를 몸에 붙이다시피 한 후 수직으로 들어 올리기
                  </li>
                  <li>
                    신전 - 바를 들어 올린 후 손목을 몸쪽으로 신전 해 준다면
                    신전근에 추가적인 자극
                  </li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">상완 요골근(+ 신전근)에 효과적</div>
              </div>
            </div>

            <div id="fk_w-w">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal47">추감기</span>
                  <div class="modal" id="modal47">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    기본 자세
                  </li>
                  <li>
                    원판 - 랙의 높은 위치에 바를 위치한 후 한쪽에는 원판을
                    끼우기
                  </li>
                  <li>
                    밴드 - 원판이 없는 쪽에 고무 밴드를 걸고 그 아래에는
                    케틀벨을 묶기
                  </li>
                  <li>동작 - 바벨을 돌리면서 케틀벨을 올렸다 내렸다 한기</li>
                  <li>텐션 - 긴장감을 유지한 채 동작 반복</li>
                  <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                </ul>
                <div class="benefit">신전근과 굴곡근에 매우 효과적</div>
              </div>
            </div>

            <div id="fk_g-m">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal48">악력기</span>
                  <div class="modal" id="modal48">
                    <div class="modal-header">
                      <button data-close-button class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>그립 - 손바닥에 위치한 후 악력기를 살짝 세워 준다</li>
                  <li>엄지 - 엄지에도 힘을 주어 단단하게 악력기를 고정</li>
                </ul>
                <div class="benefit">전완근에 효과적</div>
              </div>
            </div>
          </section>
        </section>

        <button class="material-symbols-outlined up-arrow">
          <a href="#upKo">arrow_upward</a>
        </button>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>

  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>

        <!--   BICEPS   -->

        <section id="biceps" class="biceps">
          <h1 class="main-title cursor" data-modal-target2="#modal21-11.">
            BICEPS
          </h1>

          <div class="modal2" id="modal21-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://blog.kakaocdn.net/dn/IRKSI/btrifnyw0go/a01TjYYqE1imQplct8xJ8k/img.png" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#be_b-c">Barbel Curl</a></li>
              <li><a href="#be_d-c">Dumbbell Curl</a></li>
              <li><a href="#be_p-c">Preacher Curl</a></li>
              <li><a href="#be_d-c">Drag Curl</a></li>
              <li><a href="#be_c-c">Concentration Curl</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">Long Head</span>
                </div>
                <div class="detail">
                  <a href="#be_d-c">Incline Dumbbell Curl</a>,
                  <a href="#be_d-c">Drag Curl</a>,
                  <a href="#be_b-c">Narrow Grip Curl</a>, Elbow Behind Body
                  Curl etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">Short Head</span>
                </div>
                <div class="detail">
                  <a href="#be_c-c">Concentration Curl</a>,
                  <a href="#be_b-c">Wide Grip Curl</a>, Elbow Front Body Curl
                  etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">Brachialis</span>
                </div>
                <div class="detail">
                  <a href="#fe_e-r-c">Easy Bar Curl</a>,
                  <a href="#fe_h-c">Hammer Curl</a> etc
                </div>
              </div>
            </div>
            <!-- <div class="function">
                <div class="bic-fun">
                  이두는 팔의 굴곡, 내전, 외전, 외회전의 기능을 한다
                </div>
                <div class="bic-fun2">
                  <p>내전 - 손등이 위를 봄</p>
                  <p>외전 - 손등이 아래를 봄</p>
                  <p>상완 내전 - 단두 자극</p>
                  <p>상완 외전 - 장두 자극</p>
                </div>
              </div> -->
            <div class="ps">
              When you curl with a dumbbell, you can elicit a stronger
              contraction by abducting your wrists
            </div>
          </section>

          <section class="workout">
            <div id="be_b-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal22-11.">Barbel Curl</span>
                  <div class="modal2" id="modal22-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Grip - Hold the straight bar with your little finger
                    perpendicular to the bar rather than your thumb. This grip
                    will give you a slightly wider grip than usual, but it
                    will put less strain on your wrists
                  </li>
                  <li>
                    Vertical - Focus on keeping the bar close to your body and
                    moving it vertically (do it like touching the pit of the
                    stomach. This will move your elbows back)
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective on the entire biceps</div>
                <div class="methods">
                  <h4>Various Actions</h4>
                  <div class="more-method">
                    <h4>Narrow Grip Curl</h4>
                    <p>Effective for Long Head</p>
                  </div>
                  <div class="more-method">
                    <h4>Wide Grip Curl</h4>
                    <p>Effective for Short Head</p>
                  </div>
                  <div class="more-method">
                    <h4>Elbow Behind Body Curl</h4>
                    <p>Effective for Long Head</p>
                  </div>
                  <div class="more-method">
                    <h4>ELbow Front Body Curl</h4>
                    <p>Effective for Short Head</p>
                  </div>
                  <div class="more-method">
                    <h4>Easy Bar Curl</h4>
                    <p>Effective for Biceps and Brachioradialis</p>
                  </div>
                  <div class="more-method">
                    <h4>Preacher Curl</h4>
                    <p>Effective for Biceps</p>
                  </div>
                  <div class="more-method">
                    <h4>Drag Curl</h4>
                    <p>Effective for Long Head</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="be_d-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal23-11.">Dumbbell Curl</span>
                  <div class="modal2" id="modal23-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Elbow - Keeping the elbow fixed, lift the dumbbell and
                    slightly raise the elbow for maximum contraction in the
                    upper part
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective on the entire Biceps</div>
                <div class="methods">
                  <h4>Various Actions</h4>
                  <div class="more-method">
                    <h4>Incline Dumbbell Curl</h4>
                    <p>
                      Sit on a moderately inclined bench, lean back against
                      the backrest, and lift a dumbbell with your arms hanging
                      down. It is effective for long head
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Concentration Curl</h4>
                    <p>
                      Sit on a bench, tricep your thighs, and then focus on
                      contraction to curl. really works for bicep
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Preacher Curl</h4>
                    <p>
                      It can be performed with dumbbells or barbells, focusing
                      on biceps
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Drag Curl</h4>
                    <p>
                      Push the barbell straight up to your chest while pushing
                      your elbows back
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="be_p-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal24-11.">Preacher Curl</span>
                  <div class="modal2" id="modal24-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Arm - Don't let the arm look inward. Position yourself so
                    that your forearms and biceps form a line when you lift
                    the resistance
                  </li>
                  <li>
                    Elbows - Slightly lift the elbows to create greater
                    rotation when lifting the bar
                  </li>
                  <li>
                    Torso - does not follow the resistance and stays in place
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Entire Biceps</div>
              </div>
            </div>

            <div id="be_d-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal25-11.">Drag Curl</span>
                  <div class="modal2" id="modal25-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Elbows - Bring your elbows behind your body as you lift
                    the bar
                  </li>
                  <li>
                    Vertical - hold the bar close to the body and lift it
                    vertically(elbows will naturally go behind the body)
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm.
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation (MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Long Head</div>
              </div>
            </div>

            <div id="be_c-c">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal26-11.">Concentration Curl</span>
                  <div class="modal2" id="modal26-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    Posture - triceps in the middle of the thighs after
                    sitting
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Abduction - slightly twisting the wrist outward at the
                    lifting point of the dumbbell
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation (MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Entire Biceps</div>
              </div>
            </div>
          </section>
        </section>

        <!--   TRICEPS   -->

        <section id="triceps" class="triceps">
          <h1 class="main-title cursor" data-modal-target2="#modal31-11.">
            TRICEPS
          </h1>

          <div class="modal2" id="modal31-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://t1.daumcdn.net/cfile/tistory/99B566375ADACF8D20" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#te_l-t-e">Lying Triceps Extension</a></li>
              <li><a href="#te_c-p-d">Cable Push Down</a></li>
              <li><a href="#te_c-g-b-p">Close Grip Bench Press</a></li>
              <li><a href="#te_b-d">Bench Dips</a></li>
              <li><a href="#te_o-t-e">Overhead Triceps Extension</a></li>
              <li><a href="#te_i-d-k-b">Dumbbel Kick Back</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">Long Head</span>
                </div>
                <div class="detail">
                  <a href="#te_l-t-e">Lying Triceps Extension</a>,
                  <a href="#te_i-d-k-b">Dumbbel Kick Back</a> etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold" class="cursor" data-modal-target2="#modal27">Lateral Head</span>
                </div>
                <div class="detail">
                  <a href="#te_c-p-d">Cable Push Down</a> etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">Medial Head</span>
                </div>
                <div class="detail">
                  <a href="#te_c-p-d">One Hand Cable Push Down</a> etc
                </div>
              </div>
            </div>

            <!-- <div class="function">
                <div class="tri-fun">
                  삼두는 신전 기능을 함(팔꿈치를 펴는 기능) - 삼두는 신전 동작만 하면 운동이 됨
                </div>
                <div class="tri-fun2">
                  장두는 견관절에 붙어 있기에 견관절의 신전 기능 또한 수행해야 더 효과적임 - 팔꿈치를 굴곡하고 머리 위로 올리면 최대 이완(<a href="#">라잉 트라이셉스 익스텐션, 오버헤드 트라이셉스 익스텐션</a>), 팔을 아래로 가게 하고 팔꿈치를 쭉 펴면 최대 수축이다(<a href="#">덤벨 킥 백, 푸쉬 다운</a>) 
                </div>
              </div> -->
            <div class="ps">
              All triceps exercises are effective for the entire triceps.
              Certain areas may do better or less. However, the action of
              folding and unfolding stimulates the entire triceps, and even if
              you stick to the basic movement, the triceps will be
              effective<br />
              When doing the triceps exercise, try putting strength on your
              little finger
            </div>
          </section>

          <section class="workout">
            <div id="te_l-t-e">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal32-11.">Lying Triceps Extension</span>
                  <div class="modal2" id="modal32-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    Grip - slightly wider than one fist in the middle of each
                    hand
                  </li>
                  <li>
                    Pauldrons - Elevating the shoulder blades will cause the
                    barbell to move vertically
                  </li>
                  <li>
                    Wrists - Bend upward in pronation when gripping the bar.
                    In addition, the wrist is fixed so that it does not move
                    while performing the movement
                  </li>
                  <li>
                    Elbows - Being conscious of not widening to the side and
                    gathering them inward
                  </li>
                  <li>
                    Shoulders - Move the shoulders slightly first, then use
                    the elbows to bend the bar toward the top of the head(but
                    don't strain the shoulders)
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Long Head</div>
              </div>
            </div>

            <div id="te_c-p-d">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal33-11.">Cable Push Down</span>
                  <div class="modal2" id="modal33-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Elbow - Consciously keep the elbow in contact with the
                    body
                  </li>
                  <li>Arms - Keep arms straight when lowering resistance</li>
                  <li>
                    Hips - Lower the bar vertically with the buttocks back(at
                    this time, if you pull it toward the body while lowering
                    it vertically, additional stimulation is provided to the
                    long head)
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation (MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Entire Tricpes</div>
                <div class="methods">
                  <h4>Various Actions</h4>
                  <div class="more-method">
                    <h4>Bar Push Down(Long Head)</h4>
                    <p>
                      Performing the above posture and pulling the bar toward
                      the body in a circular motion is effective for long head
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Bar Pushdown(lateral head)</h4>
                    <p>
                      It is effective if performed after placing the elbow in
                      front of the body
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Bar Pushdown(medial head)</h4>
                    <p>
                      It is effective if performed with the elbows slightly
                      spread to the side
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Rope Pushdown(Long Head)</h4>
                    <p>
                      After lowering the rope, squeezing it further behind the
                      body is effective for a long head
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>Rope Pushdown(lateral head)</h4>
                    <p>
                      If performed with a narrow grip, it is effective for the
                      lateral head
                    </p>
                  </div>
                  <div class="more-method">
                    <h4>One Handed Cable Push Down(medial head)</h4>
                    <p>
                      It is effective for the medial head when performed after
                      holding one hand with an undergrip
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="te_c-g-b-p">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal34-11.">Narrow Grip Bench Press</span>
                  <div class="modal2" id="modal34-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>Posture - Narrow Grip in Bench Pose</li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation (MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Triceps</div>
              </div>
            </div>

            <div id="te_b-d">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal35-11.">Bench Dips</span>
                  <div class="modal2" id="modal35-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>Hands - about shoulder width apart</li>
                  <li>
                    Feet - The farther away the foot position is, the higher
                    the intensity
                  </li>
                  <li>
                    body - the body must go down vertically to be effective
                  </li>
                  <li>elbow - elbow at 90 degrees</li>
                  <li>
                    internal rotation - internal rotation of the arm when
                    ascending
                  </li>
                  <li>
                    Tilt - Tilt your upper body forward slightly as you ascend
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation (MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Entire Triceps</div>
              </div>
            </div>

            <div id="te_o-t-e">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal36-11.">Overhead Triceps Extension</span>
                  <div class="modal2" id="modal36-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>
                    Arms - Keep your arms in line (vertical) with your head
                    when lifting resistance
                  </li>
                  <li>
                    Forearms - positioned so that the forearms are parallel to
                    the ground
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Entire Biceps</div>
                <div class="methods">
                  <h4>Various Actions</h4>
                  <div class="more-method">
                    <h4>Both Arm Dumbbel OTE</h4>
                    <p>easier to hold</p>
                  </div>
                  <div class="more-method">
                    <h4>One Arm Dumbbel OTE</h4>
                    <p>Allows for a deeper range of motion</p>
                  </div>
                  <div class="more-method">
                    <h4>Cabel OTE</h4>
                    <p>Can be performed while feeling a certain tension</p>
                  </div>
                  <div class="more-method">
                    <h4>Barbel OTE</h4>
                    <p>Overload is relatively easy</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="te_i-d-k-b">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal37-11.">Dumbbel Kick Back</span>
                  <div class="modal2" id="modal37-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Wrist - fixed in a straight line so as not to bend</li>
                  <li>
                    Torso - The upper body is fixed so that it does not move
                    with the triceps
                  </li>
                  <li>
                    Elbows - don't sit too low and don't bend or straighten
                    too quickly
                  </li>
                  <li>
                    Tension - Repeat the movement while maintaining tension
                    without completely lowering the arm
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Long Head</div>
              </div>
            </div>
          </section>
        </section>

        <!--   FOREARM   -->

        <section id="forearm" class="forearm">
          <h1 class="main-title cursor" data-modal-target2="#modal41-11.">
            FOREARM
          </h1>

          <div class="modal2" id="modal41-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://www.wadiz.kr/ft/images/green001/2021/1119/20211119120302928_26.jpg" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#fe_w-c">Wrist Curl</a></li>
              <li><a href="#fe_r-w-c">Reverse Wrist Curl</a></li>
              <li><a href="#fe_h-c">Hammer Curk</a></li>
              <li><a href="#fe_w-t">Wrist Twist</a></li>
              <li><a href="#fe_e-r-c">Easy Bar Reverse Curl</a></li>
              <li><a href="#fe_w-w">Winding Down</a></li>
            </ul>
          </nav>

          <section class="notion">
            <div class="region">
              <div class="reg">
                <div class="part">
                  <span class="bold">Flexors Muscles</span>
                  <div class="reg2">
                    perform the function of folding the wrist down. Causes of
                    thick forearms
                  </div>
                </div>
                <div class="detail">
                  <a href="#fe_w-c">Wrist Curl</a>,
                  <a href="#fe_w-w">Winding Down</a> etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">Extensor Muscles</span>
                  <div class="reg2">
                    Perform the function of folding the wrist up. Causes of
                    seperate forearms
                  </div>
                </div>
                <div class="detail">
                  <a href="#fe_r-w-c">Reverse Wrist</a>,
                  <a href="#fe_w-t">Wrist Twist</a>,
                  <a href="#fe_w-w">Winding Down</a> etc
                </div>
              </div>

              <div class="reg">
                <div class="part">
                  <span class="bold">Brachioradialis</span>
                  <div class="reg2">
                    Performs the function of flexing the elbow. Causes of wide
                    forearms
                  </div>
                </div>
                <div class="detail">
                  <a href="#fe_e-r-c">Easy Bar Reverse</a>,
                  <a href="#fe_h-c">Hammer</a> etc
                </div>
              </div>
            </div>
            <div class="ps"></div>
          </section>

          <section class="workout">
            <div id="fe_w-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal42-11.">Wrist Curl</span>
                  <div class="modal2" id="modal42-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Elbow - Fixed Elbow</li>
                  <li>wrist - curl inward</li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Flexors</div>
                <div class="methods">
                  <h4>Various Actions</h4>
                  <div class="more-method">
                    <h4>Cable Wrist Curl</h4>
                    <p>
                      Flexor muscles can be stimulated with constant tension
                      without risk of injury
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div id="fe_r-w-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal43-11.">Reverse Wrist Curl</span>
                  <div class="modal2" id="modal43-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Elbow - Fixed Elbow</li>
                  <li>wrist - curl outward</li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">Effective for Extensors</div>
              </div>
            </div>

            <div id="fe_h-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal44-11.">Hammer Curl</span>
                  <div class="modal2" id="modal44-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li onclick="myFunction(event)">Standard Posture</li>
                  <li>
                    Grip - Grab the upper end of the dumbbell with a neutral
                    grip
                  </li>
                  <li>Wrist - Curl the wrist after facing inward</li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">
                  Effective for Brachioradialis and Biceps
                </div>
              </div>
            </div>

            <div id="fe_w-t">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal45-11.">Wrist Twist</span>
                  <div class="modal2" id="modal45-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>Elbow - The elbow is fixed</li>
                  <li>
                    Biceps - Practice with awareness of the fact that the
                    lower part of the biceps rotates, not just the wrist
                  </li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                  <li>
                    ! Performing this exercise with a weight you can control
                    after warming up and stretching will prevent injury
                  </li>
                </ul>
                <div class="benefit">
                  Effective for Forearms and Lower Biceps
                </div>
              </div>
            </div>

            <div id="fe_e-r-c">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal46-11.">Easy Bar Reverse Curl</span>
                  <div class="modal2" id="modal46-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>
                    Starting Point - Start at the waist, not in a fully
                    extended position
                  </li>
                  <li>
                    Grip - Narrower than shoulder width with an overgrip
                  </li>
                  <li>
                    Vertical - lift the bar vertically after keeping it close
                    to the body
                  </li>
                  <li>
                    Extension - If you extend your wrists toward your body
                    after lifting the bar, additional stimulation of the
                    extensors
                  </li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">
                  Effective for Brachioradialis and Extensors
                </div>
              </div>
            </div>

            <div id="fe_w-w">
              <div class="main-wt">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal47-11.">Winding Down</span>
                  <div class="modal2" id="modal47-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li class="basic-form" onclick="myFunction(event)">
                    Standard Posture
                  </li>
                  <li>
                    Plate - After placing the bar in a high position on the
                    rack, insert the disc on one side
                  </li>
                  <li>
                    Bands - put a rubber band on the non-plate side and tie a
                    kettlebell underneath it
                  </li>
                  <li>
                    Movement - Raising and lowering the kettlebell while
                    rotating the barbell
                  </li>
                  <li>
                    Tension - repetition of movements while maintaining
                    tension
                  </li>
                  <li>
                    Contraction - Concentrate on contraction to feel
                    stimulation(MMC)
                  </li>
                </ul>
                <div class="benefit">
                  Very effective for Extensors and Flexors
                </div>
              </div>
            </div>

            <div id="fe_g-m">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target2="#modal48-11.">Grip Machine</span>
                  <div class="modal2" id="modal48-11.">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">
                        &times;
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <img src="" alt="" />
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    Grip - After placing it in the palm of your hand, slightly
                    raise the gripper
                  </li>
                  <li>
                    Thumb - Firmly fix the gripper by applying force to the
                    thumb as well
                  </li>
                </ul>
                <div class="benefit">Effective for Forearms</div>
              </div>
            </div>
          </section>
        </section>

        <button class="material-symbols-outlined up-arrow">
          <a href="#upEn">arrow_upward</a>
        </button>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>

  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>

  
</body>

</html>