<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <%- include('includes/head') %>


  <title>GYMFO - BACK</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-3V384T0LJC");
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>

  
<%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>

        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal51">등</h1>

          <div class="modal" id="modal51">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img
                  src="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMDZfMjIy/MDAxNTgzNDcyMTQyNzc2.qmBz7IJThBWHEg7ACIrEzgNhfZRA3bIfGw98-qX1Kw8g.4-A7qNKV20iHaeW4YwA-U1zy4P5wzHbJabCvVck3YPgg.PNG.jintaeky/%EC%8A%B9%EB%AA%A8%EA%B7%BC.png?type=w800"
                  alt="" />
                <img src="https://blog.kakaocdn.net/dn/OKYHC/btqv7DPco9Q/etrddVK16Wwhx7AilAbSA1/img.png" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>

        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#lk_d-l">데드리프트</a></li>
            <li><a href="#lk_b-r">바벨로우</a></li>
            <li><a href="#lk_s-r">시티드 로우</a></li>
            <li><a href="#lk_p-u">풀업</a></li>
            <li><a href="#lk_l-d">랫풀다운</a></li>
            <li><a href="#lk_c-a-p-d">케이블 암풀다운</a></li>
            <li><a href="#lk_s">슈러그</a></li>
            <li><a href="#lk_u-r">업라이트 로우</a></li>
          </ul>
        </nav>

        <section class="notion">
          <div class="reg">
            <div class="part">
              <span class="bold">상부 등</span>
              <div class="reg2">승모근, 대소능형근, 상후거근, 대원근</div>
            </div>
            <div class="details">
              <a href="#lk_p-u">넓은 오버 그립 풀업/랫풀 다운</a>, 상체
              올릴수록(로우 운동 시) 등
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">중부 등</span>
              <div class="reg2">광배근(활배근)</div>
            </div>
            <div class="details">
              <a href="#lk_p-u">풀업</a>, <a href="#lk_l-d">랫풀다운</a>,
              <a href="#lk_b-r">바벨로우</a>, 상체 숙일수록(로우 운동 시)
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">하부(+ 허리) 등</span>
              <div class="reg2">광배근, 척추기립근, 하후거근</div>
            </div>
            <div class="details">
              <a href="#lk_b-r">덤벨 스윙 로우</a>,
              <a href="#lk_p-u">좁은 언더 그립 풀업/랫풀다운</a>,
              <a href="#lk_c-a-p-d">케이블 암 풀 다운</a> 등
            </div>
          </div>

          <div class="ps">
            <p>
              해부학적으로 등 근육은 상중하로 나뉘어 있지 않다. 우리가 부르기
              편하게 만들어 낸 것이다
            </p>
            <p>넓은 그립 - 바깥 쪽</p>
            <p>좁은 그립 - 안쪽</p>
            <p>수평 수축 - 상부</p>
            <p>사선(위 아래 둘다) 수축 - 하부</p>
          </div>
        </section>

        <section class="workout">
          <div id="lk_d-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal52">데드리프트</span>
                <div class="modal" id="modal52">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>바벨 위치 - 정강이에서 2~3cm 정도 띄어서 위치</li>
                <li>척추 중립 - 등 전체 일자</li>
                <li>외회전 - 바를 잡은 상태에서 팔에 살짝 외회전</li>
                <li>
                  힙 힌지 - 무릎은 고정하고 고관절이 뒤로 빠지게 자세 형성
                </li>
                <li>복압 - 복식호흡을 한다고 생각. 복부에 힘 주기</li>
                <li>
                  힙 드라이브 - 바 올리면서 엉덩이를 밀어 넣어야 한다. 또한
                  팔이 아닌 발로 지면을 밀어 올리는 느낌으로 수행
                </li>
                <li>
                  호흡 - 바벨을 올리기 전 아래에서 호기(들숨), 올린 후
                  내려가서 흡기(날숨). 바벨이 아래에 있는 상태에서 호기와 흡기
                  둘다 수행
                </li>
              </ul>
              <div class="benefit">하체와 등에 효과적</div>

              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>컨벤셔널 데드</h4>
                  <p>위에서 설명한 가장 전통적이고 일반적인 데드리프트</p>
                </div>
                <div class="more-method">
                  <h4>루마니안 데드</h4>
                  <p>
                    컨벤과 다르게 땅이 아닌 위에 바벨을 두고 바벨을 뽑아서
                    시작. 정강이까지 내린 후 다시 올라오는 동작 수행. 상체가
                    숙여짐에 집중. 등과 상체에 집중적으로 수행. 이때 바를 잡은
                    상태에서 팔을 내회전 하면 광배 참여 더욱 증가
                  </p>
                </div>
                <div class="more-method">
                  <h4>스모 데드</h4>
                  <p>
                    다리를 넓게 벌리고 살짝 앉은 모습으로 시작. 정강이는
                    완전히 바에 붙이고 둔근에 집중
                  </p>
                </div>
                <div class="more-method">
                  <h4>스티프 데드</h4>
                  <p>
                    다리를 구부리지 않고 늘려주는 느낌으로 진행. 고관절이 뒤로
                    빠지게 의식. 햄스트링에서 둔근에 자극이 오는 것에 집중하며
                    수행
                  </p>
                </div>
                <div class="more-method">
                  <h4>랙풀</h4>
                  <p>
                    바벨을 뽑아 올린다는 느낌으로 수행. 루마니안 데드처럼 어느
                    정도 위에서 시작. 어깨를 살짝 구부려 진행. 승모에 집중하는
                    운동
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="lk_b-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal53">바벨로우</span>
                <div class="modal" id="modal53">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>팔 - 내회전 후 광배 신전</li>
                <li>
                  상체 각도 - 20~30도 정도만 숙여 보아라. 상급자는 90도도 좋음
                </li>
                <li>힙 힌지 - 고관절을 뒤로 빼면서 숙여 보아라</li>
                <li>
                  목 - 반동을 주면서 수행하면 목이 왔다 갔다 할 수 있으니 안
                  움직이게 의식
                </li>
                <li>
                  무게 중심 - 바벨을 내린 상태에서는 뒷꿈치 쪽에 체중을 싣고,
                  바벨을 당기면서는 발가락 쪽에 체중 이동
                </li>
                <li>
                  바 - 날개뼈를 후인 한 후 골반 쪽으로 약간 사선이 되도록 당겨
                  보아라
                </li>
                <li>손가락 - 약지와 새끼 손가락에 힘</li>
                <li>
                  견갑- 날개뼈를 모아주면서 팔꿈치를 뒤로 보내준다고
                  생각하면서 수행
                </li>
              </ul>
              <div class="benefit">
                그립에 따라 등 상중하에 다양하게 자극 줄 수 있으며 등 두께감에
                효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>오버 그립</h4>
                  <p>
                    승모근, 대원근, 능형근에 집중 가능. 즉, 등의 두께에 집중
                  </p>
                </div>
                <div class="more-method">
                  <h4>언더 그립</h4>
                  <p>
                    광배 하부 집중. 팔꿈치가 몸통에 가까이 붙어 더 깊은 가동
                    범위 가능. 이두근 참여울이 높아 허리 부담이 상대적으로
                    낮음
                  </p>
                </div>
                <div class="more-method">
                  <h4>넓은 그립</h4>
                  <p>등의 두께에 효과적(승모 등)</p>
                </div>
                <div class="more-method">
                  <h4>좁은 그립</h4>
                  <p>등의 너비에 효과적(광배 등)</p>
                </div>
                <div class="more-method">
                  <h4>펜들레이 로우</h4>
                  <p>
                    1회씩 끊어서 폭발적인 동작을 수행. 파워리프팅에 주로 사용.
                    허리 각도는 90도 정도, 의식적으로 무릎에 반동 주지 않게
                    집중
                  </p>
                </div>
                <div class="more-method">
                  <h4>덤벨 로우(원암)</h4>
                  <p>
                    한 손은 벤치에 고정하고 그 손의 반대 쪽 다리는 넓게 벌려
                    몸을 안정적으로 고정한 후 오버그립으로 덤벨을 뒤로 당겨라.
                    뒤로 당길 때 몸통에 약간의 회전을 주면 더 효과적
                  </p>
                </div>
                <div class="more-method">
                  <h4>덤벨 스윙 로우(원암)</h4>
                  <p>
                    덤벨을 앞뒤로 가볍게 스윙하라. 이때 수축 시 몸통에 약간의
                    회전을 주면 더 효과적
                  </p>
                </div>
                <div class="more-method">
                  <h4>T-바 로우</h4>
                  <p>
                    궤적이 일정하여 허리 부담이 적다. 상체를 세워 승모,기립근
                    등에 자극 집중 가능
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="lk_s-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal54">시티드 로우</span>
                <div class="modal" id="modal54">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>팔 - 내회전 후 광배 신전</li>
                <li>
                  힙 힌지 - 엉덩이를 살짝 뒤로 빼고 상체는 앞으로 기울기
                </li>
                <li>상체 - 중립 유지</li>
                <li>
                  팔꿈치 - 팔꿈치를 뒤로 보내 준다는 느낌으로 쭉쭉 당기기.
                  이떄 등을 접으면서 가슴을 앞으로 내밀지 않기
                </li>
              </ul>
              <div class="benefit">
                그립에 따라 그립에 따라 등 상중하에 다양하게 자극 줄 수 있으며
                등 두께감에 효과적
              </div>
            </div>
          </div>

          <div id="lk_p-u">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal55">풀업</span>
                <div class="modal" id="modal55">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>그립 - 어깨 너비에서 햔 뼘 정도. 오버그립</li>
                <li>숄더 패킹 - 바를 잡고 숄더 패킹</li>
                <li>손가락 - 약지와 새끼 손가락에 힘을 주면서 수행</li>
                <li>팔꿈치 - 팔꿈치를 몸통에 최대한 붙이려고 의식</li>
                <li>
                  쇄골 - 가능하다면 쇄골 있는 데까지 수행. 그렇다고 쇄골에 안
                  닿는데 무리 할 필요는 없다
                </li>
                <li>
                  이완 - 몸을 내릴 때 계쇽 숄더 패킹을 통해 견갑을 고정하고
                  있는 것이 아닌 광배근의 최대 이완(신장성 수축)을 위해 숄더
                  패킹 해제
                </li>
                <li>
                  견갑 - 팔과 이두로 내리는 것이 아닌 견갑의 움직임에 계속
                  집중하면서 동작을 수행
                </li>
              </ul>
              <div class="benefit">
                그립에 따라 등 상중하에 다양하게 자극 줄 수 있으며 등 전체에
                효과적
              </div>

              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>오버 + 넓은 그립</h4>
                  <p>등 상부와 중부(너비)에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>언더 + 좁은 그립</h4>
                  <p>등 하부와 이두에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>오버 + 좁은 그립</h4>
                  <p>등 상부(안쪽)에 효과적</p>
                </div>
              </div>
            </div>
          </div>

          <div id="lk_l-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal56">랫풀다운</span>
                <div class="modal" id="modal56">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>그립 - 어깨 너비에서 햔 뼘 정도. 오버그립</li>
                <li>숄더 패킹 - 바를 잡고 숄더 패킹</li>
                <li>손가락 - 약지와 새끼 손가락에 힘을 주면서 수행</li>
                <li>팔꿈치 - 팔꿈치를 몸통에 최대한 붙이려고 의식</li>
                <li>허리 - 허리를 너무 과하게 신전하지 않게 의식</li>
                <li>
                  쇄골 - 바를 내릴 때 위치는 쇄골 정도가 적당. 가능한 자신의
                  가동범위에 맞게 수행
                </li>
                <li>
                  이완 - 바를 올렸을 때, 계쇽 숄더 패킹을 통해 견갑을 고정하고
                  있는 것이 아닌 광배근의 최대 이완(신장성 수축)을 위해 숄더
                  패킹 해제
                </li>
                <li>
                  견갑 - 팔과 이두로 내리는 것이 아닌 견갑의 움직임에 계속
                  집중하면서 동작을 수행
                </li>
              </ul>
              <div class="benefit">
                그립에 따라 등 상중하에 다양하게 자극 줄 수 있으며 등 너비감에
                효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>오버 + 넓은 그립</h4>
                  <p>등 상부와 중부(너비)에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>언더 + 좁은 그립</h4>
                  <p>등 하부와 이두에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>오버 + 좁은 그립</h4>
                  <p>등 상부(안쪽)에 효과적</p>
                </div>
              </div>
            </div>
          </div>

          <div id="lk_c-a-p-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal57">케이블 암풀다운</span>
                <div class="modal" id="modal57">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>팔꿈치 - 팔꿈치를 살짝 구부려 주고 바깥을 향하게 위치</li>
                <li>고관절 - 엉덩이는 살짝 뒤로 뺴기</li>
                <li>
                  자극점 - 상부 등과 팔에는 힘을 빼고 광배로 내린다는 느낌을
                  의식
                </li>
                <li>
                  숄더 패킹 - 숄더 패킹을 고정 하지 말고 바를 올릴 때 광배를
                  늘려 주는 것을 의식
                </li>
                <li>
                  궤적 - 반원을 그려 준다는 느낌으로 바를 아래로 내리면서
                  고관절 쪽으로 당기기
                </li>
              </ul>
              <div class="benefit">등 중하부에 효과적</div>
              <div class="methods">
                <h4>다양한 동작</h4>
                <div class="more-method">
                  <h4>원암 케이블 암 풀 다운</h4>
                  <p>
                    무릎을 꿇은 상태에서 팔꿈치를 옆구리 쪽으로 지긋이 눌러
                    줘라.등 상부(대원근(겨드랑이 쪽))에 효과적
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="lk_s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal58">슈러그</span>
                <div class="modal" id="modal58">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>기울기 - 약간 앞으로 기울기</li>
                <li>팔꿈치 - 살짝 굴곡</li>
                <li>
                  가동범위 - 승모가 귀에 닿는 다는 느낌으로 올리고 내릴 땐
                  어깨를 쭉 스트레칭
                </li>
                <li></li>
                <li></li>
              </ul>
              <div class="benefit">등 상부(상부, 중부 승모)에 효과적</div>
            </div>
          </div>

          <div id="lk_u-r-r">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal59">업라이트 로우</span>
                <div class="modal" id="modal59">
                  <div class="modal-header">
                    <button data-close-button class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  기본 자세
                </li>
                <li>그립 - 주먹 두 개가 들어갈 정도의 너비</li>
                <li>손등 - 손등이 앞을 보게 수행</li>
                <li>바 - 이지바 사용</li>
                <li>
                  팔꿈치 - 양 팔꿈치가 일직선이 되는 정도로 수행(턱까지
                  가능하면 수행)
                </li>
              </ul>
              <div class="benefit">
                등 중부(중부, 하부 승모) 두께감에 효과적
              </div>
            </div>
          </div>
        </section>

        <button class="material-symbols-outlined up-arrow">
          <a href="#upKo">arrow_upward</a>
        </button>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>

  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>

        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal51-11.">
            BACK
          </h1>

          <div class="modal2" id="modal51-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img
                  src="https://mblogthumb-phinf.pstatic.net/MjAyMDAzMDZfMjIy/MDAxNTgzNDcyMTQyNzc2.qmBz7IJThBWHEg7ACIrEzgNhfZRA3bIfGw98-qX1Kw8g.4-A7qNKV20iHaeW4YwA-U1zy4P5wzHbJabCvVck3YPgg.PNG.jintaeky/%EC%8A%B9%EB%AA%A8%EA%B7%BC.png?type=w800"
                  alt="" />
                <img src="https://blog.kakaocdn.net/dn/OKYHC/btqv7DPco9Q/etrddVK16Wwhx7AilAbSA1/img.png" alt="" />
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>

        <nav class="main-nav">
          <h4>Shortcut</h4>
          <ul>
            <li><a href="#le_d-l">Deadlift</a></li>
            <li><a href="#le_b-r">Barbel Row</a></li>
            <li><a href="#le_s-r">Seated Row</a></li>
            <li><a href="#le_p-u">Pull Up</a></li>
            <li><a href="#le_l-d">Lat Pull Down</a></li>
            <li><a href="#le_c-a-p-d">Cabel Arm Pull Down</a></li>
            <li><a href="#le_s">Shrug</a></li>
            <li><a href="#le_u-r">Upright Row</a></li>
          </ul>
        </nav>

        <section class="notion">
          <div class="reg">
            <div class="part">
              <span class="bold">Upper Back</span>
              <div class="reg2">
                trapezius, rhomboid minor, serratus posterior superior, teres
                major
              </div>
            </div>
            <div class="details">
              <a href="#le_p-u">Wide overgrip Pull Up / Lat Pull Down</a>,The
              more the upper body is raised(during row exercises) etc
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">Central Back</span>
              <div class="reg2">Latissimus dorsi</div>
            </div>
            <div class="details">
              <a href="#le_p-u">Pull Up</a>,
              <a href="#le_l-d">Lat Pull Down</a>,
              <a href="#le_b-r">Barbel Row</a>, The more the upper body is
              bowed(during row exercises) etc
            </div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">Lower Back(+ Waist)</span>
              <div class="reg2">
                latissimus dorsi, erector spinae, serratus posterior inferior
              </div>
            </div>
            <div class="details">
              <a href="#le_b-r">Dumbbell Swing Row</a>,
              <a href="#le_p-u">Close undergrip Pull Up / Lat Pull Down</a>,
              <a href="#le_c-a-p-d">Cabel Arm Pull Down</a> etc
            </div>
          </div>

          <div class="ps">
            <p>Wide Grip - Outside Back</p>
            <p>Narrow Grip - Inner Back</p>
            <p>Horizontal Retraction - Top</p>
            <p>Diagonal(both upper and lower) contraction - lower</p>
          </div>
        </section>

        <section class="workout">
          <div id="le_d-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal52-11.">Deadlift</span>
                <div class="modal2" id="modal52-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Barbell position - 2 to 3 cm away from the shin</li>
                <li>Spine Neutral - Full Back Straight</li>
                <li>
                  External Rotation - Slight external rotation on the arms
                  while holding the bar
                </li>
                <li>
                  Hip Hinge - Knees are fixed and the hips are in a backward
                  position
                </li>
                <li>
                  Abdominal Pressure - Think of it as abdominal breathing.
                  give strength to the stomach
                </li>
                <li>
                  Hip Drive - Push your hips in as you raise the bar. Also,
                  perform with the feeling of pushing up the ground with your
                  feet, not your arms
                </li>
                <li>
                  Breathing - Exhale (inhale) from the bottom before lifting
                  the barbell, and inhale (exhale) from the bottom after
                  lifting it. Perform both exhalation and inspiration with the
                  barbell down
                </li>
              </ul>
              <div class="benefit">Effective for Leg and Back</div>

              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Conventional Deadlift</h4>
                  <p>
                    The most traditional and common deadlift described above
                  </p>
                </div>
                <div class="more-method">
                  <h4>Romanian Deadlift</h4>
                  <p>
                    Unlike the convention, start by placing a barbell on the
                    upper level instead of on the ground. Perform the movement
                    of lowering to the shin and then coming back up.
                    Concentrate on lowering your upper body. Keep spine
                    straight. When the arm is internally rotated while in the
                    stance, lat participation is further increased.
                  </p>
                </div>
                <div class="more-method">
                  <h4>Sumo Deadlift</h4>
                  <p>
                    Start in a slightly seated position with your legs spread
                    wide. Keep your shins fully on the bar and focus on your
                    glutes
                  </p>
                </div>
                <div class="more-method">
                  <h4>Stiff Deadlift</h4>
                  <p>
                    Proceed with the feeling of extending your legs without
                    bending them. Conscious of letting your hip fall back.
                    Perform while focusing on stimulation from the hamstrings
                    to the gluteal muscles
                  </p>
                </div>
                <div class="more-method">
                  <h4>Rack Pull</h4>
                  <p>
                    Perform with the feeling of lifting a barbell. Like the
                    Romanian Dead, it starts more or less above. Keep your
                    shoulders slightly bent. Exercises that focus on the
                    trapezius
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="le_b-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal53-11.">Barbel Row</span>
                <div class="modal2" id="modal53-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Arms - lat extension after medial rotation</li>
                <li>
                  Upper Body Angle - Lean only 20 to 30 degrees. 90 degrees is
                  good for advanced users
                </li>
                <li>Hip Hinge - Bend as you pull your hips back</li>
                <li>
                  Neck - If you practice while giving a rebound, your neck may
                  move back and forth, so be conscious of not moving it
                </li>
                <li>
                  Center of Gravity - When the barbell is lowered, the weight
                  is on the heel side, and when the barbell is pulled, the
                  weight is shifted to the toe side
                </li>
                <li>
                  Bar - Retract the scapula and pull it slightly diagonally
                  toward the pelvis
                </li>
                <li>
                  Fingers - Strength on the ring finger and little finger
                </li>
                <li>
                  Shoulder blades - Perform while bringing the shoulder blades
                  together and thinking of sending the elbows back
                </li>
              </ul>
              <div class="benefit">
                Depending on the grip, it can stimulate the upper, middle and
                lower back in various ways and is effective for the thickness
                of the back
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Over Grip</h4>
                  <p>
                    You can focus on the trapezius, teres major, and rhomboid
                    muscles. That is, focus on the thickness of the back
                  </p>
                </div>
                <div class="more-method">
                  <h4>Under Grip</h4>
                  <p>
                    Concentrate on lower lats. Elbows stay close to the torso
                    for greater range of motion. High bicep participation
                    rate, relatively low back burden
                  </p>
                </div>
                <div class="more-method">
                  <h4>Wide Grip</h4>
                  <p>
                    Effective for the thickness of the back(trapezius etc)
                  </p>
                </div>
                <div class="more-method">
                  <h4>Close Grip</h4>
                  <p>
                    Effective for the wideness of the back(latissimus dorsi
                    etc)
                  </p>
                </div>
                <div class="more-method">
                  <h4>Pendlay Row</h4>
                  <p>
                    Perform explosive movements by cutting off one at a time.
                    Mainly used for powerlifting. The angle of the waist is
                    about 90 degrees, consciously focusing on not rebounding
                    the knee
                  </p>
                </div>
                <div class="more-method">
                  <h4>Dumbbell Row(One Arm)</h4>
                  <p>
                    With one hand planted on the bench and the opposite leg
                    wide apart to stabilize your body, pull the dumbbell back
                    with an overgrip. It is more effective if you give your
                    torso a slight rotation when pulling back
                  </p>
                </div>
                <div class="more-method">
                  <h4>Dumbbell Swing Row(One Arm)</h4>
                  <p>
                    Swing the dumbbells back and forth lightly. At this time,
                    it is more effective to give a slight rotation to the
                    torso during contraction
                  </p>
                </div>
                <div class="more-method">
                  <h4>T-Bar Row</h4>
                  <p>
                    Since the trajectory is constant, there is less burden on
                    the back. Possible to concentrate stimulation on the
                    trapezius and erector muscles by raising the upper body
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="le_s-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal54-11.">Seated Row</span>
                <div class="modal2" id="modal54-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Arms - lat extension after medial rotation</li>
                <li>
                  Hip Hinge - Slightly push your hips back and tilt your torso
                  forward
                </li>
                <li>Upper body - stay neutral</li>
                <li>
                  Elbow - Pull the elbow straight with the feeling of sending
                  it back. Do not push your chest forward while bending your
                  back
                </li>
              </ul>
              <div class="benefit">
                Depending on the grip, the upper, middle and lower back can be
                stimulated in various ways, and it is effective for the
                thickness of the back
              </div>
            </div>
          </div>

          <div id="le_p-u">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal55-11.">Pull Up</span>
                <div class="modal2" id="modal55-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Grip - about a hand from shoulder width. overgrip</li>
                <li>Shoulder Packing - Grab the bar and shoulder pack</li>
                <li>
                  Fingers - Perform with strength on the ring finger and
                  little finger
                </li>
                <li>
                  Elbows - Consciously try to keep your elbows as close to
                  your torso as possible
                </li>
                <li>
                  Clavicle - If possible, perform as far as the collarbone.
                  However, it does not touch the collarbone, so there is no
                  need to overdo it.
                </li>
                <li>
                  Relaxation - Release shoulder packing for maximum relaxation
                  (eccentric contraction) of the latissimus dorsi rather than
                  holding the shoulder girdle in place through the gye-shock
                  shoulder packing when lowering the body
                </li>
                <li>
                  Shoulders - perform the movement while still focusing on the
                  movement of the shoulder blades rather than lowering to the
                  arms and biceps
                </li>
              </ul>
              <div class="benefit">
                Depending on the grip, it can stimulate the upper, middle and
                lower back in various ways and is effective for the entire
                back
              </div>

              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Over + Wide Grip</h4>
                  <p>Effective for the Upper and Middle Back(width)</p>
                </div>
                <div class="more-method">
                  <h4>Under + Narrow 그립</h4>
                  <p>Effective for Back and Biceps</p>
                </div>
                <div class="more-method">
                  <h4>Over + Narrow Grip</h4>
                  <p>Effective on the Upper Back(inside)</p>
                </div>
              </div>
            </div>
          </div>

          <div id="le_l-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal56-11.">Lat Pull Down</span>
                <div class="modal2" id="modal56-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Grip - about a hand from shoulder width. overgrip</li>
                <li>Shoulder Packing - Grab the bar and shoulder pack</li>
                <li>
                  Fingers - Perform with strength on the ring finger and
                  little finger
                </li>
                <li>
                  Elbows - Consciously try to keep your elbows as close to
                  your torso as possible
                </li>
                <li>
                  Waist - Be conscious of not overextending your lower back
                </li>
                <li>
                  Collarbone - When lowering the bar, the position should be
                  around the collarbone. Perform according to your range of
                  motion as much as possible
                </li>
                <li>
                  Relaxation - When the bar is raised, release the shoulder
                  packing for maximum relaxation (eccentric contraction) of
                  the latissimus dorsi rather than holding the shoulder girdle
                  in place through the gye-shock shoulder packing
                </li>
                <li>
                  Shoulders - perform the movement while still focusing on the
                  movement of the shoulder blades rather than lowering to the
                  arms and biceps
                </li>
              </ul>
              <div class="benefit">
                Depending on the grip, it can stimulate the upper, middle and
                lower back in various ways and is effective for the width of
                the back
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Over + Wide Grip</h4>
                  <p>Effective for the Upper and Middle Back(width)</p>
                </div>
                <div class="more-method">
                  <h4>Under + Narrow 그립</h4>
                  <p>Effective for Back and Biceps</p>
                </div>
                <div class="more-method">
                  <h4>Over + Narrow Grip</h4>
                  <p>Effective on the Upper Back(inside)</p>
                </div>
              </div>
            </div>
          </div>

          <div id="le_c-a-p-d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal57-11.">Cabel Arm Pull Down</span>
                <div class="modal2" id="modal57-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>
                  Elbows - Slightly bend your elbows and point them outward
                </li>
                <li>Hips - Hips slightly back</li>
                <li>
                  Stimulus point - Be aware of the feeling of lowering your
                  upper back and arms to your lats
                </li>
                <li>
                  Shoulder Packing - Do not fix the shoulder packing and be
                  aware of increasing the lats when lifting the bar
                </li>
                <li>
                  Trajectory - pull the bar down toward the hips as if drawing
                  a semicircle
                </li>
              </ul>
              <div class="benefit">Effective for Lower Back</div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>One Arm Cabel Arm Pull Down</h4>
                  <p>
                    While kneeling, gently press your elbows toward your
                    sides. Effective for the upper back (teres major muscle
                    (armpit side))
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div id="le_s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal58-11.">Shrug</span>
                <div class="modal2" id="modal58-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Tilt - Tilt slightly forward</li>
                <li>elbows - slightly bent</li>
                <li>
                  Range of motion - Stretch the shoulders all the way when
                  raising and lowering with the feeling that the trapezius
                  touches the ear
                </li>
              </ul>
              <div class="benefit">
                Effective for the Upper Back(upper, middle trap)
              </div>
            </div>
          </div>

          <div id="le_u-r-r">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal59-11.">Upright Row</span>
                <div class="modal2" id="modal59-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="" />
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">
                  Standard Posture
                </li>
                <li>Grip - wide enough to fit two fists</li>
                <li>
                  On the back of the hand - performed with the back of the
                  hand facing forward
                </li>
                <li>Bar - Use Easy Bar</li>
                <li>
                  Elbows - Do this until your elbows are in a straight line(up
                  to your chin if possible)
                </li>
              </ul>
              <div class="benefit">
                Effective for thickness in the Middle of the Back(middle and
                lower trapezius)
              </div>
            </div>
          </div>
        </section>

        <button class="material-symbols-outlined up-arrow">
          <a href="#upEn">arrow_upward</a>
        </button>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>

  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>