<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - BODY</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


<%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">인체</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
            </ul>
          </nav>
        </section>


        <section class="body">
          <div id="b_h">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">호르몬</h4>
              <ul class="btm-spc">
                <li>
                  <h4>테스토스테론</h4>
                </li>
                <li>통칭 남성 호르몬으로 근육을 회복하고 강하게 한다</li>
                <li>유산소 보단 고강도 웨이트로 운동을 마무리 하면 운동이 끝난 시점에서 1시간 정도 추가로 테스토스테론이 분비된다</li>
                <li class="btm-spc">성욕 증가, 골밀도 증가, 신진대사 증가, 지방 감량 등의 효과가 있다</li>

                <li>
                  <h4>성장 호르몬</h4>
                </li>
                <li></li>
                <li>근육을 성장시키고, 면역 시스템을 증진시키며, 지방 분해를 한다</li>
                <li class="btm-spc"><strong>이른 수면(10~1시 사이에 가장 많이 분비됨)</strong>과 <strong>고강도 운동</strong>은 성장호르몬 증진에
                  효과적이다
                </li>

                <li>
                  <h4>코티졸</h4>
                </li>
                <li>통칭 스트레스 호르몬으로 근육을 분해해서 혈당을 올리고 지방으로 저장한다</li>
                <li>
                  <div class="bottom-15px"> 스트레스를 받으면 코티졸이 분비되고 높은 스트레스는 도파민으로 하여금 정제 탄수화물이나 당류를 섭취하게 한다</div>
                  <div>이는 혈당을 올리며 높아진 혈당을 낮추기 위해 인체는 인슐린을 분비한다. 인슐린으로 낮아진 혈당으로 인해 인체는 다시 코티졸을 분비하며 이가 반복될 시 살이 찌게 된다
                  </div>
                </li>
                <li class="btm-spc"></li>

                <li>
                  <h4>인슐린</h4>
                </li>
                <li>혈당을 낮춰주고 포도당과 지방대사를 조절하며 포도당을 근육으로 전달하는 아주 중요한 호르몬이다</li>
                <li>
                  <div class="btm-15px">인슐린은 잉여 포도당을 글리코겐으로 저장시키며 이후에도 남는다면 지방으로 저장한다</div>
                  <div>운동을 한다면 충분한 에너지가 저장된 글리코겐을 사용하기에 인슐린은 아주 이롭다. 그러나 운동을 하지 않는다면 살이 찌게 된다. 그러니 웨이트를 강력히 권한다</div>
                </li>
                <li class="btm-spc">식후 20~30분 이내에 분비된다</li>

                <li>
                  <h4>글루카곤</h4>
                </li>
                <li>혈당을 올려주고 지방을 분해한다</li>
                <li>
                  <div class="btm-15px">밥을 먹으면 혈당이 상승하고 인슐린이 분비된다. 이후 글리코겐과 지방에 에너지가 저장되며</div>
                  <div>일정 시간이 지나면 혈당이 감소한다. 이때 글루카곤이 작용하여 혈당을 높이고 글리코겐과 지방을 분해한다</div>
                </li>
                <li>
                  <div class="btm-15px">글루카곤은 낮엔 인슐린 분비 후 1시간 이내에 분비되지만 밤에는 인슐린 분비 후 5시간이 지나야 분비된다</div>
                  <div>밤에 야식을 먹으면 살 찌는 이유이다</div>
                </li>
              </ul>


              <ul class="btm-spc">
                <li>
                  <h4>펩타이드</h4>
                </li>
                <li class="btm-spc">식욕을 저하시키고 포만감을 증진한다</li>

                <li>
                  <h4>렙틴</h4>
                </li>
                <li class="btm-spc">식욕을 억제하고 에너지 균형을 조절한다</li>

                <li>
                  <h4>그렐린</h4>
                </li>
                <li>식욕을 자극한다</li>
                <li class="btm-spc"><strong>건강하게 잘 먹고 잘 자면 정상적으로 작동한다</strong></li>
              </ul>

              <ul class="btm-spc">
                <li>
                  <h4>도파민</h4>
                </li>
                <li>보상 시스템, 동기 부여, 수면, 성취감, 운동 신경 자극 또는 억제 등 많은 기능을 한다</li>
                <li>도파민이 분비될수록 쾌락을 느끼며 의욕, 행복감, 성취감, 기쁨, 감동 등을 느끼게 한다</li>
                <li class="btm-spc"><strong>운동, 단백질 섭취(유제품, 콩류), 작은 목표 설정 / 보상, 음악, 찬물 샤워, 햇볕</strong>은 도파민 증진에 효과적이다
                </li>

                <li>
                  <h4>세로토닌</h4>
                </li>
                <li>통칭 행복 호르몬으로 행복한 감정을 느끼게 해주는 분자이다</li>
                <li>항중력근을 흥분시키는 척수의 운동신경을 자극한다. 즉 척추 근육이 반듯해지고 얼굴에 생기가 돈다</li>
                <li>도파민 신경과 노르아드레날린 신경을 억제하고 평온함을 만든다</li>
                <li class="btm-spc"><strong>운동, 햇볕, 긍적적 사고, 좋은 분위기</strong>는 세로토닌 증진에 효과적이다</li>

                <li>
                  <h4>엔돌핀</h4>
                </li>
                <li class="btm-spc">고통완화, 고양된 감정 안겨준다</li>

                <li>
                  <h4>멜라토닌</h4>
                </li>
                <li class="btm-spc">낮에 분비된 세로토닌은 밤에 멜라토닌으로 변환되어 수면의 질을 향상시킨다</li>

                <li>
                  <h4>옥시토신</h4>
                </li>
                <li>통칭 사랑의 호르몬으로 신뢰감, 사랑, 불안감소, 유대감, 자제력 등을 느끼게 한다</li>
                <li class="btm-spc">운동, 스킨쉽, 명상, 감정적인 행동(격려, 칭찬 등)이 옥시토신 증진에 효과적이다</li>

                <li>
                  <h4>에피네프린(아드레날린)</h4>
                </li>
                <li>신체가 위협에 빠르게 대응할 준비를 한다</li>
                <li>
                  <div>혈압을 높이고 심장을 빠르게 뛰게 한다</div>
                  <div>소화를 늦추고 산소와 포도당을 뇌와 근육에 집중시킨다. 간에서 포도당을 글리코겐으로 분해하여 혈당이 올라가고 지방이 분해된다</div>
                </li>
                <li class="btm-spc">운동이나 위급한 상황에 에피네프린이 분비된다</li>

                <li>
                  <h4>노르에피네프린</h4>
                </li>
                <li>집중력을 증가시키고 몸을 긴장시키며 감정의 조화를 조절한다</li>
                <li>
                  <div>스트레스는 자율 신경인 교감신경계를 활성화시킨다. 활성화된 교감신경계는 노르에피네프린을 과하게 분비하고 멜라닌은 이를 흡수한다</div>
                  <div>노르에피네프린은 멜라닌 줄기세포의 세포 분열을 유도하며 색소 공급원으로서의 기능을 잃게한다. 흰머리를 만드는 것이다</div>
                </li>
                <li class="btm-spc"></li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">BODY</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
            </ul>
          </nav>
        </section>


        <section class="body">
          <div id="b_h">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span>Hormone</span>
              </h4>
              <ul class="btm-spc">
                <li>
                  <h4>Testosterone</h4>
                </li>
                <li>Recover and strengthen muscles</li>
                <li>If you finish your workout with high-intensity weight training rather than cardio, testosterone
                  lasts for an additional hour after the workout</li>
                <li class="btm-spc">It has effects such as increasing libido, bone density, metabolism, and losing fat
                </li>

                <li>
                  <h4>Growth Hormone</h4>
                </li>
                <li></li>
                <li>Builds muscle, boosts the immune system, and breaks down fat</li>
                <li class="btm-spc"><strong>Taking an early sleep (most secreted between 10 and 1 am)</strong> and
                  <strong>high intensity exercise</strong>is effective in promoting growth hormone</li>

                <li>
                  <h4>Cortisol</h4>
                </li>
                <li>Breaks down muscle, raising blood sugar and storing it as fat</li>
                <li class="btm-spc">
                  <div class="bottom-15px">When stressed, cortisol is released, and high stress triggers dopamine to
                    consume refined carbohydrates or sugars</div>
                  <div>This raises blood sugar, and the body secretes insulin to lower blood sugar. Due to the blood
                    sugar lowered by insulin, the body secretes cortisol again, and when this is repeated, you gain
                    weight</div>
                </li>

                <li>
                  <h4>Insulin</h4>
                </li>
                <li>Hormone that lowers blood sugar, regulates glucose and fat metabolism, and transports glucose to
                  muscles</li>
                <li>
                  <div class="btm-15px">Insulin stores excess glucose as glycogen, and any excess glucose is stored as
                    fat.</div>
                  <div>When you exercise, insulin is very beneficial because it uses up enough energy stored in
                    glycogen. But if you don't exercise, you will gain weight. So I strongly recommend weight training
                  </div>
                </li>
                <li class="btm-spc">Excreted within 20-30 minutes after eating</li>

                <li>
                  <h4>Glucagon</h4>
                </li>
                <li>Raises blood sugar and breaks down fat</li>
                <li>
                  <div class="btm-15px">When you eat rice, your blood sugar rises and insulin is secreted. Energy is
                    then stored in glycogen and fat</div>
                  <div>After a certain period of time, blood sugar levels decrease. At this time, glucagon acts to raise
                    blood sugar and break down glycogen and fat</div>
                </li>
                <li>
                  <div class="btm-15px">Glucagon is secreted within 1 hour after insulin secretion during the day, but 5
                    hours after insulin secretion at night</div>
                  <div>Reason why you gain weight if you eat late-night snacks</div>
                </li>
              </ul>


              <ul class="btm-spc">
                <li>
                  <h4>Peptide</h4>
                </li>
                <li class="btm-spc">Reduces appetite and promotes satiety</li>

                <li>
                  <h4>Leptin</h4>
                </li>
                <li class="btm-spc">Suppresses appetite and regulates energy balance</li>

                <li>
                  <h4>Ghrelin</h4>
                </li>
                <li>Stimulates the appetite</li>
                <li class="btm-spc"><strong>If you eat healthy and sleep well, it will function normally</strong></li>
              </ul>

              <ul class="btm-spc">
                <li>
                  <h4>Dopamine</h4>
                </li>
                <li>It has many functions, including reward system, motivation, sleep, sense of achievement, and
                  stimulation or inhibition of motor neurons</li>
                <li>The more dopamine is secreted, the more we feel pleasure, and we feel motivation, happiness,
                  achievement, joy, and emotion</li>
                <li class="btm-spc"><strong>Exercise, protein intake (dairy, legumes), small goal setting/reward, music,
                    cold shower, sunlight</strong>is effective in increasing dopamine
                </li>

                <li>
                  <h4>Serotonin</h4>
                </li>
                <li>Commonly known as the happiness hormone, it is a molecule that makes you feel happy</li>
                <li>It stimulates the motor nerves of the spinal cord that excite the antigravity muscles. In other
                  words, the spinal muscles become straight and the face becomes lively</li>
                <li>Inhibits dopamine and noradrenaline neurons and creates a sense of calm</li>
                <li class="btm-spc"><strong>Exercise, sunshine, positive thinking, good vibes</strong>is effective in
                  increasing serotonin</li>

                <li>
                  <h4>Endorphins</h4>
                </li>
                <li class="btm-spc">Pain relief, uplifting emotions</li>

                <li>
                  <h4>Melatonin</h4>
                </li>
                <li class="btm-spc">Serotonin secreted during the day is converted to melatonin at night, improving
                  sleep quality.</li>

                <li>
                  <h4>Oxytocin</h4>
                </li>
                <li>Commonly known as the love hormone, it makes us feel trust, love, decrease anxiety, bonding, and
                  self-control.</li>
                <li class="btm-spc">Exercise, physical contact, meditation, and emotional behaviors(encouragement,
                  praise, etc.) are effective in boosting oxytocin</li>

                <li>
                  <h4>Epinephrine(adrenaline)</h4>
                </li>
                <li>Prepares the body to respond quickly to threats</li>
                <li>
                  <div>Increases blood pressure and makes the heart beat faster</div>
                  <div>It slows digestion and concentrates oxygen and glucose to the brain and muscles. The liver breaks
                    down glucose into glycogen, which raises blood sugar and breaks down fat</div>
                </li>
                <li class="btm-spc">Epinephrine is secreted during exercise or emergency situations</li>

                <li>
                  <h4>Norepinephrine</h4>
                </li>
                <li>Increases concentration, strains the body, regulates emotional harmony</li>
                <li class="btm-spc">
                  <div>Stress activates the sympathetic nervous system, which is the autonomic nervous system. The
                    activated sympathetic nervous system excessively secretes norepinephrine and melanin absorbs it
                  </div>
                  <div>Norepinephrine induces cell division of melanocytes and loses their function as a pigment source.
                    Which makes white hair</div>
                </li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>