<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('includes/head') %>


    <link rel="stylesheet" href="/public/styles/calculator.css">

    <title>GYMFO - CALCULATOR</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-3V384T0LJC');
    </script>

    <style>
        button {
            color: #28282B;
        }
    </style>
</head>

<body>


    <%- include('includes/header') %>


    <main id="mainKo" class="cal-main">
        <div class="calculate">
            <h4>일일 소비 칼로리</h4>
            <p class="text-center">기초대사량 &times; 활동계수</p>
            <h5 style="margin-bottom: 7px;">기초대사량</h5>
            <p>체지방이 높다면(Harris-Benedict)</p>
            <p>M - 66 + (13.7 x weight in kg) + (5 x height in cm) - (6.76 x age in years)</p>
            <p style="margin-bottom: 7px;">F - 655 + (9.6 x weight in kg) + (1.8 x height in cm) - (4.7 x
                age in years)</p>
            <p>제지방이 높다면(Cunningham)</p>
            <p>500 + (22 x 제지방량)</p>
            <br>
            <h5>활동계수</h5>
            <p style="margin-bottom: 4px;">일반활동 + 운동활동</p>
            <p>일반활동 - Low Activity 1.2 | Moderate Activity 1.4 | High Activity 1.6</p>
            <p>운동활동 - 0/week + 0 | 1-3/week + 0.1 | 4-6/week + 0.2 | 7+/week + 0.3</p>
            <br>
            <h4>하루 권장 칼로리</h4>
            <p class="text-center">표준체중 &times; 활동지수</p>
            <p style="margin-bottom: 7px;">표준체중 (키 - 100) &times; 0.9</p>
            <p>육체활동이 거의 없는 경우 | 표준체중 X 25-30</p>
            <p>보통의 활동을 하는 경우 | 표준체중 X 30-35</p>
            <p>심한 육체활동을 하는 경우 | 표준체중 X 35-40</p>
        </div>

        <div class="calculator-grid2 cal-html">
            <div class="output">
                <div data-previous-operand2 class="previous-operand"></div>
                <div data-current-operand2 class="current-operand"></div>
            </div>
            <button data-all-clear2 class="span-two">AC</button>
            <button data-delete2>DEL</button>
            <button data-operation2>÷</button>
            <button data-number2>1</button>
            <button data-number2>2</button>
            <button data-number2>3</button>
            <button data-operation2>*</button>
            <button data-number2>4</button>
            <button data-number2>5</button>
            <button data-number2>6</button>
            <button data-operation2>+</button>
            <button data-number2>7</button>
            <button data-number2>8</button>
            <button data-number2>9</button>
            <button data-operation2>-</button>
            <button data-number2 id="cal-dot bb">.</button>
            <button data-number2 class="bb">0</button>
            <button data-equals2 class="span-two bb">=</button>

            <input class="input input2" type="number"></input>
        </div>

    </main>





    <main id="mainEn" class="cal-main">
        <div class="calculate">
            <h4>Calories Burned Per Day</h4>
            <p class="text-center">Basal Metabolic Rate(BMR) &times; Activity Coefficient</p>
            <h5 style="margin-bottom: 7px;">BMR</h5>
            <p>If your body fat is high(Harris-Benedict)</p>
            <p>M - 66 + (13.7 x weight in kg) + (5 x height in cm) - (6.76 x age in years)</p>
            <p style="margin-bottom: 7px;">F - 655 + (9.6 x weight in kg) + (1.8 x height in cm) - (4.7 x
                age in years)</p>
            <p>If your lean body mass is high(Cunningham)</p>
            <p>500 + (22 x 제지방량)</p>
            <br>
            <h5>Activity Coefficient</h5>
            <p style="margin-bottom: 4px;">General Activity + Motor Activity</p>
            <p>General Activity - Low Activity 1.2 | Moderate Activity 1.4 | High Activity 1.6</p>
            <p>Motor Activity - 0/week + 0 | 1-3/week + 0.1 | 4-6/week + 0.2 | 7+/week + 0.3</p>
            <br>
            <h4>Recommended Calories Per Day</h4>
            <p class="text-center">Standard Weight &times; Activity Index</p>
            <p style="margin-bottom: 7px;">Standard Weight (Height - 100) &times; 0.9</p>
            <p>If there is little physical activity | Standard Weight X 25-30</p>
            <p>If there is normal physical activity | Standard Weight X 30-35</p>
            <p>If there is heavy physical activity | Standard Weight X 35-40</p>
        </div>

        <div class="calculator-grid2 cal-html">
            <div class="output">
                <div data-previous-operand2 class="previous-operand"></div>
                <div data-current-operand2 class="current-operand"></div>
            </div>
            <button data-all-clear2 class="span-two">AC</button>
            <button data-delete2>DEL</button>
            <button data-operation2>÷</button>
            <button data-number2>1</button>
            <button data-number2>2</button>
            <button data-number2>3</button>
            <button data-operation2>*</button>
            <button data-number2>4</button>
            <button data-number2>5</button>
            <button data-number2>6</button>
            <button data-operation2>+</button>
            <button data-number2>7</button>
            <button data-number2>8</button>
            <button data-number2>9</button>
            <button data-operation2>-</button>
            <button data-number2 id="cal-dot bb">.</button>
            <button data-number2 class="bb">0</button>
            <button data-equals2 class="span-two bb">=</button>

            <input class="input input2" type="number"></input>
        </div>

    </main>


    <%- include('includes/footer') %>


    <script>
        class Calculator {
            constructor(previousOperandTextElement, currentOperandTextElement) {
                this.previousOperandTextElement = previousOperandTextElement;
                this.currentOperandTextElement = currentOperandTextElement;
                this.clear();
            }

            clear() {
                this.currentOperand = "";
                this.previousOperand = "";
                this.operation = undefined;
            }

            delete() {
                this.currentOperand = this.currentOperand.toString().slice(0, -1);
            }

            appendNumber(number) {
                if (number === "." && this.currentOperand.includes(".")) return;
                this.currentOperand = this.currentOperand.toString() + number.toString();
            }

            chooseOperation(operation) {
                if (this.currentOperand === "") return;
                if (this.previousOperand !== "") {
                    this.compute();
                }
                this.operation = operation;
                this.previousOperand = this.currentOperand;
                this.currentOperand = "";
            }

            compute() {
                let computation;
                const prev = parseFloat(this.previousOperand);
                const current = parseFloat(this.currentOperand);
                if (isNaN(prev) || isNaN(current)) return;
                switch (this.operation) {
                    case "+":
                        computation = prev + current;
                        break;
                    case "-":
                        computation = prev - current;
                        break;
                    case "*":
                        computation = prev * current;
                        break;
                    case "÷":
                        computation = prev / current;
                        break;
                    default:
                        return;
                }
                this.currentOperand = computation;
                this.operation = undefined;
                this.previousOperand = "";
            }

            getDisplayNumber(number) {
                const stringNumber = number.toString();
                const integerDigits = parseFloat(stringNumber.split(".")[0]);
                const decimalDigits = stringNumber.split(".")[1];
                let integerDisplay;
                if (isNaN(integerDigits)) {
                    integerDisplay = "";
                } else {
                    integerDisplay = integerDigits.toLocaleString("en", {
                        maximumFractionDigits: 0,
                    });
                }
                if (decimalDigits != null) {
                    return `${integerDisplay}.${decimalDigits}`;
                } else {
                    return integerDisplay;
                }
            }

            updateDisplay() {
                this.currentOperandTextElement.innerText = this.getDisplayNumber(
                    this.currentOperand
                );
                if (this.operation != null) {
                    this.previousOperandTextElement.innerText = `${this.getDisplayNumber(
                        this.previousOperand
                    )} ${this.operation}`;
                } else {
                    this.previousOperandTextElement.innerText = "";
                }
            }
        }

        const numberButtons2 = document.querySelectorAll("[data-number2]");
        const operationButtons2 = document.querySelectorAll("[data-operation2]");
        const equalsButton2 = document.querySelector("[data-equals2]");
        const deleteButton2 = document.querySelector("[data-delete2]");
        const allClearButton2 = document.querySelector("[data-all-clear2]");
        const previousOperandTextElement2 = document.querySelector(
            "[data-previous-operand2]"
        );
        const currentOperandTextElement2 = document.querySelector(
            "[data-current-operand2]"
        );

        const calculator = new Calculator(
            previousOperandTextElement2,
            currentOperandTextElement2
        );

        numberButtons2.forEach((button) => {
            button.addEventListener("click", () => {
                calculator.appendNumber(button.innerText);
                calculator.updateDisplay();
            });
        });

        operationButtons2.forEach((button) => {
            button.addEventListener("click", () => {
                calculator.chooseOperation(button.innerText);
                calculator.updateDisplay();
            });
        });

        equalsButton2.addEventListener("click", (button) => {
            calculator.compute();
            calculator.updateDisplay();
        });

        allClearButton2.addEventListener("click", (button) => {
            calculator.clear();
            calculator.updateDisplay();
        });

        deleteButton2.addEventListener("click", (button) => {
            calculator.delete();
            calculator.updateDisplay();
        });
    </script>
</body>

</html>