<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - CALF</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="up" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal61">종아리</h1>

          <div class="modal" id="modal61">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#ck_c-r">스탠딩 카프레이즈</a></li>
            <li><a href="#ck_c-r">시티드 카프레이즈</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">비복근(장딴지근)</span>
                <div class="reg2">저측 굴곡, 무릎 굴곡. 무릎 각도가 0도일 때 높은 활성도</div>
              </div>
              <div class="details"><a href="#ck_c-r">스탠딩 카프레이즈</a> 등</div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">넙치근(가자미근)</span>
                <div class="reg2">발목 굴곡. 무릎 각도가 90도일 때 높은 활성도</div>
              </div>
              <div class="details"><a href="#ck_c-r">시티드 카프레이즈</a> 등</div>
            </div>
          </div>

          <div class="ps">
            종아리는 제2의 심장으로, 혈액 순환에 매우 효과적이다
          </div>
        </section>


        <section class="workout">
          <div id="ck_c-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal62">카프레이즈</span>
                <div class="modal" id="modal62">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="https://health.chosun.com/site/data/img_dir/2022/07/08/2022070801884_1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>수축 - 종아리를 수축 할 때 두 단계로 끊어서 수축</li>
                <li>이완 - 이완 할 때는 최대로 늘리기</li>
              </ul>
              <div class="tips">
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>머신 스탠딩 카프레이즈</h4>
                  <p>비복근에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>스미스 머신 카프레이즈</h4>
                  <p>스미스 머신 밑에 원판을 깔고 그 위에서 수행</p>
                </div>
                <div class="more-method">
                  <h4>머신 시티드 카프레이즈</h4>
                  <p>넙치근에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>원판 시티드 카프레이즈</h4>
                  <p>벤치에 앉은 다음 원판을 다리 위에 올려 놓고 수행</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ck_d-c-r">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal63">덩키 카프레이즈</span>
                <div class="modal" id="modal63">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>발판 - 발판(운동기구의 지지대)에 발 올리기</li>
                <li>허리 - 허리를 숙여 몸을 ㄱ자 만들기</li>
                <li>자세 - 팔을 지지대에 놔 두어 몸을 고정하기</li>
                <li>무게 - 사람이 올라 타기</li>
              </ul>
              <div class="benefit">
                종아리에 매우 효과적
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal61-11.">CALF</h1>
          <div class="modal2" id="modal61-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>Shortcut</h4>
          <ul>
            <li><a href="#ce_c-r">Standing Calf Raise</a></li>
            <li><a href="#ce_c-r">Seated Calf Raise</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">Gastrocnemius</span>
                <div class="reg2">Plantar Flexion, Knee Flexion. High activity when the knee angle is 0 degrees</div>
              </div>
              <div class="details"><a href="#ce_c-r">Standing Calf Raise</a> etc</div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Soleus</span>
                <div class="reg2">Ankle Flexion. High activity when the knee angle is 90 degrees</div>
              </div>
              <div class="details"><a href="#ce_c-r">Seated Calf Raise</a> etc</div>
            </div>
          </div>

          <div class="ps">
            The calf is the second heart and is very effective in blood circulation
          </div>
        </section>


        <section class="workout">
          <div id="ce_c-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal62-11.">Calf Raise</span>
                <div class="modal2" id="modal62-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="https://health.chosun.com/site/data/img_dir/2022/07/08/2022070801884_1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Contraction - When contracting the calf, it is contracted by breaking it into two stages</li>
                <li>Relax - maximally stretch when relaxing</li>
              </ul>
              <div class="tips">
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Machine Standing Calf Raise</h4>
                  <p>Effective for Gastrocnemius</p>
                </div>
                <div class="more-method">
                  <h4>Smith Machine Calf Raise</h4>
                  <p>Place a plate under the Smith machine and perform on it</p>
                </div>
                <div class="more-method">
                  <h4>Machine Seated Calf Raise</h4>
                  <p>Effective for Soleus</p>
                </div>
                <div class="more-method">
                  <h4>Smith Machine Plate Seated Calf Raise</h4>
                  <p>Sit on a bench, place a plate on your legs, and place the Smith Machine bar on it</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ce_d-c-r">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal63-11.">Donkey Calf Raise</span>
                <div class="modal2" id="modal63-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Scaffold - Raise your feet on a scaffold</li>
                <li>Waist - Bend your back to form an ㄱ shape</li>
                <li>Posture - fixing the body by resting the arm on the support</li>
                <li>weight - lifted by a person</li>
              </ul>
              <div class="benefit">
                Very Effective for Calf
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>