<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - CHEST</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>




        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal71">가슴</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#ck_b-p">벤치프레스</a></li>
              <li><a href="#ck_d">딥스</a></li>
              <li><a href="#ck_f">펙 덱 플라이</a></li>
              <li><a href="#ck_c-p">체스트 프레스</a></li>
              <li><a href="#ck_p-u">푸쉬업</a></li>
            </ul>
          </nav>

          <div class="modal" id="modal71">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="/IMG/대흉근.PNG" alt="대흉근">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">상부 가슴</span>
                <div class="reg2">위쪽 사선 방향으로 밀어야 한다</div>
              </div>
              <div class="details"><a href="#c_b-p">인클라인 벤치</a>, <a href="#c_p-u">디클라인 푸쉬업</a></div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">중부 가슴</span>
                <div class="reg2">중앙 방향으로 밀어야 한다</div>
              </div>
              <div class="details"><a href="#c_b-p">플랫 벤치</a>, <a href="#c_p-u">일반 푸쉬업</a></div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">하부 가슴</span>
                <div class="reg2">아랫쪽 사선 방향으로 밀어야 한다</div>
              </div>
              <div class="details"><a href="#c_d">딥스</a>, <a href="#c_p-u">인클라인 푸쉬업</a></div>
            </div>
          </div>
          <div class="ps">
            가슴은 역시 벤치프레스
          </div>
        </section>


        <section class="workout">
          <div id="ck_b-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal72">벤치프레스</span>
                <div class="modal" id="modal72">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>숄더 패킹 - 가슴 신전과 함께 등을 모아 주기</li>
                <li>아치 - 등을 쫙 밀어주면서 아치를 만들기</li>
                <li>눈의 위치 - 바벨과 맞추기</li>
                <li>어깨 1 -5배 - 그립은 어깨 너비 보다 살짝 넓게</li>
                <li>그립 수직 - 손에 위치한 바는 전완 뼈와 수직</li>
                <li>레그 드라이브 - 발을 상체 방향으로 밀면서 흉곽을 밀기</li>
                <li>바벨 위치 - 유두 쯤에 바벨 위치</li>
                <li>손, 팔 수직 - 팔을 내렸을 때 손과 팔꿈치가 지면과 수직</li>
                <li>사선 - 살짝 사선으로 들어 올리기</li>
                <li>복압 - 코어에 지속적인 긴장 주기</li>
              </ul>
              <div class="benefit">
                전반적인 가슴 성장에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>인클라인 벤치프레스</h4>
                  <p>윗가슴에 효과적. 숄더패킹. 어깨는 항상 최대로 내려줘야 한다. 팔꿈치는 살짝 앞으로 빼 준다. 쇄골쪽으로 바벨을 내리는데 집중(수직). 벤치 각도는 30도가 효과적이다</p>
                </div>
                <div class="more-method">
                  <h4>디클라인 벤치프레스</h4>
                  <p>아랫가슴에 효과적. 그러나 플랫 벤치만 잘 해도 아랫가슴은 채워지기에 추천 하지 않음</p>
                </div>
                <div class="more-method">
                  <h4>덤벨 벤치프레스</h4>
                  <p>가동 범위 증가. 견갑은 항상 고정(어깨가 안 들리게). 가슴을 모아 주면서 덤벨을 올리기(이두를 최대한 가슴에 딱 붙이고 팔꿈치는 쭉 펴준다)</p>
                </div>
                <div class="more-method">
                  <h4>스미스 머신 벤치프레스</h4>
                  <p>궤도가 정해져 있기에 안정근의 발달을 방해함. 그러니 특정 부위 고립을 위한 중상급자를 제외하고 이 운동은 추천 하지 않음</p>
                </div>
                <div class="more-method">
                  <h4>다리 들고 벤치프레스</h4>
                  <p>코어(안정근)의 개입이 높고 근육 활성도도 높음. 그러나 높은 불안정성으로 출력값은 떨어진다. 상급자가 아니라면 추천 하지않음</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ck_d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal73">딥스</span>
                <div class="modal" id="modal73">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>말기 - 흉추와 어깨를 살짝 앞으로 말기</li>
                <li>기울기 - 몸을 앞으로 살짝 기울여 주기</li>
                <li>90도 - 팔꿈치가 90도가 넘어가지 않게 의식</li>
                <li>무릎 - 무릎은 고관절보다 앞에 위치</li>
              </ul>
              <div class="benefit">
                아랫 가슴, 가슴 라인에 효과적
              </div>
            </div>
          </div>


          <div id="ck_f">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal74">펙 덱 플라이</span>
                <div class="modal" id="modal74">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>의자 높이 - 가슴을 모을 때 손이 가슴과 수평</li>
                <li>팔꿈치 - 바깥을 보게 의식</li>
                <li>손가락 - 네 번째 손가락에 집중하여 퍼 올린다는 느낌으로 수행</li>
                <li>가동범위 - 어깨에 무리 가지 않는 선에서 뒤로 최대한 이완(원심성 수축)</li>
                <li>난이도 - 상급자는 손목을 뒤로 꺾어 진행</li>
              </ul>
              <div class="benefit">
                안 쪽 가슴에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>덤벨 플라이</h4>
                  <p>가동범위 증가</p>
                </div>
                <div class="more-method">
                  <h4>케이블 플라이</h4>
                  <p>팔꿈치는 고정하고 어깨 관절로만 수행</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ck_c-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal75">체스트 프레스</span>
                <div class="modal" id="modal75">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>팔목 - 팔목은 부상 방지를 위해 피는 것을 의식</li>
                <li>팔꿈치 - 약간 팔꿈치를 내려 위로 퍼 올리는 느낌으로 수행</li>
                <li>가동범위 - 어깨에 무리 가지 않는 선에서 뒤로 최대한 이완(원심성 수축)</li>
              </ul>
              <div class="benefit">
                가슴 고립에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작</h4>
                <div class="more-method">
                  <h4>케이블 프레스</h4>
                  <p>팔꿈치는 고정하고 어깨 관절로만 수행. 안 쪽으로 모아준다는 느낌으로 수행(이두를 최대한 가슴에 밀착)</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ck_p-u">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal76">푸쉬업</span>
                <div class="modal" id="modal76">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>몸통 중립 - 몸통은 측면에서 봤을 때 일자</li>
                <li>손 위치 - 손 위치는 어깨 너비의 1.5배</li>
                <li>팔꿈치 - 팔꿈치 각도 수직</li>
              </ul>
              <div class="benefit">
                가슴, 삼두, 어깨, 코어 등에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>내로우 푸쉬업</h4>
                  <p>안쪽 가슴, 삼두에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>와이드 푸쉬업</h4>
                  <p>바깥 가슴, 어깨에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>인클라인 푸쉬업</h4>
                  <p>아랫 가슴에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>디클라인 푸쉬업</h4>
                  <p>윗 가슴에 효과적</p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal71-11.">CHEST</h1>
          <div class="modal2" id="modal71-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="/IMG/대흉근.PNG" alt="Chest">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>Shortcut</h4>
          <ul>
            <li><a href="#ce_b-p">Bench Press</a></li>
            <li><a href="#ce_d">Dips</a></li>
            <li><a href="#ce_f">Peck Deck Fly</a></li>
            <li><a href="#ce_c-p">Chest Press</a></li>
            <li><a href="#ce_p-u">Push Up</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">Upper Chest</span>
                <div class="reg2">Must be pushed in an upward direction</div>
              </div>
              <div class="details"><a href="#ce_b-p">Incline Bench Press</a>, <a href="#ce_p-u">Decline Push Up</a>
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Centeral Chest</span>
                <div class="reg2">Should be pushed towards the center</div>
              </div>
              <div class="details"><a href="#ce_b-p">Flat Bench Press</a>, <a href="#ce_p-u">Normal Push Up</a></div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Lower Chest</span>
                <div class="reg2">It should be pushed in the downward direction</div>
              </div>
              <div class="details"><a href="#ce_d">Dips</a>, <a href="#ce_p-u">Incline Push Up</a></div>
            </div>
          </div>
          <div class="ps">
            The best Work Out for Chest, Bench Press.
          </div>
        </section>


        <section class="workout">
          <div id="ce_b-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal72-11.">Bench Press</span>
                <div class="modal2" id="modal72-11.">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Shoulder packing - bringing the back together with chest extension</li>
                <li>Arch - Create an arch by pushing your back</li>
                <li>Eye - align with barbell</li>
                <li>Shoulder x 1.5 - grip slightly wider than shoulder width</li>
                <li>Grip Vertical - the bar in the hand is perpendicular to the forearm bones</li>
                <li>Leg Drive - Pushing the ribcage while pushing the feet in the direction of the upper body</li>
                <li>Barbell Position - Position the bar around the nipple</li>
                <li>Hand and arm vertical - When the arm is lowered, the hand and elbow are perpendicular to the ground
                </li>
                <li>Diagonal - slightly diagonal lift</li>
                <li>Abdominal Compression - Giving constant tension to the core</li>
              </ul>
              <div class="benefit">
                Effective for entire Chest
              </div>
              <div class="methods">
                <h4>Varioud Actions</h4>
                <div class="more-method">
                  <h4>Incline Bench Press</h4>
                  <p>Effective on the upper chest. shoulder packing. Shoulders should always be as low as possible.
                    Elbows slightly forward. Concentrate on lowering the barbell toward the collarbone (vertical). A
                    bench angle of 30 degrees is effective</p>
                </div>
                <div class="more-method">
                  <h4>Decline Bench Press</h4>
                  <p>Effective on the lower chest. However, even if you do a flat bench well, the lower chest is filled,
                    so it is not recommended</p>
                </div>
                <div class="more-method">
                  <h4>Dumbbell Bench Press</h4>
                  <p>Increased range of motion. Keep the shoulder girdle fixed at all times(so that the shoulder is not
                    lifted). Raise the dumbbells while bringing your chest together(keep your biceps as close to your
                    chest as possible and straighten your elbows)</p>
                </div>
                <div class="more-method">
                  <h4>Smith Machine Bench Press</h4>
                  <p>Because the trajectory is fixed, it hinders the development of stabilizer muscles. So, I do not
                    recommend this exercise except for intermediate and advanced users for isolating specific parts</p>
                </div>
                <div class="more-method">
                  <h4>Leg Lift Bench Press</h4>
                  <p>Core(stabilizing muscle) involvement is high and muscle activity is also high. However, the output
                    value drops due to high instability. Not recommended unless you are advanced</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ce_d">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal73-11.">Dips</span>
                <div class="modal2" id="modal73-11.">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Rolling - Slight forward rolling of the thoracic spine and shoulders</li>
                <li>Lean - Lean forward slightly</li>
                <li>90 degrees - Be conscious of elbows not exceeding 90 degrees</li>
                <li>Knee - The knee is in front of the hip joint</li>
              </ul>
              <div class="benefit">
                Effective for the Lower Chest and Chest Line
              </div>
            </div>
          </div>


          <div id="ce_f">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal74-11.">Pec Deck Fly</span>
                <div class="modal2" id="modal74-11.">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Chair height - hands are level with chest when chest is brought together</li>
                <li>elbow - conscious looking out</li>
                <li>Fingers - Concentrate on the fourth finger and perform it with the feeling of scooping</li>
                <li>Range of motion - maximal relaxation of the back from the line that does not strain the
                  shoulder(eccentric contraction)</li>
                <li>Difficulty - Advanced players bend their wrists backwards</li>
              </ul>
              <div class="benefit">
                Effective for Inner Chest
              </div>
              <div class="methods">
                <h4>Varioud Actions</h4>
                <div class="more-method">
                  <h4>Dumbbell Fly</h4>
                  <p>Increased ROM</p>
                </div>
                <div class="more-method">
                  <h4>Cabel Fly</h4>
                  <p>Elbow fixed and performed only by the shoulder joint</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ce_c-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal75-11.">Chest Press</span>
                <div class="modal2" id="modal75-11.">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Cuffs - Be conscious of keeping your cuffs open to prevent injury</li>
                <li>Elbow - Perform with a feeling of slightly lowering the elbow and pumping it up</li>
                <li>ROM - maximal relaxation of the back from the line that does not strain the shoulder(eccentric
                  contraction)</li>
              </ul>
              <div class="benefit">
                Effective in Isolating the Chest
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Cabel Press</h4>
                  <p>The elbow is fixed and performed only at the shoulder joint. Perform with the feeling of gathering
                    inward(press the biceps to the chest as much as possible)</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ce_p-u">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal76-11.">Push Up</span>
                <div class="modal2" id="modal76-11.">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Torso neutral - torso straight when viewed from the side</li>
                <li>Hand Position - Hand position is 1.5 times shoulder width</li>
                <li>elbow - elbow angle vertical</li>
              </ul>
              <div class="benefit">
                Effective for Chest, Triceps, Shoulders, Core etc.
              </div>
              <div class="methods">
                <h4>Varioud Actions</h4>
                <div class="more-method">
                  <h4>Narrow Push Up</h4>
                  <p>Effective for Inner Chest and Triceps</p>
                </div>
                <div class="more-method">
                  <h4>Wide Push Up</h4>
                  <p>Effective for Chest and Shoulders</p>
                </div>
                <div class="more-method">
                  <h4>Incline Push Up</h4>
                  <p>Effective for Lower Chest</p>
                </div>
                <div class="more-method">
                  <h4>Decline Push Up</h4>
                  <p>Effective for Upper Chest</p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>