<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - FOOD</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-3V384T0LJC");
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="inner-box"></div>

        <div class="inner-container">
          <section class="theme">
            <h1 class="main-title">음식</h1>
          </section>


          <section class="diet">
            <div id="n_g-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target="#modal122-2"></span>
                    <div class="modal" id="modal122-2">
                      <div class="modal-header">
                        <button data-close-button class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <section class="bulkup">
            <div id="n_g-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target="#modal122-2"></span>
                    <div class="modal" id="modal122-2">
                      <div class="modal-header">
                        <button data-close-button class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <section class="yoyo">
            <div id="n_rg-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target="#modal123-2"></span>
                    <div class="modal" id="modal123-2">
                      <div class="modal-header">
                        <button data-close-button class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

        </div>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="inner-box"></div>

        <div class="inner-container">
          <section class="theme">
            <h1 class="main-title">FOOD</h1>
          </section>


          <section class="diet">
            <div id="n_g-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target2="#modal141-11"></span>
                    <div class="modal2" id="modal141-11">
                      <div class="modal-header">
                        <button data-close-button2 class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <section class="bulkup">
            <div id="n_g-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target2="#modal142-11"></span>
                    <div class="modal2" id="modal142-11">
                      <div class="modal-header">
                        <button data-close-button2 class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <section class="yoyo">
            <div id="n_rg-w">
              <div class="main-wt">
                <h4 class="main-wt-title"></h4>
                <ul>
                  <li>
                    <span data-modal-target2="#143-11"></span>
                    <div class="modal2" id="143-11">
                      <div class="modal-header">
                        <button data-close-button2 class="close-button">
                          &times;
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p"></div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>
          </section>


          <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

        </div>
      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>