<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - GLUTEUS</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal81">엉덩이</h1>

          <div class="modal" id="modal81">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img
                  src="https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/4KiG/image/rp_1vMrOzfDGVrkpqfslGt5VAIE.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#gk_s">스쿼트</a></li>
            <li><a href="#gk_w-l">워킹 런지</a></li>
            <li><a href="#gk_h-t">힙 쓰러스터</a></li>
            <li><a href="#gk_k-s">케틀벨 스윙</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">대둔근</span>
                <div class="reg2">고관절 신전, 외회전</div>
              </div>
              <div class="details"><a href="#gk_s">스쿼트</a>, <a href="#gk_h-t">힙 쓰러스터</a>, <a href="#gk_k-s">케틀벨 스윙</a> 등
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">중둔근</span>
                <div class="reg2">고관절 신전, 굴곡, 외전, 외회전, 내회전</div>
              </div>
              <div class="details"><a href="#gk_s">스쿼트</a>, <a href="#gk_h-t">힙 쓰러스터</a>, <a href="#gk_k-s">케틀벨 스윙</a> 등
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">소둔근</span>
                <div class="reg2">고관절 외전, 내회전</div>
              </div>
              <div class="details"><a href="#gk_s">스쿼트</a>, <a href="#gk_h-t">힙 쓰러스터</a>, <a href="#gk_k-s">케틀벨 스윙</a> 등
              </div>
            </div>
          </div>
          <div class="ps">
          </div>
        </section>


        <section class="workout">
          <div id="gk_s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal82">스쿼트</span>
                <div class="modal" id="modal82">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>발 - 뒷꿈치가 어깨 너비에서 약간 넓은 정도. 발 끝은 바깥 쪽을 사선으로 보게하기 ! 개인차가 있으니 무릎이 모이지 않는 자세로 능동적으로 수행</li>
                <li>무릎 방향 - 발 끝 방향과 같은 방향을 보게 설정</li>
                <li>무게 중심 - 뒤쪽(뒷꿈치 쪽)에 위치</li>
                <li>척추 중립 - 허리는 항상 복압을 통해 중립</li>
                <li>복압 - 복식호흡을 통해 배에 복압을 높여주고 복부에 힘 주기</li>
                <li>고관절 - 고관절은 살짝만 뒤로 빼고 수직으로 앉는 것에 집중</li> -> 너무 엉덩이를 뒤로 빼면 허리가 많이 숙여져 허리 부담이 높아짐
                <li>고관절 접힘 - 고관절이 접히도록 의식하여 수행</li> -> 쉽게, 몸의 중심을 뒤로 하고 수직으로 내려가기
                <li>동시 펴짐 - 무릎, 허벅지, 고관절이 동시에 펴지도록 의식</li>
                <li>힘 - 위쪽 허벅지와 고관절에 힘이 들어가도록 의식</li>
                <br>
                <li>호흡 - 흡기(들숨) 후 내려갔다가 올라오고 호기(날숨). 바로 흡기 후 내려갔다고 올라오고 호기. 반복</li>
                <li>! 벗윙크. 쭈구려 앉을 때 골반이 바닥 쪽으로 말려 요추가 둥글게 말리는 현상 주의</li>
                <li>! 굿모닝 자세. 상체보다 엉덩이가 빨리 올라오면 허리를 숙여 인사하는 듯한 자세가 되며 이는 허리에 안 좋으니 주의</li>
              </ul>
              <div class="benefit">
                전반적인 하체 성장과 상체에 매우 효과적
              </div>
            </div>
          </div>


          <div id="gk_w-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal83">워킹 런지</span>
                <div class="modal" id="modal83">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>각도 - 양 무릎의 각도는 90도</li>
                <li>골반 - 움직일 때 골반이 틀어지지 않게 중립</li>
                <li>무릎 - 앞 다리 무릎이 앞으로 쏠리지 않게 주의</li>
              </ul>
              <div class="benefit">
                둔근에 효과적
              </div>
            </div>
          </div>


          <div id="gk_h-t">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal84">힙 쓰러스트</span>
                <div class="modal" id="modal84">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>자세 - 승모근 아래 쪽을 벤치 끝에 견착</li>
                <li>다리 - 다리가 멀어질 수록 엉덩이에 많은 자극</li>
                <li>골반 - 최대 이완을 위해 골반에 커브 주기(후방경사)</li>
                <li>가동범위 - 골반을 최대한 낮추고 최대한 높이 올려 수축</li>
              </ul>
              <div class="benefit">
                대둔군에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>프로그 힙 쓰러스트</h4>
                  <p>발바닥을 붙여서 수행 다리가 벌어지게끔 하여 수행. 중둔근에 효과적</p>
                </div>
                <div class="more-method">
                  <h4>힙 업 밴드</h4>
                  <p>허벅지 사이에 밴드를 추가하여 수행. 중둔근에 효과적(밴드와 바벨을 이용하여 수행하면 대둔근과 중둔근 둘다 매우 효과적)</p>
                </div>
              </div>
            </div>
          </div>


          <div id="gk_k-s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal85">케틀벨 스윙</span>
                <div class="modal" id="modal85">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>움직임 - 케틀벨이 가랑이 사이로 들어 갔을 때 손목과 허벅지가 닿도록 수행</li>
                <li>힙 드라이브 - 케틀벨이 가랑이 사이로 와서 손목과 허벅지가 닿았을 때 엉덩이를 밀어 넣으면서 앞으로 빵 밀어 주기. 이때 무릎과 고관절 다 피기</li>
                <li>움직임2 - 케틀벨을 올린 후 내려올 때 힘을 주면서 받는 것이 아닌, 들어가면서 부드럽게 받기</li>
                <li>난이도 - 상당히 숙련이 필요한 동작. 낮은 무게로 올바른 자세를 유지하며 연습</li>
              </ul>
              <div class="benefit">
                둔근에 효과적
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="up" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal81-11.">GLUTEUS</h1>

          <div class="modal2" id="modal81-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img
                  src="https://img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/4KiG/image/rp_1vMrOzfDGVrkpqfslGt5VAIE.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#ge_s">Squat</a></li>
            <li><a href="#ge_w-l">Walking Lunge</a></li>
            <li><a href="#ge_h-t">Hip Thrust</a></li>
            <li><a href="#ge_k-s">Kettle Bell Swing</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">Gluteus Maximus</span>
                <div class="reg2">Hip Extension, External Rotation</div>
              </div>
              <div class="details"><a href="#ge_s">Squat</a>, <a href="#ge_h-t">Hip Thrust</a>, <a href="#ge_k-s">Kettle
                  Bell Swing</a> etc
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Gluteus Medius</span>
                <div class="reg2">Hip Extension, Flexion, Abduction, External Rotation, Internal Rotation</div>
              </div>
              <div class="details"><a href="#ge_s">Squat</a>, <a href="#ge_h-t">Hip Thrust</a>, <a href="#ge_k-s">Kettle
                  Bell Swing</a> etc
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Gluteus Minimus</span>
                <div class="reg2">Hip Abduction, Internal Rotation</div>
              </div>
              <div class="details"><a href="#ge_s">Squat</a>, <a href="#ge_h-t">Hip Thrust</a>, <a href="#ge_k-s">Kettle
                  Bell Swing</a> etc
              </div>
            </div>
          </div>
          <div class="ps">
          </div>
        </section>


        <section class="workout">
          <div id="ge_s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal82-11.">Squat</span>
                <div class="modal2" id="modal82-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Feet - The heels are slightly wider than shoulder width. Point your toes at an angle to the outside!
                  There are individual differences, so perform actively in a position where the knees do not converge
                </li>
                <li>Knee direction - set to face the same direction as the toe</li>
                <li>Center of gravity - located at the rear (heel side)</li>
                <li>Spinal Neutral - The lower back is always neutral through abdominal pressure</li>
                <li>Abdominal pressure - increase abdominal pressure through abdominal breathing and give strength to
                  the abdomen</li>
                <li>Hip joint - Focus on sitting vertically with the hip joint pulled back slightly</li> -> If the hip
                is pulled back too much, the back is bent too much and the burden on the lower back increases
                <li>Hip fold - Perform consciously so that the hip joint is folded</li> -> Easy, vertical descent with
                the center of the body behind
                <li>Simultaneous extension - Conscious of simultaneous extension of the knee, thigh, and hip joint</li>
                <li>힘 - 위쪽 허벅지와 고관절에 힘이 들어가도록 의식</li>
                <br>
                <li>Respiration - Inhale (inhale) then go down, then come up and exhale (exhale). Immediately after
                  inhalation, go down, then come up and exhale. repeat</li>
                <li>! butt wink. When squatting down, the pelvis rolls toward the floor, causing the lumbar spine to be
                  rounded</li>
                <li>! Good morning posture. If your hips come up faster than your upper body, you will be in a posture
                  like bowing down and saying hello. This is bad for your back, so be careful</li>
              </ul>
              <div class="benefit">
                Very effective for overall Lower Body and Upper Body
              </div>
            </div>
          </div>


          <div id="ge_w-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal83-11.">Walking Lunge</span>
                <div class="modal2" id="modal83-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Angle - The angle of both knees is 90 degrees</li>
                <li>Pelvis - Neutral so that the pelvis does not twist when moving</li>
                <li>Knees - Be careful not to let the knee of the front leg lean forward</li>
              </ul>
              <div class="benefit">
                Effective for Gluteus Maximus
              </div>
            </div>
          </div>


          <div id="ge_h-t">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal84-11.">Hip Thrust</span>
                <div class="modal2" id="modal84-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Posture - Place the lower part of the trapezius on the edge of the bench</li>
                <li>Legs - The farther the legs are, the more stimulation to the buttocks</li>
                <li>Pelvis - curve the pelvis for maximum relaxation(posterior tilt)</li>
                <li>ROM - contraction by lowering the pelvis as high as possible and raising it as high as possible</li>
              </ul>
              <div class="benefit">
                Effective for Major large armies
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Frog Hip Thrust</h4>
                  <p>Practice with the soles of the feet attached. Practice with the legs spread apart. Effective for
                    Gluteus Medius</p>
                </div>
                <div class="more-method">
                  <h4>Hip Up Band</h4>
                  <p>Performed by adding a band between the thighs. Effective for Gluteus Medius(both gluteus maximus
                    and medius are very effective when performed with bands and barbells)</p>
                </div>
              </div>
            </div>
          </div>


          <div id="ge_k-s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal85-11.">Kettle Bell Swing</span>
                <div class="modal2" id="modal85-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Movement - When the kettlebell goes between the crotch, the wrist and thigh are in contact</li>
                <li>Hip Drive - Push your hips forward as the kettlebell comes between your crotch and touches your
                  wrists and thighs. At this time, both her knees and hips are covered</li>
                <li>Movement 2 - When coming down after lifting the kettlebell, do not receive it with force, but gently
                  receive it as you enters</li>
                <li>Difficulty - Actions that require considerable skill. Exercise while maintaining correct posture
                  with low weight</li>
              </ul>
              <div class="benefit">
                Effective for Glutes
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>