<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - HAMSTRING</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal91">뒷벅지(햄스트링)</h1>

          <div class="modal" id="modal91">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://health.chosun.com/site/data/img_dir/2022/05/09/2022050901880_1.jpg" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#hk_l-c">레그컬</a></li>
            <li><a href="#hk_s-d-l">스티프 데드</a></li>
            <li><a href="#hk_l-p">레그 프레스</a></li>
            <li><a href="#hk_l">롱 런지</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">대퇴이두</span>
                <div class="reg2">
                  <p>장두 - 고관절 신전, 무릎 굴곡, 움직임의 방향 조절, 감속 역할</p>
                  <div class="details"><a href="#hk_l-c">레그컬</a>, <a href="#hk_s-d-l">스티프 데드</a>, <a href="#hk_l">롱
                      런지</a>
                  </div>
                  <p>단두 - 무릎 굴곡, 굴곡 상태에서 외회전, 움직임의 방향 조절, 감속 역할</p>
                  <div class="details"><a href="#hk_l-c">레그컬</a>, <a href="#hk_s-d-l">스티프 데드</a>, <a href="#hk_l">롱
                      런지</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">반막양근</span>
                <div class="reg2">무릎 굴곡, 무릎 굴곡 상태에서 내회전, 앞으로 굽혀진 상체를 위로 펴는 기능</div>
              </div>
              <div class="details"><a href="#hk_l-c">레그컬</a>, <a href="#hk_s-d-l">스티프 데드</a>, <a href="#hk_l">롱 런지</a> 등
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">반건양근</span>
                <div class="reg2">무릎 굴곡, 무릎 굴곡 상태에서 내회전, 앞으로 굽혀진 상체를 위로 펴는 기능</div>
              </div>
              <div class="details"><a href="#hk_l-c">레그컬</a>, <a href="#hk_s-d-l">스티프 데드</a>, <a href="#hk_l">롱 런지</a> 등
              </div>
            </div>
          </div>
          <div class="ps">
            갑자스런 큰 움직임이 생긴다면 햄스트링에 부상을 입을 확률이 높다. 운동 전 충분한 스트레칭과 워밍업 필수
          </div>
        </section>


        <section class="workout">
          <div id="hk_l-c">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal92">레그컬</span>
                <div class="modal" id="modal92">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>무릎 - 무릎이 다리패드에 닿기 직전에 위치</li>
                <li>발목 - 아킬레스건에 패드 위치. 완전히 발목을 펴서 수행</li>
                <li>고관절 - 고관절에 힘을 주면서 말아 패드에 밀착</li>
                <li>수행 방식 - 무릎 전부 피지 않기. 최대한 엉덩이와 닿기</li>
              </ul>
              <div class="benefit">
                대퇴이두(햄스트링)에 매우 효과적
              </div>
            </div>
          </div>


          <div id="hk_s-d-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal93">스티프 데드리프트</span>
                <div class="modal" id="modal93">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>무릎 - 무릎은 완전히 펴주되, 약간의 굴곡은 있을 수 있다. 각자의 가동범위에 맞게 조절</li>
                <li>중심 - 중심은 뒤쪽</li>
                <li>고관절 - 상체는 가만히 있고 고관절이 뒤로 빠져 햄스트링과 둔근을 스트레칭 한다는 느낌으로 수행</li>
              </ul>
              <div class="benefit">
                대퇴이두(햄스트링)와 둔근에 효과적
              </div>
            </div>
          </div>


          <div id="hk_l-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal94">레그 프레스(하이 스탠스)</span>
                <div class="modal" id="modal94">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>무게 중심 - 뒤꿈치에 무게 중심</li>
                <li>무릎 - 다리가 내려갔을 때 무릎과 발 끝은 일자(본인 시선 기준)</li>
                <li>허리 - 중립을 유지. 내렸을 때 허리가 뜨지 않게 의식</li>
                <li>힘 포커스 - 허벅지 상단(+ 고관절)에 집중하여 수행</li>
                <li>! 무릎이 돌아가지 않도록 주의. 고중량(상대적)으로 수행 시 다리를 과하게 펴지 않고, 다 핀다면 꼭 대퇴사두에 힘 주기</li>
              </ul>
              <div class="benefit">
                대퇴이두(햄스트링)에 효과적
              </div>
            </div>
          </div>


          <div id="hk_l">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal95">롱 런지</span>
                <div class="modal" id="modal95">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>무릎 - 무릎이 앞으로 밀리지 않게 의식</li>
                <li>수직 저항 - 몸이 수직으로 내려가도록 의식</li>
                <li>뒷 다리 - 뒷 다리는 스트레칭 되게 하여 앞뒤 양 다리 둘다 운동 되도록 수행</li>
                <li>수행 방식 - 제 자리에서 양 다리를 번갈아 가며 수행</li>
                <li>고립 - 대퇴사두만을 고립하고 싶다면 다리를 번갈아 수행하지 않고 한 다리만 반복적으로 수행</li>
              </ul>
              <div class="benefit">
                대퇴이두(햄스트링)에 효과적
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="upEn" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal91-11.">HAMSTRING</h1>

          <div class="modal2" id="modal91-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="https://health.chosun.com/site/data/img_dir/2022/05/09/2022050901880_1.jpg" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>Shortcut</h4>
          <ul>
            <li><a href="#he_l-c">Leg Curl</a></li>
            <li><a href="#he_s-d-l">Stiff Deadlift</a></li>
            <li><a href="#he_l-p">Leg Press</a></li>
            <li><a href="#he_l">Long Lunge</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">Biceps Femoris</span>
                <div class="reg2">
                  <p>Long Head - Hip joint extension, knee flexion, movement direction control, deceleration role</p>
                  <div class="details"><a href="#he_l-c">Leg Curl</a>, <a href="#he_s-d-l">Stiff Deadlift</a>, <a
                      href="#he_l">Long Lunge</a>
                  </div>
                  <p>Short Head - Knee flexion, external rotation in flexion, direction control of movement,
                    deceleration role</p>
                  <div class="details"><a href="#he_l-c">Leg Curl</a>, <a href="#he_s-d-l">Stiff Deadlift</a>, <a
                      href="#he_l">Long Lunge</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Semimembranosus</span>
                <div class="reg2">Knee flexion, Internal rotation with knee flexion, and upward extension of the bent
                  upper body</div>
              </div>
              <div class="details"><a href="#he_l-c">Leg Curl</a>, <a href="#he_s-d-l">Stiff Deadlift</a>, <a
                  href="#he_l">Long Lunge</a> etc
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Semitendinosus</span>
                <div class="reg2">Knee flexion, Internal rotation with knee flexion, and upward extension of the bent
                  upper body</div>
              </div>
              <div class="details"><a href="#he_l-c">Leg Curl</a>, <a href="#he_s-d-l">Stiff Deadlift</a>, <a
                  href="#he_l">Long Lunge</a> etc
              </div>
            </div>
          </div>
          <div class="ps">
            Sudden large movements are more likely to injure the hamstrings. Stretching and warming up before exercise
            is essential
          </div>
        </section>


        <section class="workout">
          <div id="he_l-c">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal92-11.">Leg Curl</span>
                <div class="modal2" id="modal92-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Knee - just before the knee touches the leg pad</li>
                <li>Ankle - Place the pad on the Achilles tendon. Performed with full ankle extension</li>
                <li>Hip joint - Roll up while giving strength to the hip joint and adhere to the pad</li>
                <li>How to do - Don't straighten your knees. as close as possible to the buttocks</li>
              </ul>
              <div class="benefit">
                Very effective for Hamstrings
              </div>
            </div>
          </div>


          <div id="he_s-d-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal93-11.">Stiff Deadlift</span>
                <div class="modal2" id="modal93-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Knees - Knees should be fully extended, but may be slightly flexed. Adjust to suit your range of
                  motion</li>
                <li>Center of Gravity - center of gravity is at Behind</li>
                <li>Hip joint - Perform with the feeling that the upper body is still and the hip joint is pulled back
                  to stretch the hamstrings and gluteal muscles</li>
              </ul>
              <div class="benefit">
                Effective for Hamstrings
              </div>
            </div>
          </div>


          <div id="he_l-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal94-11.">Leg Press(High Stance)</span>
                <div class="modal2" id="modal94-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Center of Gravity - center of gravity at the heel</li>
                <li>Knee - When the leg is down, the end of the knee and toe is straight(based on the person's gaze)
                </li>
                <li>Spine - Stay neutral. Be conscious of not lifting your lower back when you get down</li>
                <li>Strength focus - performed with a focus on the upper thighs(+ hips)</li>
                <li>! Be careful not to rotate your knee. When performing with a high weight (relatively), do not
                  overextend your legs, and if they are fully extended, be sure to give strength to the quad</li>
              </ul>
              <div class="benefit">
                Effective for Hamstrings
              </div>
            </div>
          </div>


          <div id="he_l">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal95-11.">Long Lunge</span>
                <div class="modal2" id="modal95-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Knees - Be conscious of not pushing your knees forward</li>
                <li>Vertical Resistance - Conscious of moving your body vertically down</li>
                <li>Back leg - The back leg is stretched so that both front and back legs are exercised</li>
                <li>How to perform - Perform alternating legs in place</li>
                <li>Isolation - If you want to isolate only the quads, do one leg repeatedly without alternating legs
                </li>
              </ul>
              <div class="benefit">
                Effective for Hamstrings
              </div>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>