<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - METHOD</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">운동기법</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#mk_r-p">레스트 앤 퍼즈</a></li>
              <li><a href="#mk_a-r-p">암랩</a></li>
              <li><a href="#mk_n">네거티브</a></li>
              <li><a href="#mk_p-r">부분 반복</a></li>
              <li><a href="#mk_b">호흡법</a></li>
              <li><a href="#mk_b-f/b-a">선피로/선활성화</a></li>
              <li><a href="#mk_p-s">피라미드 세트</a></li>
              <li><a href="#mk_r-p-s">역피라미드 세트</a></li>
              <li><a href="#mk_d-s">드롭 세트</a></li>
              <li><a href="#mk_s-s">슈퍼 세트</a></li>
              <li><a href="#mk_c-s">컴파운드 세트</a></li>
              <li><a href="#mk_t-s">트라이 세트</a></li>
              <li><a href="#mk_g-s">자이언트 세트</a></li>
            </ul>
          </nav>
        </section>


        <section class="method-wt">
          <div id="mk_r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">레스트 앤 퍼즈</h4>
              <ul>
                <li>더 많은 반복 홧수를 수행하기 위해 운동 도중 짧게 쉬어주는 것</li>
              </ul>
            </div>
          </div>


          <div id="mk_a-r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">암랩</h4>
              <ul>
                <li>As Many Reps As Possible</li>
                <li>최대 가능한 반복 횟수까지 수행</li>
                <li>마지막 세트에 주로 사용</li>
              </ul>
            </div>
          </div>


          <div id="mk_n">
            <div class="main-wt">
              <h4 class="main-wt-title">네거티브</h4>
              <ul>
                <li>신장성 수축(근육이 늘어남)을 3~4초에 걸쳐 천천히 수행</li>
                <li>ex) 덤벨컬 수행 시 덤벨을 올리는 단축성 수축(근육이 수축함)은 빠르고 강하게, 덤벨을 내리는 신장성 수축(원심성 수축)은 느리게 수행</li>
              </ul>
            </div>
          </div>


          <div id="mk_p-r">
            <div class="main-wt">
              <h4 class="main-wt-title">부분 반복</h4>
              <ul>
                <li>마지막 세트 때 목표 횟수를 채운 후 운동 뽕을 뽑고 싶거나, 어떻게든 더 근육에 부하를 주고 싶을 때 완전 가동 범위의 25% 정도를 부분 반복할 것을 권장한다</li>
                <li>단관절 운동이나 맨몸 운동에 사용할 것을 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="mk_b">
            <div class="main-wt">
              <h4 class="main-wt-title">호흡법</h4>
              <ul>
                <li>수축할 때 흡기</li>
                <li>이완할 때 호기</li>
                <li>힘 줄 때 숨을 내쉬면 된다</li>
              </ul>
            </div>
          </div>


          <div id="mk_b-f/b-a">
            <div class="main-wt">
              <h4 class="main-wt-title">선피로/선활성화</h4>
              <ul>
                <h4>선피로</h4>
                <li>목표하는 근육을 저강도x고반복으로 먼저 운동하여 근육과 관절의 워밍업과 근활성화로 인한 근육의 파워 증가를 준다</li>
                <li>! 선피로 운동법은 해당 근육의 피로를 높이기에 선피로 없이 운동할 때 보다 출력값이 감소할 수 있다</li>
                <li>
                  선피로 활용법
                  <div>목표한 근육에 더욱 자극을 주기 위해 협응근에 선피로를 주는 것</div>
                  ex) 가슴 - 삼두
                  <div>가슴에 보다 집중하기 위해 케이불 푸쉬 다운을 먼저 진행하여 삼두의 피로도를 높이는 것</div>
                </li>
                <h4>선활성화</h4>
                <li>선활성화는 선피로도 보다 가볍게 워밍업 하는 것으로, 목표 근육을 약하게 풀어주는 것으로 볼 수 있다</li>
                <li>동적 스트레칭이라고도 볼 수 있을 것 같다</li>
              </ul>
            </div>
          </div>


          <div id="mk_p-s">
            <div class="main-wt">
              <h4 class="main-wt-title">피라미드 세트</h4>
              <ul>
                <li>중량이 증가 할수록 반복 횟수는 감소(낮은 중량에서 높은 중량으로 상승)</li>
                <li>ex) Deadlift 60kg 10reps 1set - 70kg 7reps 1set - 80kg 5reps 1set ...</li>
              </ul>
            </div>
          </div>


          <div id="mk_r-p-s">
            <div class="main-wt">
              <h4 class="main-wt-title">역피라미드 세트</h4>
              <ul>
                <li>중량이 증가 할수록 반복 횟수는 감소(높은 중량에서 낮은 중량으로 하강)</li>
                <li>ex) Deadlift 80kg 5reps 1set - 70kg 7reps 1set - 60kg 10reps 1set ...</li>
              </ul>
            </div>
          </div>


          <div id="mk_d-s">
            <div class="main-wt">
              <h4 class="main-wt-title">드롭 세트</h4>
              <ul>
                <li>
                  휴식 시간 없이 중량을 낮춰 가면서 수행
                </li>
                <li>
                  시간적인 측면에서 특히 효율적이다. 그러나 다음 운동에 지장이 갈 수 있으니 스스로 잘 조절하여 수행할 것을 권장한다
                </li>
                <li>
                  ex) 40kg 10reps 35kg 12reps 30kg 15reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="mk_s-s">
            <div class="main-wt">
              <h4 class="main-wt-title">슈퍼 세트</h4>
              <ul>
                <li>
                  주동근과 길항근을 묶어 1세트로 수행
                </li>
                <li>
                  ex) 등 운동 10reps + 가슴 운동 10reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="mk_c-s">
            <div class="main-wt">
              <h4 class="main-wt-title">컴파운드 세트</h4>
              <ul>
                <li>
                  주동근과 주동근을 묶어 1세트로 수행
                </li>
                <li>
                  ex) 풀업 10reps + 랫풀다운 10reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="mk_t-s">
            <div class="main-wt">
              <h4 class="main-wt-title">트라이 세트</h4>
              <ul>
                <li>
                  한 부위를 위한 세 가지 운동을 섞어 1세트로 수행(중급자 이상에게 추천)
                </li>
                <li>
                  ex) 풀업 8reps + 랫풀다운 8reps + 바벨로우 6reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="mk_g-s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">자이언트 세트</h4>
              <ul>
                <li>
                  한 부위를 위한 네 다섯 가지 운동을 섞어 1세트로 수행(중급자 이상에게 추천)
                </li>
                <li>
                  ex) 풀업 7reps + 랫풀다운 7reps + 바벨로우 6reps + 원암덤로 6reps + ~ -> 1set
                </li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">METHOD</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#me_r-p">Rest & Pause</a></li>
              <li><a href="#me_a-r-p">AMRAP</a></li>
              <li><a href="#me_n">Negative</a></li>
              <li><a href="#me_p-r">Partial Repetition</a></li>
              <li><a href="#me_p-b">Breathing</a></li>
              <li><a href="#me_p-f/p-a">PF / PA</a></li>
              <li><a href="#me_p-s">Pyramid Set</a></li>
              <li><a href="#me_r-p-s">Reverse Pyramid Set</a></li>
              <li><a href="#me_d-s">Drop Set</a></li>
              <li><a href="#me_s-s">Super Set</a></li>
              <li><a href="#me_c-s">Compund Set</a></li>
              <li><a href="#me_t-s">Tri Set</a></li>
              <li><a href="#me_g-s">Giant Set</a></li>
            </ul>
          </nav>
        </section>


        <section class="method-wt">
          <div id="me_r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">Rest & Pause</h4>
              <ul>
                <li>short breaks during exercise to perform more reps</li>
              </ul>
            </div>
          </div>


          <div id="me_a-r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">AMRAP</h4>
              <ul>
                <li>As Many Reps As Possible</li>
                <li>Perform up to maximum possible number of repetitions</li>
                <li>Mainly used for the last set</li>
              </ul>
            </div>
          </div>


          <div id="me_n">
            <div class="main-wt">
              <h4 class="main-wt-title">Negative</h4>
              <ul>
                <li>Perform an eccentric contraction (stretching of the muscle) slowly over 3 to 4 seconds</li>
                <li>ex) When performing dumbbell curls, the concentric contraction (contraction muscle) of raising the
                  dumbbell is fast and strong, and the eccentric contraction (stretching muscle) of lowering the
                  dumbbell is performed slowly.</li>
              </ul>
            </div>
          </div>


          <div id="me_p-r">
            <div class="main-wt">
              <h4 class="main-wt-title">Partial Repetition</h4>
              <ul>
                <li>Try to do partial repetitions of about 25% of the full range of motion when you want to pull out the
                  exercise after completing the target number of times in the last set, or if you want to load the
                  muscles more</li>
                <li>Try to use it for single joint exercise or bare body exercise</li>
              </ul>
            </div>
          </div>


          <div id="me_b">
            <div class="main-wt">
              <h4 class="main-wt-title">Breathing</h4>
              <ul>
                <li>inhale when contracting</li>
                <li>exhale when relaxing</li>
                <li>Breathe out when giving strength</li>
              </ul>
            </div>
          </div>


          <div id="me_p-f/p-a">
            <div class="main-wt">
              <h4 class="main-wt-title">Pre Fatigue / Pre Activate</h4>
              <ul>
                <h4>Pre Fatigue</h4>
                <li>Exercise the target muscle first with low intensity x high repetition to warm up muscles and joints
                  and increase muscle power due to muscle activation</li>
                <li>! The pre-fatigue exercise method increases the fatigue of the targeting muscles, so the output
                  value may decrease compared to exercise without pre-fatigue</li>
                <li>
                  How to use pre fatigue
                  <div>Giving prefatigue to the synergistic muscle to further stimulate the target muscle</div>
                  ex) Chest - Tricpes
                  <div>To increase the fatigue of the triceps by performing cable pushdowns first to focus more on the
                    chest</div>
                </li>
                <h4>Pre Activate</h4>
                <li>Pre-activation is warming up more lightly even with pre-fatigue, which can be seen as weakening the
                  target muscle</li>
                <li>It can also be referred to as dynamic stretching</li>
              </ul>
            </div>
          </div>


          <div id="me_p-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Pyramid Set</h4>
              <ul>
                <li>As the weight increases, the number of repetitions decreases (from a lower weight to a higher
                  weight)</li>
                <li>ex) Deadlift 60kg 10reps 1set - 70kg 7reps 1set - 80kg 5reps 1set ...</li>
              </ul>
            </div>
          </div>


          <div id="me_r-p-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Reverse Pyramid Set</h4>
              <ul>
                <li>As the weight increases, the number of repetitions decreases (falling from a higher weight to a
                  lower weight)</li>
                <li>ex) Deadlift 80kg 5reps 1set - 70kg 7reps 1set - 60kg 10reps 1set ...</li>
              </ul>
            </div>
          </div>


          <div id="me_d-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Drop Set</h4>
              <ul>
                <li>
                  Perform with lower weights without rest periods
                </li>
                <li>
                  It is particularly efficient in terms of time. However, it may interfere with the next exercise, so it
                  is recommended that you perform it under your own control
                </li>
                <li>
                  ex) 40kg 10reps 35kg 12reps 30kg 15reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="me_s-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Super Set</h4>
              <ul>
                <li>
                  Performed as one set by tying the agonist and antagonist muscles
                </li>
                <li>
                  ex) Back exercise 10 reps + Chest exercise 10 reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="me_c-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Compound Set</h4>
              <ul>
                <li>
                  Performed as one set by tying the agonist and agonist
                </li>
                <li>
                  ex) Pull Up 10 reps + Lat Pull Down 10 reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="me_t-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Tri Set</h4>
              <ul>
                <li>
                  Mix up three exercises for one part and perform as one set (recommended for intermediate level and up)
                </li>
                <li>
                  ex) Pull Up 8 reps + Lat Pull Down 8 reps + Barbell Row 6 reps -> 1set
                </li>
              </ul>
            </div>
          </div>


          <div id="me_g-s">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">Giant Set</h4>
              <ul>
                <li>
                  Perform 1 set of 4 or 5 exercises for one part (recommended for intermediate users and above)
                </li>
                <li>
                  ex) Pull Up 7 eps + Lat Pull Down 7 reps + Barbell Row 6 reps + One Arm Dumbell Row 6 reps + ~ -> 1set
                </li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>