<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - NUTRIENT</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box nut-box"></div>


        <section class="theme">
          <h1 class="main-title">영양</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#nk_p-i">단백질</a></li>
              <li><a href="#nk_c-i">탄수화물</a></li>
              <li><a href="#nk_f-i">지방</a></li>
              <li><a href="#nk_s-i">나트륨</a></li>
              <li><a href="#nk_cf-i">카페인</a></li>
              <li><a href="#nk_m-i">마그네슘</a></li>
              <li><a href="#nk_ag-i">아르기닌</a></li>
              <li><a href="#nk_cr-i">크레아틴</a></li>
              <li><a href="#nk_o3-i">오메가 3</a></li>
              <li><a href="#nk_ca-i">칼슘</a></li>
              <li><a href="#nk_vc-i">비타민 C</a></li>
              <li><a href="#nk_mv-i">멀티비타민</a></li>
              <li><a href="#nk_gt-i">글루타민</a></li>
              <li><a href="#nk_t-i">타우린</a></li>
              <li><a href="#nk_bm-i">블랙마카</a></li>
            </ul>
          </nav>
        </section>


        <section class="nutrient">
          <div id="nk_p-i">
            <div class="main-wt">
              <h4 class="main-wt-title">단백질</h4>
              <ul>
                <li>운동 직후 탄수화물과 3:1의 비율로 섭취하면 매우 효과적일 것이다(탄3:단1)</li>
                <li>운동을 즐겨 한다면 <strong>체중에 1.6 ~ 2.2g을 곱하여</strong> 하루에 섭취할 것을 권장한다(운동을 즐겨 하지 않는다면 1.5g 정도 섭취 권장)</li>
                <li>한 번에 과섭취 하지 말고 하루 동안 <strong>일정량을 나누어 섭취</strong>할 것을 권장한다. 1회 단백질 섭취 시
                  <strong>20~30g(1스쿱)</strong>정도면 적당할 것이다
                </li>
                <li>연어는 슈퍼 푸드다</li>
                <li>웬만하면 단백질 보충제가 아닌 음식으로 단백질을 섭취할 것을 권장한다</li>
                ---
                <li>고단백 식사를 한다면 다이어트에 도움을 준다</li>
                <li>삶은 계란과 후라이는 거의 차이가 없다</li>
              </ul>
            </div>
          </div>


          <div id="nk_c-i">
            <div class="main-wt">
              <h4 class="main-wt-title">탄수화물</h4>
              <ul>
                <li><strong>운동 직후</strong> 고갈된 탄수화물을 가능한 빨리 보충하기 위해 kg당 1.2g 정도 섭취할 것을 권장한다(아니면 탄 0.9g, 단 0.3g)</li>
                <li>탄수화물은 글리코겐으로 우리 몸에 저장된다</li>
                <li>몸 속에 에너지로 쓸 글리코겐이 부족하다면 근육을 분해 한 후 아미노산을 에너지원으로 사용한다. 탄수화물 섭취는 매우 중요하다</li>
                <li>일반적인 식사가 글리코겐으로 축적되려면 4시간에서 6시간 정도 걸린다. 식후 <strong>두 시간</strong> 정도는 후에 운동하자(운동 시간에 가까워질수록 식사 형태가
                  단순해져야 한다)</li>
              </ul>
              <div class="benefit">
              </div>
            </div>
          </div>


          <div id="nk_f-i">
            <div class="main-wt">
              <h4 class="main-wt-title">지방</h4>
              <ul>
                <li>일일 섭취 칼로리의 20~35%를 섭취할 것을 권장한다</li>
                <li>지방은 호르몬 분비에 중요한 영양소이다. 지방이라고 극단적으로 제한하지 말 것을 권장한다</li>
                <li>트랜스지방과 포화지방이 아닌 <strong>불포화지방</strong>을 주로 섭취할 것을 권장한다(아몬드, 올리브, 땅콩 등)</li>
                ---
                <li>저지방 식단 보다 고지방 식단이 다이어트에 도움을 준다(불포화지방으로 먹었을 때)</li>
              </ul>
            </div>
          </div>


          <div id="nk_s-i">
            <div class="main-wt">
              <h4 class="main-wt-title">나트륨</h4>
              <ul>
                <li>혈압과 혈액의 균형 유지에 도움을 준다</li>
                <li>당과 아미노산 등의 영양소들의 흡수에 이용된다</li>
                <li><strong>근수축과 신경자극의 전달</strong>과 같은 기능에 필수적이다</li>
                <li>일일 2000mg은 섭취할 것을 권장한다</li>
                <li>과잉 장기 섭취는 역시 해롭다. 이에 포함되지 않는다면 크게 신경 안 써도 될 것이다</li>
              </ul>
            </div>
          </div>


          <div id="nk_cf-i">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal145">카페인</span>
                <div class="modal" id="modal145">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <p>중추 신경을 자극하여 근수축을 빠르게 할 수 있도록 도와준다</p>
                      <p>글리코겐을 빠르게 분비하는 데 도움을 주어 혈당을 높이므로 더 많은 에너지를 사용할 수 있게 한다</p>
                      ---
                      <p>글리코겐이 충분한 상태에서 카페인을 섭취한다면 이점이 많겠지만</p>
                      <p>글리코겐이 충분하지 않은 상태에서 카페인을 섭취한다면 초반에 에너지를 빠르게 사용하고 부족한 에너지는 단백질을 사용한다</p>
                      <p>이는 근손실을 일으키는 것이다</p>
                      <p>
                        <h6>카페인 섭취 권장 &times;</h6>
                        <ul>
                          <li>아침 공복 운동자</li>
                          <li>간헐적 단식자</li>
                          <li>두 시간 이상의 고강도 운동자</li>
                          <li>골다공증 보유자</li>
                          <li>늦은 밤 운동자</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>운동 능력을 높인다</li>
                <li>집중력을 높여준다</li>
                <li>근육의 피로도를 감소시킨다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal145-2">다이어트에 도움을 준다</span>
                  <div class="modal" id="modal145-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>대사량을 약 10%까지 증가시킨다</p>
                        <p>카페인이 글리코겐을 빠르게 분해 해 혈당을 높인다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal145-3">섭취 방법</span>
                  <div class="modal" id="modal145-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>운동 약 30~60분 전에 3~6mg/kg 정도 섭취할 것을 권장한다</p>
                        <p>청소년과 임산부 등은 과카페인 섭취에 주의해야 한다. 성인 기준 카페인 최대 일일 섭취량은 400mg 이상을 넘기지 않는 것이니</p>
                        <p>주의해서 섭취할 것을 권장한다</p>
                        <p>카페인을 자주 마시면 카페인에 내성이 생긴다. 장기간 섭취하고 싶다면 휴지기를 만들어 계획적으로 섭취할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_m-i">
            <div class="main-wt">
              <h4 class="main-wt-title">마그네슘</h4>
              <ul>
                <li><strong>근육과 신경의 기능</strong>에 도움을 준다</li>
                <li>운동 효율을 높이려면 마그네슘 섭취하는 것이 도움을 준다</li>
                <li>혈당과 혈압의 균형을 유지하는 데에도 도움을 준다</li>
                <li>견과류, 씨앗류, 콩류, 통곡류 등에 많이 존재한다</li>
                <li>칼슘과 함께 뼈를 강하게 하고 골다공증을 방지한다</li>
                <li>
                  <span class="cursor" data-modal-target="#modal146">활성산소의 작용을 차단하는 황산화제 역할도 한다</span>
                  <div class="modal" id="modal146">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>마그네슘이 부족하면 세포막의 유연성이 떨어져서 무너지기 쉬우며, 세포막이 망가지면 칼슘 흡수도 잘 되지 않는다</p>
                        <p>망가진 세포 안으로 많은 유해 활성산소가 들어오면, 이들을 제거하느라고 비타민 E가 소모되므로 결국 장기간의 마그네슘 결핍은 비타민 E결핍을 같이 초래하게 된다</p>
                        <p>마그네슘의 항산화 작용은 미토콘드리아에게 도움을 준다. 마그네슘이 부족하면 미토콘드리아가 손상을 입게 되며 이는 노화를 빠르게 진행시킬 수 있다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_ag-i">
            <div class="main-wt">
              <h4 class="main-wt-title">아르기닌</h4>
              <ul>
                <li>혈관 확장에 도움을 준다</li>
                <li>활성산소를 제거한다</li>
                <li>피로 회복에 도움을 준다</li>
                <li>숙취 해소에 도움을 준다</li>
                <li>다이어트에 도움을 준다</li>
                <li>성 기능 개선에 도움을 준다</li>
                <li>심혈관 질환 개선에 도움을 준다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-2">근육에 도움을 준다</span>
                  <div class="modal" id="modal147-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>운동 중 근육에 전달되는 산소의 양을 증가시키고, 산소 요구량을 줄여 주어지구력을 향상시켜 준다</p>
                        <p>혈액 순환을 촉진시켜서 더 높은 강도의 운동을 수행할 수 있게 도와 준다</p>
                        <p>지방감소, 골밀도 증가에도 도움을 준다</p>
                        <p>근육 증가는 기초대사량 증가로 이어지고 이는 같은 음식을 먹어도 살이 덜 찐다는 의미이다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-3">성장 호르몬을 촉진시켜 준다</span>
                  <div class="modal" id="modal147-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>5000mg~9000mg을 복용할 때 가장 좋은 효과를 낸다</p>
                        <p>섭취 30분 후 성장호르몬이 상승하기 사작하며 60분 후 최대 수치를 보인다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-4">모발 건강에 도움을 준다</span>
                  <div class="modal" id="modal147-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>두피에 전달되는 혈관을 확장시켜 혈액 공급을 증가시킨다</p>
                        <p>이는 영양소와 산소 공급을 증가시켜 건강한 모발을 만드는 데에 도와준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-5">면역력 강화에 도움을 준다</span>
                  <div class="modal" id="modal147-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>산화질소를 합성하고 항체 생성에 도움을 주어 면역 체계를 강화시킨다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-6">복용 시 주의 사항</span>
                  <div class="modal" id="modal147-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>고령자의 경우 아르기닌 섭취를 안 하시는 것을 권장합니다</p>
                        <p>섭취를 해 보시고 안 좋은 증상이 나타나신다면 섭취를 줄이시거나 멈추시는 것도 방법일 것입니다</p>
                        ---
                        <p>아르기닌은 단백질을 만들어내는 아미노산이기 때문에 통풍이나 신장 기능이 약하신 분들도 주의하실 것을 권장합니다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal147-7">복용 방법</span>
                  <div class="modal" id="modal147-7">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>일반적인 섭취량 1000mg~3000mg</p>
                        <p>운동 성과와 정력 증진량 5000mg ~ </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_cr-i">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal148-1">크레아틴</span>
                <div class="modal" id="modal148-1">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <p>간에서 생성되고 근육에 저장되는 아미노산이다</p>
                      <p>짧은 시간에 폭발적으로 사용하는 운동량을 증가시켜 준다</p>
                    </div>
                  </div>
                  <div id="overlay"></div>
              </h4>

              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal148-2">신체 및 운동 능력 향상</span>
                  <div class="modal" id="modal148-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>근육 속에 크레아틴 인산 형태로 있다가 ADP를 ATP로 인산화시키면서 크레아틴으로 분해한다</p>
                        <p>이는 근육에서 에너지를 만들어 더 힘을 짜내게 해 준다</p>
                        <p>또한 근육의 피로를 감소 시켜 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>근육 내부의 보유 수분이 증가하여 이는 글리코겐 로딩을 증가시켜 퍼포먼스의 향상에 도움을 주고 근육을 커 보이게 한다</li>
                <li>근지구력을 향상시킨다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal148-3"></span>
                  <div class="modal" id="modal148-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal148-4">복용 방법</span>
                  <div class="modal" id="modal148-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>크레아틴 로딩 <br> 처음 섭취 시 4-5일간 매일 아침 저녁으로 한 티스푼 정도의 크레아틴을 섭취하는 것이다</p>
                        <p>이후 매일 <strong>3~5그램의</strong> 크레아틴을 섭취할 것을 권장한다</p>
                        <p>몸에 잘 흡수되지 않기 때문에 <strong>운동 후</strong> 몸의 크레아틴이 소진된 후 섭취할 것을 권장한다</p>
                        <p>당분과 함께 흡수되므로 <strong>탄수화물과 섭취</strong> 할 것을 권장한다</p>
                        <p>크레아틴은 수분을 끌어들이므로 <strong>많은 양의 수분을 섭취</strong> 할 것을 권장한다</p>
                        ---
                        <p>신장기능에 이상이 있거나 신장에 영향을 주는 약을 복용하고 있는 사람은 주의해야 한다</p>
                        <p>카페인은 에너지를 감소시켜 크레아틴의 효능을 감소시킬 수 있다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_o3-i">
            <div class="main-wt">
              <h4 class="main-wt-title">오메가 3</h4>

              <ul>
                <li>혈액 순환 개선</li>
                <li>안구건조증 증상 개선</li>
                <li>심혈관 건강 증진</li>
                <li>혈압 감소</li>
                <li>
                  <span class="cursor" data-modal-target="#modal149-2">혈중 중성지방 감소</span>
                  <div class="modal" id="modal149-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>혈중 중성지방이 증가하면 혈관 건강에 나쁜 LDL 콜레스테롤의 생성과 좋은 HDL 콜레스테롤의 분해가 빨라져 동맥경화가 생길 수 있다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>



                <li>
                  <span class="cursor" data-modal-target="#modal149-3">염증 개선</span>
                  <div class="modal" id="modal149-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>염증을 대수롭지 않게 여기지 말고 만성화가 되어 염증질환이 유발되지 않도록 관리할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal149-4">부작용</span>
                  <div class="modal" id="modal149-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>항응고제, 항혈소판제, 혈압강하제 등은 오메가-3와 함께 섭취할 시 부작용이 나타날 수 있다</p>
                        <p>전문가와 상담 후 복용할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal149-5">복용 방법</span>
                  <div class="modal" id="modal149-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>하루에 한 번, 캡슐 한 개</p>
                        <p>식후 섭취</p>
                        ---
                        <p>출산 전 최소 1개월 정도는 섭취를 중단할 것을 권장한다</p>
                        <p>큰 수술 예정이라면 섭취를 중단할 것을 권장한다</p>
                        <p>과복용과 산패된 것은 무조건 피할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk-ca-i">
            <div class="main-wt">
              <h4 class="main-wt-title">칼슘</h4>

              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal150-2">지방 감소</span>
                  <div class="modal" id="modal150-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>칼슘은 지방산이 분변으로 배설될 수 있도록 하고 지질 산화를 증가시켜 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal150-3">대장암 발생 위험 감소</span>
                  <div class="modal" id="modal150-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>대장암의 원인 중 하나는 바로 '담즙산'인데</p>
                        <p>담즙산의 독성을 억제하고 대장 상피 세포 내 칼슘은 염증 반응을 촉진하는 암을 감소시킬 수 있다고 한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal150-4">월경전증후군(PMS) 증상 완화</span>
                  <div class="modal" id="modal150-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>세로토닌 분비와도 관련이 있어 월경전증후군으로 인한 기분 변화에 도움을 줄 수 있다고 한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal150-5">복용 방법</span>
                  <div class="modal" id="modal150-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>공복에 섭취하면 속쓰림, 소화불량 등의 위장장애가 발생할 수 있어 식후 복용 권장한다</p>
                        <p>체내 흡수율을 높이기 위해 비타민D와 함께 복용할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_vc-i">
            <div class="main-wt">
              <h4 class="main-wt-title">비타민 C</h4>

              <ul>
                <li>면역력 증진 효과가 있다</li>
                <li>항산화 효과가 있다</li>
                <li>당뇨병 환자의 동맥 혈압 및 경직도를 개선 해 준다</li>
                <li>심폐 기능 향상 효과가 있다</li>
                <li>피로감을 줄여준다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal151-2">근육 손실과 신체 노화 억제</span>
                  <div class="modal" id="modal151-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>장시간 또는 힘든 운동을 하면 활성산소가 높은 수치로 발생하는데 운동 전 항산화제 비타민C를 먹으면 활성산소를 억제한다</p>
                        <p>운동 전후 섭취하면 도움을 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal151-3">콜라겐 합성을 돕는다</span>
                  <div class="modal" id="modal151-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>피부, 혈관, 힘줄, 인대 등의 신체 조직을 구성하는 콜라겐 합성을 돕는다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal151-4">다이어트에 도움을 준다</span>
                  <div class="modal" id="modal151-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>지방을 더 많이 연소한다</p>
                        <p>키토신과 같은 식이섬유와 함께 섭취하면 더욱 도움을 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal151-5">피부가 건강해진다</span>
                  <div class="modal" id="modal151-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>콜라겐 합성을 도와주고</p>
                        <p>노화를 촉진하는 활성산소를 억제하여 피부 건강에 도움을 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal151-6">복용 방법</span>
                  <div class="modal" id="modal151-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>하루 권장 섭취량은 100mg이다</p>
                        <p>채소나 과일을 통한 비타민C 섭취는 하루 200mg 이상을 추천한다</p>
                        <p>몸에 감기,피로감, 면역력 저하 등이 있을 때 일시적으로 적절한 선에서 섭취량을 늘리는 것이 도움을 줄 수 있다</p>
                        <p>가능한 한 정제 비타민C는 하루 500mg을 초과하지 않는다</p>
                        <p>액상 비타민이 체내 흡수가 더 빠르다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_mv-i">
            <div class="main-wt">
              <h4 class="main-wt-title">멀티 비타민</h4>
              <ul>
                <li>섭취한 음식을 에너지로 바꾸는데 도움을 준다</li>
                <li>운동 후 피로 회복에 도움을 준다</li>
                <li>활성형 비타민이 흡수율이 더 높다</li>
              </ul>
            </div>
          </div>


          <div id="nk_gt-i">
            <div class="main-wt">
              <h4 class="main-wt-title">글루타민</h4>
              <ul>
                <li>근육 성장을 촉진한다</li>
                <li>근육 소모를 감소시킨다</li>
                <li>성장 호르몬이 증가한다</li>
                <li>체력 및 지구력을 증진시킨다</li>
                <li>항산화 효과가 있다</li>
                <li>체지방을 연소한다</li>
                <li>뇌 건강을 향상시킨다</li>
                <li>운동 능력을 향상시킨다</li>
                <li>체액의 산-염기의 균형을 맞춘다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal153-2">장 장벽 기능 강화에 효과적이다</span>
                  <div class="modal" id="modal153-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>글루타민은 면역계에서 가장 중요한 장의 장벽 강화에 도움을 주기에 면역력 강화에 효과적이다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal153-3">부작용</span>
                  <div class="modal" id="modal153-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>메스꺼움</p>
                        <p>수면 장애</p>
                        <p>복통</p>
                        <p>두통</p>
                        <p>현기증</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal153-4">복용 방법</span>
                  <div class="modal" id="modal153-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>녹색 채소(양배추, 샐러리, 케일 등)와 육류, 해산물, 콩류, 달걀, 우유 등에도 포함되어 있다</p>
                        <p>약 5 ~ 15g/day</p>
                        <p>운동 전/후 단백질 쉐이크에 섞어 간편한 섭취를 권장한다</p>
                        ---
                        <p>세 끼를 잘 챙겨 먹는다면 따로 복용하지 않아도 될 것 같다</p>
                        <p>여유가 되며 특정한 이유가 있다면 구매 해도 좋을 것 같다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_t-i">
            <div class="main-wt">
              <h4 class="main-wt-title">타우린</h4>
              <ul>
                <li>피로 해소 효과가 있다</li>
                <li>혈압을 안정시킨다</li>
                <li>뇌졸중의 예방에 도움을 준다</li>
                <li>심장근육이 원활히 수축할 수 있도록 한다</li>
                <li>치매 치료에 효과가 있다고 한다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal154-2">콜라겐 형성에 도움을 준다</span>
                  <div class="modal" id="modal154-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>피부 건강과 구강 건강 등에 도움을 준다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal154-3">혈관계 질환 예방</span>
                  <div class="modal" id="modal154-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>동맥경화, 협심증, 심근경색 등을 유발하는 저밀도 지단백질 콜레스테롤의 생성을 억제하고</p>
                        <p>혈관 조직에 침투되어 있는 콜레스테롤을 분해시키는 고밀도 지단백질 콜레스테롤의 양을 증가시킨다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal154-5">부작용</span>
                  <div class="modal" id="modal154-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>신장 기능에 문제가 있다면 전문의와 상의 후 섭취할 것을 권장한다</p>
                        <p>음식을 통해 섭취할 것을 권장하며 필요에 따라 영양제로 섭취할 것을 권장한다</p>
                        <p>음료를 통한 장기적 섭취는 권장하지 않는다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal154-6">복용 방법</span>
                  <div class="modal" id="modal154-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>성인 일일 권장량은 1000mg이다</p>
                        <p>해산물에 많이 함유되어 있다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="nk_bm-i">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">블랙 마카</h4>
              <ul>
                <li>피로감에 효과적이다</li>
                <li>골밀도 향상에 도움을 준다</li>
                <li>스트레스 개선이 된다</li>
                <li>불면증 개선에 도움을 준다</li>
                <li>자외선 차단에 도움을 준다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal155-2">뇌 건강에 효과적이다</span>
                  <div class="modal" id="modal155-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>코티졸(스트레스 호르몬) 생성을 억제한다</p>
                        <p>세로토닌과 엔돌핀의 분비를 자극한다</p>
                        <p>혈관의 콜레스테롤 축적을 줄인다</p>
                        <p>뇌에 전달되는 혈류가 증가한여 영양소와 산소가 원활히 공급되며 치매 예방에 도움이 된다</p>
                        <p>뇌세포를 보호하는 지방산과 항산화제가 들어 있다</p>
                        <p>장기적 섭취는 기억 상싱을 예방할 수 있다고 한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal155-3">남성에게 이점</span>
                  <div class="modal" id="modal155-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>성 기능 개선에 효과적이다</p>
                        <p>블랙 마카에 함유된 아르기닌은 음경의 혈관을 확장 해 주며 이는 발기부전 개선에 효과적이다</p>
                        <p>성욕 증가 효과도 있다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal155-4">여성에게 이점</span>
                  <div class="modal" id="modal155-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>에스트로겐, 프로게스테론 호르몬 불균형을 조절하여 월경 불순과 월경통 완화에 도움을 준다</p>
                        <p>갱년기 증상 개선에 효과적이다(우울증, 안면 홍조, 성욕 감소, 질 건조증 등)</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal155-5">부작용</span>
                  <div class="modal" id="modal155-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>과복용 시 발진, 복통, 위경련 등이 나타날 수 있다</p>
                        <p>또한 호르몬에 영향을 미치기에 어떠한 증상이 있다면 전문의와 상의 후 주의해서 복용할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal155-6">복용 방법</span>
                  <div class="modal" id="modal155-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>하루 1500 ~ 3500mg 정도 과복용 하지 않는 선에서 복용할 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box nut-box"></div>


        <section class="theme">
          <h1 class="main-title">NUTRIENT</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#ne_p-i">Protein</a></li>
              <li><a href="#ne_c-i">Carbohydrate</a></li>
              <li><a href="#ne_f-i">Fat</a></li>
              <li><a href="#ne_s-i">Sodium</a></li>
              <li><a href="#ne_cf-i">Caffeine</a></li>
              <li><a href="#ne_m-i">Magnesium</a></li>
              <li><a href="#ne_ag-i">Arginine</a></li>
              <li><a href="#ne_cr-i">Creatine</a></li>
              <li><a href="#ne_o3-i">Omega 3</a></li>
              <li><a href="#ne_ca-i">Calcium</a></li>
              <li><a href="#ne_vc-i">Vitamin C</a></li>
              <li><a href="#ne_mv-i">Multi Vitamin</a></li>
              <li><a href="#ne_gt-i">Glutamine</a></li>
              <li><a href="#ne_t-i">Taurine</a></li>
              <li><a href="#ne_bm-i">Black Maca</a></li>
            </ul>
          </nav>
        </section>


        <section class="nutrient">
          <div id="ne_p-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Protein</h4>
              <ul>
                <li>It will be very effective if taken immediately after exercise with carbohydrates in a ratio of 3 : 1
                  (carbo 3 : protein 1)</li>
                <li>If you enjoy exercising, <strong>multiply your body weight by 1.6 - 2.2g(kg/1.6g ~ 2.2g)</strong>
                  and take it daily(If you don't enjoy exercising, it is recommended to take about 1.5g)</li>
                <li>It is recommended not to overdose at one time, but to <strong>divide a certain amount</strong>
                  throughout the day. 1 serving of protein
                  <strong>20~30g (1 scoop)</strong> will be adequate
                </li>
                <li>If possible, it is recommended to consume protein with food, not as a protein supplement</li>
                ---
                <li>Eating a high-protein diet can help you lose weight</li>
              </ul>
            </div>
          </div>


          <div id="ne_c-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Carbohydrate</h4>
              <ul>
                <li>Intake carbs <strong>Immediately after exercise</strong> To replenish depleted carbohydrates as
                  quickly as possible, it is recommended to intake around 1.2g per kg(or carb 0.9g, protein 0.3g)</li>
                <li>Carbohydrates are stored in the body as glycogen</li>
                <li>If the body lacks glycogen to use as energy, amino acids are used as an energy source after breaking
                  down muscles. Carbohydrate intake is very important</li>
                <li>It takes 4 to 6 hours for a normal meal to be stored as glycogen. Exercise about <strong>two
                    hours</strong> after eating(the closer you get to the exercise time, the more meal should be
                  simplified)</li>
              </ul>
              <div class="benefit">
              </div>
            </div>
          </div>


          <div id="ne_f-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Fat</h4>
              <ul>
                <li>Recommended 20-35% of daily calorie intake</li>
                <li>Fat is an important nutrient for hormone secretion. We recommend that you do not limit yourself to
                  fat</li>
                <li>It is recommended to consume mostly <strong>unsaturated fats</strong> rather than trans and
                  saturated fats(almonds, olives, peanuts, etc.)</li>
                ---
                <li>A high-fat diet is more helpful for weight loss than a low-fat diet(when eaten with unsaturated fat)
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_s-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Sodium</h4>
              <ul>
                <li>Helps maintain blood pressure and blood balance</li>
                <li>Used for absorption of nutrients such as sugars and amino acids</li>
                <li><strong>essential for functions such as muscle contraction and transmission of nerve
                    impulses</strong></li>
                <li>It is recommended to take 2000mg per day</li>
                <li>Excessive and long term intake is very harmful. If your not included, don't worry too much about
                  salt</li>
              </ul>
            </div>
          </div>


          <div id="ne_cf-i">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal145-11">Caffeine</span>
                <div class="modal2" id="modal145-11">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <p>Stimulates the central nervous system to help speed up muscle contraction</p>
                      <p>Helps release glycogen quickly, which raises blood sugar so you can use more energy</p>
                      ---
                      <p>If you consume caffeine with enough glycogen, there are many benefits, but</p>
                      <p>If you consume caffeine when you don't have enough glycogen, you use energy quickly in the
                        beginning and use protein for the lack of energy</p>
                      <p>This causes muscle loss</p>
                      <p>
                        <h6>Caffeine consumption recommended &times;</h6>
                        <ul>
                          <li>Morning empty stomach exercise</li>
                          <li>intermittent fasters</li>
                          <li>High-intensity workouts of more than two hours</li>
                          <li>People with osteoporosis</li>
                          <li>Late night workout</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Increase athletic performance</li>
                <li>Increases concentration</li>
                <li>Reduces muscle fatigue</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal145-211">Helps Diet</span>
                  <div class="modal" id="modal145-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Increases metabolism by about 10%</p>
                        <p>Caffeine breaks down glycogen rapidly and raises blood sugar</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal145-311">How To Intake</span>
                  <div class="modal" id="modal145-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is recommended to take 3-6mg/kg about 30-60 minutes before exercise</p>
                        <p>Adolescents and pregnant women should be careful about excessive caffeine intake. The maximum
                          daily intake of caffeine for adults is not to exceed 400 mg</p>
                        <p>Recommended to consume with caution</p>
                        <p>If you drink caffeine frequently, you develop a tolerance to caffeine. If you want to consume
                          it for a long time, it is recommended to make a break and consume it in a planned manner</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_m-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Magnesium</h4>
              <ul>
                <li><strong>Helps function of muscles and nerves</strong></li>
                <li>Magnesium can help improve exercise efficiency</li>
                <li>It also helps balance blood sugar and blood pressure</li>
                <li>Nuts, seeds, legumes, whole grains, etc</li>
                <li>Strengthens bones and prevents osteoporosis with calcium</li>
                <li>
                  <span class="cursor" data-modal-target2="#modal14611">It also acts as an antioxidant that blocks the
                    action of active oxygen</span>
                  <div class="modal" id="modal14611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Lack of magnesium makes cell membranes less flexible and prone to collapse, and when cell
                          membranes are damaged, calcium absorption is poor</p>
                        <p>When many harmful free radicals enter damaged cells, vitamin E is consumed to remove them, so
                          long-term magnesium deficiency eventually leads to vitamin E deficiency as well</p>
                        <p>Magnesium's antioxidant action helps mitochondria. Lack of magnesium causes mitochondrial
                          damage, which can accelerate aging</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_ag-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Arginine</h4>
              <ul>
                <li>Helps dilate blood vessels</li>
                <li>Remove active oxygen</li>
                <li>Helps to recover from fatigue</li>
                <li>Helps a hangover</li>
                <li>Helps you lose weight</li>
                <li>Helps improve sexual function</li>
                <li>Helps improve cardiovascular disease</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-211">helps the muscles</span>
                  <div class="modal" id="modal147-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Increases the amount of oxygen delivered to the muscles during exercise, reduces oxygen
                          demand and improves endurance</p>
                        <p>Stimulates blood circulation to help you perform higher intensity workouts</p>
                        <p>Helps reduce fat and increase bone density</p>
                        <p>An increase in muscle leads to an increase in basal metabolic rate, which means that you will
                          gain less weight even if you eat the same amount of food</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-311">Stimulates growth hormone</span>
                  <div class="modal" id="modal147-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>The best effect is obtained when taking 5000 mg to 9000 mg per day</p>
                        <p>Growth hormone begins to rise 30 minutes after intake and reaches its maximum level after 60
                          minutes</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-411">Helps with hair health</span>
                  <div class="modal" id="modal147-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It expands the blood vessels delivered to the scalp to increase blood supply</p>
                        <p>It helps to create healthy hair by increasing the supply of nutrients and oxygen</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-511">Helps strengthen immunity</span>
                  <div class="modal" id="modal147-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Synthesizes nitric oxide and helps produce antibodies to strengthen the immune system</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-611">Precautions when taking</span>
                  <div class="modal" id="modal147-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>For the elderly, it is recommended not to take arginine</p>
                        <p>If you try to consume it and experience undesirable symptoms, you may want to reduce or stop
                          taking it</p>
                        ---
                        <p>Because arginine is an amino acid that makes protein, it is recommended that people with gout
                          or weak kidney function be careful</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal147-711">How to take</span>
                  <div class="modal" id="modal147-711">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Typical intake 1000mg-3000mg per day</p>
                        <p>Exercise performance and energy enhancement 5000mg ~ </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_cr-i">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal148-111">Creatine</span>
                <div class="modal" id="modal148-111">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <p>an amino acid produced in the liver and stored in the muscles</p>
                      <p>Increases the amount of exercise used explosively in a short time</p>
                    </div>
                  </div>
                  <div id="overlay"></div>
              </h4>

              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal148-211">improving physical and athletic
                    performance</span>
                  <div class="modal" id="modal148-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is in the form of creatine phosphate in the muscle and phosphorylates ADP to ATP, breaking
                          it down into creatine</p>
                        <p>This creates energy in the muscles, allowing them to squeeze more power</p>
                        <p>It also reduces muscle fatigue</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>Increased water retention inside muscles, which increases glycogen loading, which helps improve
                  performance and makes muscles look bigger</li>
                <li>Improve muscular endurance</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal148-411">How to take</span>
                  <div class="modal" id="modal148-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Creatine loading <br> The first intake is to take one teaspoon of creatine each morning and
                          evening for 4-5 days</p>
                        <p>It is recommended that you take <strong>3-5 grams</strong> of creatine daily thereafter</p>
                        <p>Because it is not well absorbed by the body, <strong>after exercise</strong> it is
                          recommended to take it after the body's creatine is exhausted</p>
                        <p>It is absorbed along with sugar, so <strong>carbohydrates</strong> are recommended</p>
                        <p>Creatine attracts water, so <strong>drinking plenty of water</strong> is recommended</p>
                        ---
                        <p>Those with kidney problems or those taking medications that affect the kidneys should be
                          cautious</p>
                        <p>Caffeine may reduce the effectiveness of creatine by reducing energy</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_o3-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Omega 3</h4>

              <ul>
                <li>Improve blood circulation</li>
                <li>Improve symptoms of dry eye syndrome</li>
                <li>Promote cardiovascular health</li>
                <li>Reduced blood pressure</li>
                <li>
                  <span class="cursor" data-modal-target2="#modal149-211">Reduced blood triglycerides</span>
                  <div class="modal" id="modal149-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>When blood triglycerides increase, the production of bad LDL cholesterol and the
                          decomposition of good HDL cholesterol accelerate, which can lead to atherosclerosis</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>



                <li>
                  <span class="cursor" data-modal-target2="#modal149-311">Inflammation improvement</span>
                  <div class="modal" id="modal149-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is recommended not to take inflammation lightly and manage it so that it does not become
                          chronic and cause inflammatory diseases</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal149-411">Side effects</span>
                  <div class="modal" id="modal149-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Anticoagulants, antiplatelet drugs, blood pressure lowering drugs, etc. may have side effects
                          when taken together with omega-3</p>
                        <p>Recommended to use after consulting with a specialist</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal149-511">How to take</span>
                  <div class="modal" id="modal149-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Once a day, one capsule</p>
                        <p>Consumed after meals</p>
                        ---
                        <p>It is recommended to stop taking it for at least one month before giving birth</p>
                        <p>If major surgery is planned, it is recommended to stop taking it</p>
                        <p>It is recommended to avoid overdose and rancid ones unconditionally</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne-ca-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Calcium</h4>

              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal150-211">fat reduction</span>
                  <div class="modal" id="modal150-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Calcium allows fatty acids to be excreted in the feces and increases lipid oxidation</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal150-311">Reduced risk of colorectal cancer</span>
                  <div class="modal" id="modal150-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>One of the causes of colorectal cancer is 'bile acid'</p>
                        <p>Inhibiting the toxicity of bile acids and intracellular calcium in the colon epithelial cells
                          may reduce cancers that promote inflammatory responses</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal150-411">Relieve Premenstrual Syndrome (PMS)
                    Symptoms</span>
                  <div class="modal" id="modal150-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is also related to the secretion of serotonin, so it is said that it can help with mood
                          changes caused by premenstrual syndrome</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal150-511">How to take</span>
                  <div class="modal" id="modal150-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>If taken on an empty stomach, it can cause gastrointestinal disorders such as heartburn and
                          indigestion, so it is recommended to take it after meals</p>
                        <p>It is recommended to take it with vitamin D to increase the absorption rate in the body</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_vc-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Vitamin C</h4>

              <ul>
                <li>Immune boosting effect</li>
                <li>Antioxidant effect</li>
                <li>It improves arterial blood pressure and stiffness in diabetic patients</li>
                <li>Efforts to improve cardiorespiratory function</li>
                <li>Reduces fatigue</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal151-211">Suppression of muscle loss and body
                    aging</span>
                  <div class="modal" id="modal151-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Long-term or strenuous exercise generates high levels of free radicals. Eating antioxidant
                          vitamin C before exercise suppresses free radicals</p>
                        <p>Consuming before and after exercise is helpful</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal151-311">Helps collagen synthesis</span>
                  <div class="modal" id="modal151-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Helps the synthesis of collagen, which constitutes body tissues such as skin, blood vessels,
                          tendons and ligaments</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal151-411">helps with diet</span>
                  <div class="modal" id="modal151-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Burning more fat</p>
                        <p>It is more helpful if taken with dietary fiber such as chaetocin</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal151-511">Your skin becomes healthy</span>
                  <div class="modal" id="modal151-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Helps collagen synthesis</p>
                        <p>Helps skin health by inhibiting active oxygen that promotes aging</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal151-611">How to take</span>
                  <div class="modal" id="modal151-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>The recommended daily intake is 100mg</p>
                        <p>About 200mg of vitamin C per day is recommended through vegetables and fruits</p>
                        <p>When you have a cold, fatigue, or low immunity, temporarily increasing your intake at an
                          appropriate level can help</p>
                        <p>If possible, do not exceed 500 mg of purified vitamin C per day</p>
                        <p>Liquid vitamins are absorbed more quickly by the body</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_mv-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Multi Vitamin</h4>
              <ul>
                <li>Helps convert food into energy</li>
                <li>Helps recover from fatigue after exercise</li>
                <li>Active vitamins are more absorbed</li>
              </ul>
            </div>
          </div>


          <div id="ne_gt-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Glutamine</h4>
              <ul>
                <li>Stimulates muscle growth</li>
                <li>Reduces muscle wasting</li>
                <li>Growth hormone increases</li>
                <li>Increases stamina and endurance</li>
                <li>Antioxidant effect</li>
                <li>Burning body fat</li>
                <li>Improve brain health</li>
                <li>Improve athletic performance</li>
                <li>Balance acid-base in bodily fluids</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal153-211">Effective in enhancing intestinal barrier
                    function</span>
                  <div class="modal" id="modal153-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Glutamine is effective in strengthening immunity as it helps strengthen the intestinal
                          barrier, which is the most important factor in the immune system</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal153-311">side effects</span>
                  <div class="modal" id="modal153-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Nausea</p>
                        <p>Sleep disorders</p>
                        <p>abdominal pain</p>
                        <p>Headache</p>
                        <p>Dizziness</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal153-411">How to take</span>
                  <div class="modal" id="modal153-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is also found in green vegetables (cabbage, celery, kale, etc.), meat, seafood, legumes,
                          eggs, and milk</p>
                        <p>About 5 to 15g/day</p>
                        <p>It is recommended to mix it in a protein shake before/after exercise for convenient
                          consumption</p>
                        ---
                        <p>I don't think you need to take it separately if you eat three meals a day.</p>
                        <p>If you can afford it and have a specific reason, I think it would be a good buy</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_t-i">
            <div class="main-wt">
              <h4 class="main-wt-title">Taurine</h4>
              <ul>
                <li>Relieves fatigue</li>
                <li>stabilizes blood pressure</li>
                <li>Helps prevent stroke</li>
                <li>Enables the heart muscle to contract smoothly</li>
                <li>It is said to be effective in treating dementia</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal154-211">Helps collagen formation</span>
                  <div class="modal" id="modal154-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Helps with skin health and oral health</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal154-311">Prevention of vascular disease</span>
                  <div class="modal" id="modal154-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Inhibits the production of low-density lipoprotein cholesterol that causes arteriosclerosis,
                          angina pectoris, and myocardial infarction</p>
                        <p>Increases the amount of high-density lipoprotein cholesterol that breaks down cholesterol
                          infiltrated into vascular tissue</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal154-511">side effects</span>
                  <div class="modal" id="modal154-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>If you have problems with kidney function, it is recommended to take it after consulting with
                          a specialist</p>
                        <p>It is recommended to consume it through food and, if necessary, to take it as a nutritional
                          supplement</p>
                        <p>Long-term intake through beverages is not recommended</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal154-611">How to take</span>
                  <div class="modal" id="modal154-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>The recommended daily dose for adults is 1000mg</p>
                        <p>Contains a lot in seafood</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="ne_bm-i">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">Black Marka</h4>
              <ul>
                <li>Effective for fatigue</li>
                <li>Helps improve bone density</li>
                <li>Stress relief</li>
                <li>Helps improve insomnia</li>
                <li>Helps block UV rays</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal155-211">Effective for brain health</span>
                  <div class="modal" id="modal155-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Inhibits the production of cortisol (the stress hormone)</p>
                        <p>Stimulates the secretion of serotonin and endorphins</p>
                        <p>Reduces cholesterol accumulation in blood vessels</p>
                        <p>By increasing blood flow to the brain, nutrients and oxygen are smoothly supplied and help
                          prevent dementia</p>
                        <p>Contains fatty acids and antioxidants that protect brain cells</p>
                        <p>Long-term consumption is said to prevent memory loss</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal155-311">Advantages to Men</span>
                  <div class="modal" id="modal155-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Effective in improving sexual function</p>
                        <p>Arginine contained in black maca dilates blood vessels in the penis, which is effective in
                          improving erectile dysfunction</p>
                        <p>It can also increase libido</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal155-411">Advantages to women</span>
                  <div class="modal" id="modal155-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Helps relieve dysmenorrhea and dysmenorrhea by controlling estrogen and progesterone hormone
                          imbalance</p>
                        <p>Effective in improving menopausal symptoms (depression, hot flashes, decreased libido,
                          vaginal dryness, etc.)</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal155-511">side effects</span>
                  <div class="modal" id="modal155-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Overdose may cause rash, abdominal pain, stomach cramps, etc.</p>
                        <p>In addition, it is recommended to take it with caution after consulting with a specialist if
                          you have any symptoms as it affects hormones</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal155-611">How to take</span>
                  <div class="modal" id="modal155-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is recommended to take 1500 ~ 3500mg a day without overdosing</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>