<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - REST</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title">휴식</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#rk_s">수면</a></li>
              <li><a href="#rk_b-t">쉬는 시간</a></li>
              <li><a href="#rk_c-n-s">중추신경계 피로</a></li>
              <li><a href="#rk_m">마사지</a></li>
              <li><a href="#rk_c">유산소</a></li>
            </ul>
          </nav>
        </section>


        <section class="rest">
          <div id="rk_s">
            <div class="main-wt">
              <h4 class="main-wt-title">수면</h4>
              <ul>
                <li>수면은 손상된 근육 회복과 성장 호르몬이 분비되어 매우 중요하다</li>
                <li>근육을 위한 수면으로는 7 ~ 8시간 이상을 권장한다</li>
                <li>
                  <span class="cursor" data-modal-target="#modal172-2">서파 수면(비렘수면)</span>
                  <div class="modal" id="modal172-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>성장 호르몬이 가장 많이 분비되는 기간이다</p>
                        <br>
                        <h5>서파 수면 늘리는 방법</h5>
                        <p>핑크 노이즈</p>
                        <p>따뜻한 샤워</p>
                        <p>카페인 X</p>
                        <p>30분 이상의 낮잠 X</p>
                        <p>
                          <img src="https://t1.daumcdn.net/cfile/tistory/991C61505A2F4C3C2F" alt="서파수면">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="rk_b-t">
            <div class="main-wt">
              <h4 class="main-wt-title">쉬는 시간</h4>
              <ul>
                <li>다관절 운동 - 긴 쉬는 시간은 더 높은 출력값을 가능하게 해 준다. 복합다관절운동을 고중량으로 수행할 때 3분 ~ 5분 정도 쉬어 주면 효과적일 수 있다</li>
                <li>단관절 운동 - 근육 크기에 따라 1~3분 정도가 효과적일 것이다</li>
                <li>
                  <span class="cursor" data-modal-target="#modal173-2">절대적 쉬는 시간?</span>
                  <div class="modal" id="modal173-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>짧은 쉬는 시간은 낼 수 있는 출력값이 감소되어 운동 볼륨을 감소 시킬 수 있고 이는 결과적으로 근성장을 감소시킬 수 있다</p>
                        <p>절대적인 쉬는 시간은 없다 <br> 대략적인 틀을 잡아 놓은 후 자신의 호흡이 돌아오고 다음 세트를 제대로 수행할 수 있는 정도의 쉬는 시간이 적당할 것 같다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
                <li>쉴 때는 핸드폰을 하지 말고 방금 했던 운동의 피드백을 하는 시간을 가질 것을 권장한다 </li>
                <li>본세트가 끝난 후 바로 다음 세트의 중량을 설정할 것을 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="rk_c-n-s">
            <div class="main-wt">
              <h4 class="main-wt-title">중추신셩 피로 </h4>
              <ul>
                <li>중추신경계는 근육 섬유의 활성화를 좌우한다. 중추신경계가 완전히 회복되어야 최대 출력값을 낼 수 있다</li>
                <li>중추신경계 회복 확인 방법 - 악력이 평소보다 10% 이하라면 회복이 덜 된 것이다</li>
                <li>중추신경 피로를 올리는 운동에는 유산소(긴운동), 다관절 운동, 대근육 운동, 짧은 휴식이 있다 <br>
                  효과적으로 운동하기 위해서는 [다관절 + 긴 휴식], [소근육 + 짧은 휴식], [다관절 운동 + 긴 시간 수행X]를 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="rk_m">
            <div class="main-wt">
              <h4 class="main-wt-title">마사지</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal175-2">쉬는 날, 지난 날 운동했던 부위를 폼롤러나 마시지볼을 통해 마사지 해 준다면 회복에
                    효과적일 것이다</span>
                  <div class="modal" id="modal175-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>근력 운동을 통해 미세하게 찢어지고 근육을 둘러싸고 있는 근막에 피로 물질(젖산)이 쌓인다. 이때 폼롤러나 마시지볼로 근막을 이완하면 근육통이 줄어들고 손상된 부위가
                          회복된다</p>
                        <p>마시지가 해당 부위의 혈액 순환을 촉진하고 피로 물질을 빠르게 제거하기 때문이다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="rk_c">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">유산소</h4>
              <ul>
                <li>혈액 순환을 원활하게 하여 컨디션을 올려주고 근육 속의 피로 물질을 제거해 주어 근육통을 빨리 낫게 해준다</li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title">REST</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#re_s">Sleep</a></li>
              <li><a href="#re_b-t">Break Time</a></li>
              <li><a href="#re_c-n-s">Central Nervous System Fatigue</a></li>
              <li><a href="#re_m">Massage</a></li>
              <li><a href="#re_c">Cardio</a></li>
            </ul>
          </nav>
        </section>


        <section class="rest">
          <div id="re_s">
            <div class="main-wt">
              <h4 class="main-wt-title">Sleep</h4>
              <ul>
                <li>Sleep is very important for the recovery of damaged muscles and the secretion of growth hormone</li>
                <li>Sleep for muscles is recommended at least 7-8 hours</li>
                <li>
                  <span class="cursor" data-modal-target2="#modal172-211">Slow wave sleep(non-REM sleep)</span>
                  <div class="modal2" id="modal172-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>This is the period when growth hormone is most secreted</p>
                        <br>
                        <h5>How to increase slow wave sleep</h5>
                        <p>Pink noise</p>
                        <p>Warm shower</p>
                        <p>Caffeine X</p>
                        <p>Naps longer than 30 minutes X</p>
                        <p>
                          <img src="https://t1.daumcdn.net/cfile/tistory/991C61505A2F4C3C2F" alt="slow wave sleep">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="re_b-t">
            <div class="main-wt">
              <h4 class="main-wt-title">Break Time</h4>
              <ul>
                <li>Multi-joint workouts - long rest periods allow for higher power output. When performing compound
                  multi-joint exercises with heavy weight, it can be effective to take a break of 3 to 5 minutes</li>
                <li>Single-joint exercises - 1-3 minutes will be effective depending on muscle size</li>
                <li>
                  <span class="cursor" data-modal-target2="#modal173-211">Absolute break time?</span>
                  <div class="modal2" id="modal173-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Short rest time can reduce the output value that can be produced and reduce the exercise
                          volume, which in turn can reduce muscle growth</p>
                        <p>There is no absolute rest time <br> After setting a rough frame, it seems appropriate to take
                          enough rest time to allow one's own breathing to return and properly perform the next set</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
                <li>It is recommended that you do not use your cell phone during breaks and take time to give feedback
                  on the exercise you just did</li>
                <li>It is recommended to set the weight for the next set immediately after the main set</li>
              </ul>
            </div>
          </div>


          <div id="re_c-n-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Centeral Nervous System Fatigue
              </h4>
              <ul>
                <li>The central nervous system governs the activation of muscle fibers. The central nervous system must
                  fully recover to achieve maximum output</li>
                <li>How to confirm recovery of the central nervous system - If the grip strength is less than 10% than
                  usual, the recovery is less than normal</li>
                <li>
                  Exercises that increase central nervous system fatigue include aerobic exercise(long exercise),
                  multi-joint exercise, large muscle exercise, and short rest
                  <br>
                  [Multi-joint + long rest], [Small muscle + short rest], and [Multi-joint exercise + long time
                  performance X] are recommended for effective exercise
                </li>
              </ul>
            </div>
          </div>


          <div id="re_m">
            <div class="main-wt">
              <h4 class="main-wt-title">Massage</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal175-211">
                    On a rest day, if you massage the area you exercised the day before with a foam roller or massage
                    ball, it will help you recover will be effective</span>
                  <div class="modal2" id="modal175-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Through strength training, it is microscopically torn and fatigue substances(lactic acid)
                          accumulate in the fascia surrounding the muscles. At this time, if the fascia is relaxed with
                          a foam roller or massage ball, muscle pain is reduced and the damaged area is healed
                          recover</p>
                        <p>This is because massage promotes blood circulation in the affected area and quickly removes
                          fatigue substances</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="re_c">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">CARDIO</h4>
              <ul>
                <li>Stimulates blood circulation to improve physical condition and removes fatigue substances in muscles
                  to quickly heal muscle pain</li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100">
    </ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>