<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - SHOULDER</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside">

      </aside>

      <div id="upKo" class="container">
        <div class="box"></div>

        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>기본 자세</h4>
            <p>가슴 앞으로 내밀고 흉추 아치 형성</p>
            <p>어깨 완전히 내리고 고정</p>
          </div>
        </header>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal111">삼각근</h1>

          <div class="modal" id="modal111">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>바로가기</h4>
          <ul>
            <li><a href="#sk_o-h-p">오버 헤드 프레스</a></li>
            <li><a href="#sk_s-p">숄더 프레스</a></li>
            <li><a href="#sk_s-l-r">사이드 레터럴 레이즈</a></li>
            <li><a href="#sk_u-r-r">업라이트 로우</a></li>
            <li><a href="#sk_r-p-d-f">리버스 펙 덱 플라이</a></li>
            <li><a href="#sk_h-h">힙 허거</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">전면</span>
                <div class="reg2">어깨 굴곡, 팔 내회전, 팔 수평 내전</div>
              </div>
              <div class="details"><a href="#sk_o-h-p">오버 헤드 프레스</a>,<a href="#sk_s-p">숄더 프레스</a> 등</div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">측면</span>
                <div class="reg2">팔 외전</div>
              </div>
              <div class="details"><a href="#sk_s-l-r">사이드 레터럴 레이즈</a>, <a href="#sk_u-r-r">업라이트 로우</a> 등</div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">후면</span>
                <div class="reg2">어깨 신전, 팔 외회전, 팔 수평 외전</div>
              </div>
              <div class="details"><a href="#sk_r-p-d-f">리버스 펙 덱 플라이</a>, <a href="#sk_h-h">힙 허거</a> 등</div>
            </div>
            <div class="ps">
              어깨 관절은 취약한 관절이니 무리 하지 말자. 넓은 어깨를 원한다면 등 운동 강추
            </div>
          </div>
        </section>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target="#modal112">회전근개</h1>

          <div class="modal" id="modal112">
            <div class="modal-header">
              <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <img src="http://ysok.co.kr/img/shoulder/img_shoulder_re.jpg?ver=200120" alt="">
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <span class="bold">극상근</span>
              <div class="reg2">상완골 외전</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">극하근</span>
              <div class="reg2">상완골 외회전</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">견갑하근</span>
              <div class="reg2">상완골 내전, 외회전</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">소원근</span>
              <div class="reg2">상완골 내회전</div>
            </div>
            <div class="details"></div>
          </div>
          <div class="ps">
            어깨의 움직임과 안정성을 유지
          </div>
        </section>


        <section class="workout">
          <div id="sk_o-h-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal113">오버 헤드 프레스</span>
                <div class="modal" id="modal113">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>그립 - 엄지 보단 새끼손가락을 바에 수직으로 맞추어 잡기</li>
                <li>전완 - 바벨을 잡은 후 전완이 바벨과 수직이 되도록 몸을 집어 넣기</li>
                <li>쇄골 - 흉부의 회전으로(가슴 신전) 바벨이 쇄골에 위치하도록 의식</li>
                <li>긴장 - 복부와 둔근, 등에 힘을 주어 균형과 긴장 유지</li>
                <li>동작 - 바벨의 수직 운동을 위해 상체를 뒤로 젖히고 정수리 위쪽으로 밀어 올리기</li>
                <li>머리 - 바벨을 올릴 때 머리를 약간 뒤로 빼기</li>
                <li>거상 - 바벨을 올려 최대 수축 했을 때 견갑을 거상</li>
              </ul>
              <div class="benefit">
                전면 삼각근, 측면 삼각근과 여러 상체 근육에 효과적
              </div>
            </div>
          </div>


          <div id="sk_s-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal114">숄더 프레스</span>
                <div class="modal" id="modal114">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>수직 - 양 손이 11자로 올라 가는 것을 의식</li>
                <li>간격 - 덤벨을 올렸을 떄 팔을 모아 준 다는 느낌으로 수행</li>
                <li>팔 - 팔은 90도 정도까지만 내리고 어깨의 수축에 집중 하면서 쫙 피기</li>
                <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
                <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="tips">
                더 많은 협응근들과 안정근들의 개입을 이끌어 내기 위해 서서 덤벨로 수행하는 것을 권장
              </div>
              <div class="benefit">
                전면 삼각근에 효과적
              </div>
            </div>
          </div>


          <div id="sk_s-l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal115">사이드 레터럴 레이즈</span>
                <div class="modal" id="modal115">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>손목 - 전완근과 수평. 살짝 내회적</li>
                <li>팔꿈치 - 어깨와 수평이 되는 위치까지만 올리기. 살짝 굴곡</li>
                <li>팔 - 팔을 올릴 때 어깨 보다 높게 올라가지 않게 수행. 또한 팔이 어깨보다 살짝 앞에 오도록 수행</li>
                <li>손 - 허벅지 옆에 위치</li>
                <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
                <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                측면 삼각근에 효과적
              </div>
              <div class="methods">
                <h4>다양한 동작들</h4>
                <div class="more-method">
                  <h4>린 사레레</h4>
                  <p>기둥을 잡고 기울여서 하는 사레레</p>
                </div>
                <div class="more-method">
                  <h4>케이블 사레레</h4>
                  <p>일정한 장력을 지속적으로 유지</p>
                </div>
                <div class="more-method">
                  <h4>케이블 린 사레레</h4>
                  <p>케이블 머신의 기둥을 잡고 기울여서 수행</p>
                </div>
              </div>
            </div>
          </div>


          <div id="sk_u-r-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal116">업라이트 로우</span>
                <div class="modal" id="modal116">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>그립 - 주먹 두 개가 들어갈 정도의 너비</li>
                <li>손등 - 손등이 앞을 보게 수행</li>
                <li>팔 - 팔을 올릴 때 어깨 보다 높게 올라가지 않게 수행. 또한 팔이 어깨보다 살짝 앞에 오도록 수행</li>
                <li>바 - 이지바 사용. 몸에 붙이지 말고 앞으로 살짝 띄어서 수행. 바를 꽉 잡지 말고 걸친다는 느낌으로 잡기</li>
                <li>팔꿈치 - 팔꿈치를 이용하여 올린다는 느낌으로 수행</li>
                <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
                <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
                <div class="benefit">
                  측면 삼각근에 효과적
                </div>
            </div>
          </div>


          <div id="sk_r-p-d-f">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal117">리버스 펙 덱 플라이</span>
                <div class="modal" id="modal117">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">기본 자세</li>
                <li>고관절 - 엉덩이를 살짝 뒤로 빼서 등받이에 살짝 눕듯이 상체 기울이기</li>
                <li>팔꿈치 - 팔꿈치는 쫙 펴고 살짝 내회전</li>
                <li>목 - 목에 힘 빼고 수행. 목에 힘을 주면 승모근 개입이 증가(후면을 할 때 승모가 개입이 안 되는 것은 불가능 하다. 다만 승모의 개입을 최소화 시키려는 노력은 할 수 있다)
                </li>
                <li>팔 - 가슴을 활짝 펴는 느낌으로 팔을 뒤로 보내기. 양 팔이 일직선이 되도록 수행</li>
                <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
                <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                후면 삼각근에 효과적
              </div>
            </div>
          </div>


          <div id="sk_h-h">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal118">힙 허거</span>
                <div class="modal" id="modal118">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>팔꿈치 - 덤벨을 들고 팔꿈치를 뒤로 끌어 당기기</li>
                <li>허리 - 바리를 끌어 올린다느 느낌으로 수행</li>
                <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
                <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
              </ul>
              <div class="benefit">
                후면 삼각근에 효과적
              </div>
            </div>
          </div>

          <!--  <div class="s_r-p-d-f">
        <div class="main-wt">
          <h4>벤트 오버 레이즈</h4>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
            <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
          </ul>
          <div class="benefit">
          </div>
        </div>
      </div> -->
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>



        <header class="inner-box">
          <div id="standard-posture" class="standard-posture">
            <h4>Standard Posture</h4>
            <p>Make chest forward and form the thoracic arch</p>
            <p>shoulder fully down and fixed</p>
          </div>
        </header>



        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal111-11.">DELTOID</h1>

          <div class="modal2" id="modal111-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <div class="modal-p">
                <img src="" alt="">
              </div>
            </div>
          </div>
          <div id="overlay"></div>
        </section>


        <nav class="main-nav">
          <h4>Shortcut</h4>
          <ul>
            <li><a href="#se_o-h-p">Over Head Press</a></li>
            <li><a href="#se_s-p">Shoulder Press</a></li>
            <li><a href="#se_s-l-r">Side Lateral Raise</a></li>
            <li><a href="#se_u-r-r">Upright Row</a></li>
            <li><a href="#se_r-p-d-f">Reverse Pec Deck Fly</a></li>
            <li><a href="#se_h-h">Hip Hugger</a></li>
          </ul>
        </nav>


        <section class="notion">
          <div class="region">
            <div class="reg">
              <div class="part">
                <span class="bold">Anterior Deltoids</span>
                <div class="reg2">Shoulder Flexion, Arm Internal Rotation, Arm Horizontal Adduction</div>
              </div>
              <div class="details"><a href="#se_o-h-p">Over Head Press</a>,<a href="#se_s-p">Shoulder Press</a> etc
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Lateral Deltoids</span>
                <div class="reg2">Arm Abduction</div>
              </div>
              <div class="details"><a href="#se_s-l-r">Side Lateral Raise</a>, <a href="#se_u-r-r">Upright Row</a> etc
              </div>
            </div>

            <div class="reg">
              <div class="part">
                <span class="bold">Rear Deltoid</span>
                <div class="reg2">Shoulder Extension, Arm External Rotation, Arm Horizontal Abduction</div>
              </div>
              <div class="details"><a href="#se_r-p-d-f">Reverse Pec Deck Fly</a>, <a href="#se_h-h">Hip Hugger</a> etc
              </div>
            </div>
            <div class="ps">
              The shoulder joint is a vulnerable joint, so don't overdo it. If you want broad shoulders, back exercises
              are recommended
            </div>
          </div>
        </section>


        <section class="theme">
          <h1 class="main-title cursor" data-modal-target2="#modal112-11.">ROTATOR CUFF</h1>

          <div class="modal2" id="modal112-11.">
            <div class="modal-header">
              <button data-close-button2 class="close-button">&times;</button>
            </div>
            <div class="modal-body">
              <img src="http://ysok.co.kr/img/shoulder/img_shoulder_re.jpg?ver=200120" alt="">
            </div>
          </div>
          <div id="overlay"></div>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
          </nav>

          <div class="reg">
            <div class="part">
              <span class="bold">Supraspinatus</span>
              <div class="reg2">Humerus Abduction</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">Infraspinatus</span>
              <div class="reg2">Humerus External Rotation</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">Subscapularis</span>
              <div class="reg2">Humeral Adduction and External Rotation</div>
            </div>
            <div class="details"></div>
          </div>

          <div class="reg">
            <div class="part">
              <span class="bold">Teres Minor</span>
              <div class="reg2">Humerus Internal Rotation</div>
            </div>
            <div class="details"></div>
          </div>
          <div class="ps">
            Maintain shoulder movement and stability
          </div>
        </section>


        <section class="workout">
          <div id="se_o-h-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal113-11.">Over Head Press</span>
                <div class="modal2" id="modal113-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Grip - Hold your little finger perpendicular to the bar rather than your thumb</li>
                <li>Forearms - Grab the barbell and tuck your body in so that your forearms are perpendicular to the
                  barbell</li>
                <li>Clavicle - Rotation of the chest (chest extension) consciously positioning the barbell on the
                  collarbone</li>
                <li>Tension - Maintain balance and tension by tightening the abdominals, glutes and back</li>
                <li>Action - Tilt your torso back and push up the top of your head for a vertical movement of the
                  barbell</li>
                <li>Head - Back your head slightly when lifting the barbell</li>
                <li>Elevation - Elevate the shoulder blades when the barbell is lifted and maximally contracted</li>
              </ul>
              <div class="benefit">
                Effective for Anterior Deltoids, Lateral Deltoids and other Upper Body Muscles
              </div>
            </div>
          </div>


          <div id="se_s-p">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal114-11.">Shoulder Press</span>
                <div class="modal2" id="modal114-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Vertical - conscious of both hands rising to the figure 11</li>
                <li>Interval - Perform with the feeling of bringing your arms together when lifting the dumbbells</li>
                <li>Arms - Lower your arms only to about 90 degrees and extend them while focusing on contraction of the
                  shoulders</li>
                <li>Tension - Repeat the movement while maintaining tension without completely lowering the arm</li>
                <li>Contraction - Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="tips">
                Standing dumbbells are recommended to elicit more coordination and stabilizing muscle involvement
              </div>
              <div class="benefit">
                Effective for the Anterior Deltoid
              </div>
            </div>
          </div>


          <div id="se_s-l-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal115-11.">Side Lateral Raise</span>
                <div class="modal2" id="modal115-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Wrist - level with the forearm. slightly introverted</li>
                <li>Elbows - Raise only to the point where they are level with the shoulders. bend slightly</li>
                <li>Arm - When raising the arm, do not raise it higher than the shoulder. Also, do it so that your arms
                  are slightly in front of your shoulders</li>
                <li>hands - next to the thighs</li>
                <li>Tension - Repeat the movement while maintaining tension without completely lowering the arm</li>
                <li>Contraction - Concentrate on contraction to feel stimulation(MMC)</li>
              </ul>
              <div class="benefit">
                Effective for Lateral Deltoids
              </div>
              <div class="methods">
                <h4>Various Actions</h4>
                <div class="more-method">
                  <h4>Lean SLR</h4>
                  <p>SLR performed by leaning while holding a pole</p>
                </div>
                <div class="more-method">
                  <h4>Cabel SLR</h4>
                  <p>maintain constant tension</p>
                </div>
                <div class="more-method">
                  <h4>Cabel Lean SLR</h4>
                  <p>Performed by holding onto the pole of a cable machine and lean</p>
                </div>
              </div>
            </div>
          </div>


          <div id="se_u-r-r">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal116-11.">Upright Row</span>
                <div class="modal2" id="modal116-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Grip - wide enough to fit two fists</li>
                <li>On the back of the hand - performed with the back of the hand facing forward</li>
                <li>Arm - When raising the arm, do not raise it higher than the shoulder. Also, do it so that your arms
                  are slightly in front of your shoulders</li>
                <li>Bar - Use the Easy Bar. Do not stick to the body, but slightly forward. Don't grip the bar tightly,
                  but hold it with the feeling of wearing it</li>
                <li>Elbow - Perform with the feeling of lifting using the elbow</li>
                <li>Tension - Repeat the movement while maintaining tension without completely lowering the arm</li>
                <li>Contraction - Concentrate on contraction to feel stimulation (MMC)</li>
                <div class="benefit">
                  Effective for Lateral Deltoids
                </div>
            </div>
          </div>


          <div id="se_r-p-d-f">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal117-11.">Reverse Pec Deck Fly</span>
                <div class="modal2" id="modal117-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li class="basic-form" onclick="myFunction(event)">Standard Posture</li>
                <li>Hip Joint - Tilt your upper body slightly back as if you were lying on the backrest</li>
                <li>Elbows - Keep your elbows straight and slightly internally rotated</li>
                <li>Neck - Relax your neck and perform it. Strengthening the neck increases trapezius involvement</li>
                <li>Arms - Send your arms back with a feeling of wide open chest. Perform so that both arms are in a
                  straight line</li>
                <li>Tension - Repeat the movement while maintaining tension without completely lowering the arm</li>
                <li>Contraction - Concentrate on contraction to feel stimulation (MMC)</li>
              </ul>
              <div class="benefit">
                Effective for Rear Deltoids
              </div>
            </div>
          </div>


          <div id="se_h-h">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target2="#modal118-11.">Hip Hugger</span>
                <div class="modal2" id="modal118-11.">
                  <div class="modal-header">
                    <button data-close-button2 class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <img src="" alt="">
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <li>Elbows - Holding dumbbells, pulling elbows back</li>
                <li>Waist - Perform with the feeling of lifting your legs</li>
                <li>Tension - Repeat the movement while maintaining tension without completely lowering the arm</li>
                <li>Contraction - Concentrate on contraction to feel stimulation (MMC)</li>
              </ul>
              <div class="benefit">
                Effective for Rear Deltoids
              </div>
            </div>
          </div>

          <!--  <div class="s_r-p-d-f">
        <div class="main-wt">
          <h4>벤트 오버 레이즈</h4>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>텐션 - 팔을 완전히 내리지 말고 긴장감을 유지한 채 동작 반복</li>
            <li>수축 - 수축에 집중하여 자극 느끼기(MMC)</li>
          </ul>
          <div class="benefit">
          </div>
        </div>
      </div> -->
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>