<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - STRETCHING</title>


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title">스트레칭</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#sk_w-m">워밍업</a></li>
              <li><a href="#sk_r-s">라운드 숄더</a></li>
              <li><a href="#sk_c">가슴</a></li>
              <li><a href="#sk_b">등</a></li>
              <li><a href="#sk_ab">복근</a></li>
              <li><a href="#sk_a">팔</a></li>
              <li><a href="#sk_s">어깨</a></li>
              <li><a href="#sk_q">앞벅지</a></li>
              <li><a href="#sk_h">뒷벅직</a></li>
              <li><a href="#sk_cf">종아리</a></li>
              <li><a href="#sk_g">엉덩이</a></li>
              <li><a href="#sk_n">목</a></li>
            </ul>
          </nav>
        </section>


        <section class="stretching">
          <div id="sk_w-m">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Warming Up</span>
                <div class="modal-subtitle">워밍업</div>
              </h4>
              <ul>
                <li>정적 스트레칭 - 해당 근육을 쭈욱 늘려 주는 행위. 30초 미만 정도는 좋다</li>
                <li>1분 이상 정적 스트레칭을 진행하는 것은 근성장에 오히려 해가 되니 피해줄 것을 권장한다</li>
                <br>
                <li>동적 스트레칭 진행 후 본 세트를 진행할 것을 적극 권장한다</li>
                <li>동적 스트레칭 - 빈 바에서 시작하여 조금씩 증량하여 반복 횟수 5개 이하로 진행하는 것</li>
                <li>
                  ex) 벤치프레스 1rm 80kg
                  <div>20kg(빈바) 10reps, 35kg 5reps, 50kg 3reps, 65kg 2reps + 본세트</div>
                  <div>(증량하는 무게는 자신에게 적합하게 변형할 것을 권장)</div>
                </li>
                <li>동적 스트레칭 시, 쉬는 시간 없이 무게만 바꾸고 바로 진행</li>
                <br>
                <li>여름은 날이 따뜻하여 따로 가벼운 유산소로 몸을 풀어주지 않아도 괜찮을 것이다</li>
                <li>겨울은 날이 차가우니 운동 전 가벼운 유산소로 간단하게 몸을 풀어 줄 것을 권장한다</li>
                <br>
                <li>
                  <span class="cursor" data-modal-target="#modal211-2">Y-레이즈</span>
                  <div class="modal" id="modal211-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>양 손목에 밴드를 껴준 후 팔을 Y자로 위로 올렸다가 천천히 내려준다</li>
                          <li>상체 운동 전에 하면 효과적인 워밍업</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>회전근개와 상부 승모에 효과적</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal211-3">스파이더 크롤</span>
                  <div class="modal" id="modal211-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>밴드를 양 손목에 감고 벽을 위아래로 왕복한다</li>
                          <li>견갑골 전인, 팔 수평외전</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>회전근개, 후면 삼각근, 전거근에 효과적</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal211-4">밴드 풀 어파트</span>
                  <div class="modal" id="modal211-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>밴드를 잡은 후 팔을 들어 올리고 밴드를 뒤로 당겨준다</li>
                          <li>리버스 펙 덱 플라이와 유사한 동작</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>회전근개, 승모근, 능형근, 후면 삼각근에 효과적</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_r-s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Round Shoulder</span>
                <div class="modal-subtitle">라운드 숄더</div>
              </h4>
              <ul>
                <li>오랜 좌식 생활과 앞쪽 근육의 더 많은 발달로 인해 발생할 수 있다</li>
                <br>
                <li>상,하부 승모 - Y-레이즈</li>
                <li>밴드를 잡은 후 팔을 Y자로 위로 올렸다가 천천히 내려준다</li>
                <br>
                <li>중부 승모 - 밴드 풀 어파트</li>
                <li>밴드를 잡은 후 밴드를 뒤로 당겨준다. 견갑을 뒤로 모아준다는 느낌으로 수행할 것을 권장한다</li>
                <br>
                <li>전거근 - 푸쉬업 플러스</li>
                <li>푸쉬업 자세에서 견갑을 뒤로 빼준다</li>
              </ul>
            </div>
          </div>


          <div id="sk_c">
            <div class="main-wt">
              <h4 class="main-wt-title">Chest Stretching
                <div class="modal-subtitle">가슴</div>
              </h4>
              <ul>
                <!-- <li>
                <span class="cursor" data-modal-target="#modal214-2">pectoralis
                  <div>흉근</div>
                </span>
                <div class="modal" id="modal214-2">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <ul> -->
                <li>
                  <h4>스트레칭</h4>
                </li>
                <li>한쪽 팔을 90도 정도로 구부린 후 벽에 전완근을 세워서 갖다 대어 고정한다</li>
                <li>상체를 앞으로 내밀면서 가슴을 스트레칭 할 것을 권장한다</li>
              </ul>
              <br>
              <div class="img">
                <!-- <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.18169-9/17424619_1396687790391790_7398651940496614732_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9267fe&_nc_ohc=6cBmDh83GwcAX-J3awE&_nc_ht=scontent-ssn1-1.xx&oh=00_AfDWPoutj7oUaF3TH0owk0DJx6MafGCIByuoPGK9UkjBXA&oe=63F330EF"
                        alt="가슴 스트레칭"> -->
              </div>
              <!-- </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </li>
              </ul>
            </div>
          </div>


          <div id="sk_b">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Back Stretching</span>
                <div class="modal-subtitle">등 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal213-1">latissimus dorsi
                    <div>광배근</div>
                  </span>
                  <div class="modal" id="modal213-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>의자에 앉아 오른쪽 팔을 어깨 위로 올려주고 왼쪽 팔로 오른쪽 팔꿈치를 고정해 준다</li>
                          <li>이후 허리를 왼쪽으로 쭉 꺾어준다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-2">rhomboid
                    <div>능형근</div>
                  </span>
                  <div class="modal" id="modal213-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>의자에 앉아 척추 중립을 하고 팔을 앞으로 쭉 뻗는다</li>
                          <li>등을 앞으로 밀어주면서 등을 뽑는 다는 느낌으로수행</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-4">iliocostalis
                    <div>장늑근</div>
                  </span>
                  <div class="modal" id="modal213-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>바닥에 앉아서 오른쪽 다리를 왼쪽 무릎 위로 꼬아준다</li>
                          <li>왼쪽 팔을 오른쪽 무릎에 걸어 왼쪽으로 당기고 몸은 오른쪽으로 돌려준다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-5">
                    <div></div>
                  </span>
                  <div class="modal" id="modal213-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>의자에 앉아 척추 중립을 하고 팔을 앞으로 쭉 뻗는다</li>
                          <li>등을 앞으로 밀어주면서 등을 뽑는 다는 느낌으로수행</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-6">top trapezius
                    <div>상부 승모근</div>
                  </span>
                  <div class="modal" id="modal213-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>의자에 앉아 고개를 왼쪽으로 기울이고 왼손으로 고개를 옆으로 눌러준다</li>
                          <li>오른쪽 어깨를 완전히 내려주고 의자를 잡고 고정해주면 더 효과적이다</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-7">middle trapezius
                    <div>중부 승모근</div>
                  </span>
                  <div class="modal" id="modal213-7">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <br>
                          <li>
                            <h5>밴드 풀 어파트</h5>
                          </li>
                          <li>밴드를 잡은 후 밴드를 뒤로 당겨준다. 견갑을 뒤로 모아준다는 느낌으로 수행할 것을 권장한다</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal213-8">lower trapezius
                    <div>하부 승모근</div>
                  </span>
                  <div class="modal" id="modal213-8">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <br>
                          <li>
                            <h5>Y-레이즈</h5>
                          </li>
                          <li>밴드를 잡은 후 팔을 Y자로 위로 올렸다가 천천히 내려준다</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <br>
                          <li>
                            <h5>프론 코브라</h5>
                          </li>
                          <li>엎드린 후 날개뼈를 최대한 아래쪽으로 내려준다.경추는 중립을 유지하고 가슴을 10cm 정도 띄운다</li>
                          <li>견갑골을 안쪽으로 모으고(후인) 엄지 손가락이 하늘을 향하도록 팔을 외회전 해야 한다</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <!-- <li>수축감 상승, 근육 두께 증가, 목 통증 완화, 자세 정렬, 라운드 숄더 개선</li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_ab">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Abs Stretching</span>
                <div class="modal-subtitle">복근 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal219-1">rectus abdomins
                    <div>복직근</div>
                  </span>
                  <div class="modal" id="modal219-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>엎드린 다음 손으로 상체를 세워준다</li>
                          <li>손은 어깨와 일직선 상에 있게 하고 팔꿈치는 펴준다</li>
                        </ul>
                        <br>
                        <h4>통증</h4>
                        <p>배에 가로로 둥글게 통증이 나타나고 가스 찬 느낌이 든다</p>
                        <div class="img">
                          <!-- <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201001/htm_2010012500294370007400-001.JPG"
                    alt="복직근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal219-2">oblique
                    <div>복사근</div>
                  </span>
                  <div class="modal" id="modal219-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>두 팔을 양 옆으로 벌린 후 상체를 양 옆으로 숙여준다</li>
                        </ul>
                        <div class="img">
                          <!-- <img  rc="https://dispatch.cdnser.be/wp-content/uploads/2017/10/a9f2db7b91aea14389852ab2fa5e23f3.jpg"
                    alt="복사근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal219-3"></span>
                  <div class="modal" id="modal219-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>

          <div id="sk_a">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Arm Stretching</span>
                <div class="modal-subtitle">팔 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal215-2">biceps
                    <div>상완이두근</div>
                  </span>
                  <div class="modal" id="modal215-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>어깨 높이의 잡을 수 있는 것을 잡는다. 이때 손바닥이 천장을 보게 잡는다</li>
                          <li>몸은 앞을 보고 이두를 스트레칭 할 것을 권장한다</li>
                          <li>이때 이두를 쥐어 짜 줘라</li>
                          <br></br>
                          <li>벽에 손을 어깨 높이 쯤에 대고 몸은 반대쪽으로 돌려줘라</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://t1.daumcdn.net/cfile/tistory/23784F445437EB9205" alt="이두 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal215-3">triceps
                    <div>상완삼두근</div>
                  </span>
                  <div class="modal" id="modal215-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>한쪽 팔을 몸 뒤로 보내준다</li>
                          <li>반대쪽 손으로 몸 뒤로 보낸 팔의 팔꿈치를 당겨주면서 삼두근이 스트레칭 되는 것에 집중해 볼 것을 권장한다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDAyMDdfMjk2/MDAxNTgxMDgwNTM0MzU1.LqOziGk5ZGBGGW3SDf_pyeyoDVXXMzQ6-TtvpbhQ-Uwg.tJbVshoSwqn_UNqfwow9kxwznnZY75lyk7SdIDPAnSEg.PNG.agym8/%25EC%2583%2581%25EC%2599%2584%25EC%2582%25BC%25EB%2591%2590%25EA%25B7%25BC_%25EC%258A%25A4%25ED%258A%25B8%25EB%25A0%2588%25EC%25B9%25AD1.PNG?type=w800"
                          alt="삼두 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal215-4">forearm
                    <div>전완근</div>
                  </span>
                  <div class="modal" id="modal215-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>한쪽 팔을 쭉 뻗고 뻗어준 팔의 손바닥이 정면을 보이게 한다</li>
                          <li>반대편 손으로 뻗은 손의 손가락을 잡아 뒤쪽으로 당겨준다</li>
                          <div class="img">
                            <!-- <img src="https://t1.daumcdn.net/cfile/tistory/227740445437EB7B06" alt="전완근 스트레칭"> -->
                          </div>
                          <br>
                          <li>
                            <h4>마사지</h4>
                          </li>
                          <li>무릎에 한쪽 팔의 전완근을 올려 놓은 후 반대쪽 팔의 팔꿈치 또는 손바닥으로 전완근을 압박해 준다</li>
                          <div class="img">
                            <!-- <img src="https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fbdeebe35-b4c5-41b3-8328-c9382275db15%2FER6_6630_(1).jpg&blockId=c3061ec6-0478-449c-86c9-b30b0f0e8409"
                            alt="전완근 마사지"> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_s">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Shoulder Stretching</span>
                <div class="modal-subtitle">어깨 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal221-1">deltoid
                    <div>삼각근</div>
                  </span>
                  <div class="modal" id="modal221-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>왼팔을 오른쪽으로 보내고 오른팔 전완근으로 왼팔 팔꿈치를 누른다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal221-2">supraspinatus
                    <div>극상근</div>
                  </span>
                  <div class="modal" id="modal221-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>마사지</h4>
                          </li>
                          <li>어깨에서 길게 튀어나온 뼈 바로 위쪽을 꾹 눌러준다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal221-3">infraspinatus
                    <div>극하근</div>
                  </span>
                  <div class="modal" id="modal221-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>한쪽 손을 왼쪽 골반에 올려두고 반대쪽 손으로 골반에 올려둔 팔의 팔꿈치를 잡고 몸 안쪽으로 당겨준다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_q">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Quad Stretching</span>
                <div class="modal-subtitle">앞벅지(대퇴사두) 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal216-1">quad
                    <div>대퇴사두</div>
                  </span>
                  <div class="modal" id="modal216-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>한쪽 다리를 뒤로 보낸 후 발목을 잡아 보아라</li>
                          <li>그 상태에서 다리를 뒤로 당기면서 팔로도 잡아 당길 것을 권장한다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://mblogthumb-phinf.pstatic.net/20150817_201/fitnessbs7_1439741248160B91Jf_JPEG/QUADRI2.jpg?type=w2"
                          alt="대퇴사두 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal216-2">adductor
                    <div>내전근</div>
                  </span>
                  <div class="modal" id="modal216-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>고양이 자세에서 양 다리를 더 옆쪽으로 벌려준다</li>
                          <li>이후 골반을 뒤로 빼면서 다리 안쪽을 스트레칭 할 것을 권장한다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="내전근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_h">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Hamstring Stretching</span>
                <div class="modal-subtitle">뒷벅지(햄스트링)</div>
              </h4>
              <ul>
                <!-- <li>
                  <span class="cursor" data-modal-target="#modal217-1">hamstring
                    <div>햄스트링</div>
                  </span>
                  <div class="modal" id="modal217-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul> -->
                <li>
                  <h4>스트레칭</h4>
                </li>
                <li>다리를 쭉 피고 상체를 기울이면서 눌러주면 어떠한 방식으로든 스트레칭 된다</li>
              </ul>
              <div class="img">
                <!-- <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F24E9BD335976C00524"
                          alt="햄스트링 스트레칭"> -->
                <!-- <img src="https://blog.kakaocdn.net/dn/r10jM/btqQUY6GBjW/wt4KeyB7K2q63BwgtW6Ty0/img.png" alt="햄스트링 스트레칭"> -->
              </div>
              <!-- </div>
                    </div>
                  </div>
                  <div id="overlay"></div> -->
              </li>
              </ul>
            </div>
          </div>


          <div id="sk_g">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Gluteus Stretching</span>
                <div class="modal-subtitle">엉덩이 스트레칭</div>
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal220-1">
                    <div>대둔근</div>
                  </span>
                  <div class="modal" id="modal220-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>침대나 의자에 한쪽 다리를 구부리고 눕힌 상태로 올려놓는다</li>
                          <li>상체를 아래로 누르면서 엉덩이가 스트레칭 되는 것에 집중해 보아라</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="대둔근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal220-">
                    <div>소둔근</div>
                  </span>
                  <div class="modal" id="modal220-">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>의자에 앉은 후 한쪽 다리를 반대쪽 다리 위에 올려준다</li>
                          <li>올린 다리의 무릎을 잡고 반대쪽 다리 쪽으로 당겨준다</li>
                          <br>
                          <li>바닥에 누은 후 한쪽 다리의 무릎을 잡고 몸통 쪽으로 당겨준다</li>
                          <div class="img">
                          </div>
                          <li>
                            <h4>마사지</h4>
                          </li>
                          <li>옆으로 누은 후 튀어나온 엉덩이 뼈 바로 뒤를 마사지볼로 비벼주기</li>
                          <div class="img">
                            <!-- <img src="" alt="소둔근 스트레칭"> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal220-4">
                    <div>요방형근</div>
                  </span>
                  <div class="modal" id="modal220-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>바닥에 앉은 상태에서 한쪽 손으로 반대쪽 다리의 무릎을 잡는다</li>
                          <li>무릎을 잡지 않은 반대 팔은 위로 올곧게 편 후 무릎을 잡은 팔쪽으로 상체를 숙여준다(왼손으로 오른쪽 무릎을 잡았으면 왼쪽으로 숙이기)</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="요방형근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal220-5">
                    <div>이상근(+ 중둔근)</div>
                  </span>
                  <div class="modal" id="modal220-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>바닥에 누은 후 왼쪽 다리를 오른쪽 다리 위에 올려 놓는다</li>
                          <li>오른쪽 다리 뒤쪽에 깍지를 끼고 몸쪽으로 다리를 당긴다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://www.knee-pain-explained.com/images/how-to-do-piriformis-stretches.jpg" alt="이상근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal220-6">
                    <div>장요근</div>
                  </span>
                  <div class="modal" id="modal220-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>스트레칭</h4>
                          </li>
                          <li>긴 런지 자세를 취한 후 쭉 늘려줘라</li>
                          <li>사타구니 쪽이 스트레칭 되는 느낌이다</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="http://src.hidoc.co.kr/image/lib/2018/6/11/20180611175057486_0.jpg" alt="장요근 스트레칭"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="sk_cf">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span>Calf Stretching</span>
                <div class="modal-subtitle">종아리</div>
              </h4>
              <ul>
                <!-- <li>
                  <span class="cursor" data-modal-target="#modal218">calf
                   <div>종아리</div> 
                  </span>
                  <div class="modal" id="modal218">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul> -->
                <li>
                  <h4>스트레칭</h4>
                </li>
                <li>한쪽 다리를 쭉 핀 상태에서 상체를 숙여준 후 발목을 들어주면 효과적이다</li>
                <li></li>
              </ul>
              <div class="img">
                <!-- <img src="" alt=""> -->
              </div>
              <!-- </div>
                    </div>
                  </div>
                  <div id="overlay"></div> -->
              </li>
              </ul>
            </div>


            <div id="sk_n">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal211-1">Neck Stretching</span>
                  <div class="modal-subtitle">목 스트레칭</div>
                  <div class="modal" id="modal211-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    <span class="cursor" data-modal-target="#modal213-4">levator scapulae
                      <div>견갑거근</div>
                    </span>
                    <div class="modal" id="modal213-4">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                          <ul>
                            <li>
                              <h4>스트레칭</h4>
                            </li>
                            <li>체중을 팔꿈치로 받쳐주고 몸을 팔꿈치 쪽으로 숙여서 목 뒤쪽에 있는 승모근을 잡아주어라</li>
                            <li>손으로 승모근을 앞쪽으로 당기다 보면 홈이 </li>
                          </ul>
                          <br>
                          <h4>통증</h4>
                          <p>목이 뻣뻣하고 심하면 목을 움직이지 못한다. 통증으로 인해 뒤돌아보려면 목이 아니라 몸을 돌리게 될 수도 있다</p>
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal213-3">scalene
                      <div>사각근</div>
                    </span>
                    <div class="modal" id="modal213-3">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                          <ul>
                            <li>
                              <h4>마사지</h4>
                            </li>
                            <li>목을 사선으로 기울이고 한 쪽 손으로 그 머리를 밀어 주어라</li>
                            <li>이때 사선으로 튀어나온 근육 바로 뒤쪽에 있는 근육이 사각근이다</li>
                            <li>여기를 꾹 눌러주기</li>
                            <br>
                            <li>
                              <h4>스트레칭</h4>
                            </li>
                            <li>한 손으로 반대편 머리를 잡고 목에 힘을 뺀 후 지긋이 당기면서 목의 측면을 늘려주기</li>
                          </ul>
                          <br>
                          <h4>통증</h4>
                          <p>지속적인 목 통증, 손저림</p>
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>


            <!-- <div id="s_w-m">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal211-1"></span>
                  <div class="modal-subtitle">워밍업</div>
                  <div class="modal" id="modal211-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    <span class="cursor" data-modal-target="#modal211-2"></span>
                    <div class="modal" id="modal211-2">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal211-3"></span>
                    <div class="modal" id="modal211-3">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal211-4"></span>
                    <div class="modal" id="modal211-4">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div> -->
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title">STRETCHING</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#se_w-m">Warming Up</a></li>
              <li><a href="#se_r-s">Round Shoulder</a></li>
              <li><a href="#se_c">Chest</a></li>
              <li><a href="#se_b">Back</a></li>
              <li><a href="#se_ab">Abs</a></li>
              <li><a href="#se_a">Arm</a></li>
              <li><a href="#se_s">SHoulder</a></li>
              <li><a href="#se_q">Front Leg</a></li>
              <li><a href="#se_h">Back Leg</a></li>
              <li><a href="#se_cf">Calf</a></li>
              <li><a href="#se_g">Gluteus</a></li>
              <li><a href="#se_n">Neck</a></li>
            </ul>
          </nav>
        </section>


        <section class="stretching">
          <div id="se_w-m">
            <div class="main-wt">
              <h4 class="main-wt-title">Warming Up</h4>
              <ul>
                <li>Static Stretching - The act of stretching a muscle. Less than 30 seconds is good</li>
                <li>It is recommended to avoid static stretching for more than 1 minute as it is rather harmful to
                  muscle growth</li>
                <br>
                <li>It is highly recommended to perform this set after dynamic stretching</li>
                <li>Dynamic stretching - starting with an empty bar and gradually increasing the number of repetitions
                  to 5 or less</li>
                <li>
                  ex) Bench press 1rm 80kg
                  <div>20kg(empty bar) 10reps, 35kg 5reps, 50kg 3reps, 65kg 2reps + main set</div>
                  <div>(It is recommended that you change the weight to suit yourself)</div>
                </li>
                <li>In case of dynamic stretching, just change the weight and proceed immediately without rest</li>
                <br>
                <li>It's warm in the summer, so you don't have to warm up with light cardio.</li>
                <li>It's cold in winter, so it's recommended to warm up with light cardio before exercising</li>
                <br>
                <li>
                  <span class="cursor" data-modal-target2="#modal211-2211">Y-Raise</span>
                  <div class="modal2" id="modal211-2211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>After putting the band on both wrists, raise his arms up in a Y shape and slowly lower
                            them down</li>
                          <li>An effective warm-up before an upper body workout</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>Effective for rotator cuff and upper trapezius</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal211-311">Spider Crawl</span>
                  <div class="modal2" id="modal211-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Wrap the band around both wrists and run up and down the wall</li>
                          <li>Scapular anterior position, arm horizontal abduction</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>Effective for rotator cuff, posterior deltoid, serratus anterior</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal211-411">Band Pull Apart</span>
                  <div class="modal2" id="modal211-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Grab the band, raise your arms and pull the band back</li>
                          <li>Movement similar to reverse peck deck fly</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <li>Effective for rotator cuff, trapezius, rhomboid, posterior deltoid muscles</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="se_r-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Round Shoulder</h4>
              <ul>
                <li>It can be caused by a long sedentary lifestyle and more development of the anterior muscles</li>
                <br>
                <li>Upper and lower trapezius - Y-raise</li>
                <li>After grabbing the band, raise your arms upward in a Y shape and slowly lower them</li>
                <br>
                <li>Middle trap - band full apart</li>
                <li>Hold the band and pull it back. It is recommended to perform with the feeling of bringing the
                  shoulder blades back together</li>
                <br>
                <li>serratus anterior - push-up plus</li>
                <li>In a push-up position, pull the shoulder blades back</li>
              </ul>
            </div>
          </div>


          <div id="se_c">
            <div class="main-wt">
              <h4 class="main-wt-title">Chest Stretching</h4>
              <ul>
                <!-- <li>
                <span class="cursor" data-modal-target="#modal214-2">pectoralis
                  <div>흉근</div>
                </span>
                <div class="modal" id="modal214-2">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <ul> -->
                <li>
                  <h4>Stretching</h4>
                </li>
                <li>Bend one arm at 90 degrees and place the forearm on the wall to fix it</li>
                <li>It is recommended to stretch the chest while pushing the upper body forward</li>
              </ul>
              <br>
              <div class="img">
                <!-- <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.18169-9/17424619_1396687790391790_7398651940496614732_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9267fe&_nc_ohc=6cBmDh83GwcAX-J3awE&_nc_ht=scontent-ssn1-1.xx&oh=00_AfDWPoutj7oUaF3TH0owk0DJx6MafGCIByuoPGK9UkjBXA&oe=63F330EF"
                        alt="가슴 스트레칭"> -->
              </div>
              <!-- </div>
                  </div>
                </div>
                <div id="overlay"></div> -->
              </li>
              </ul>
            </div>
          </div>


          <div id="se_b">
            <div class="main-wt">
              <h4 class="main-wt-title">Back Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal213-111">Latissimus Dorsi</span>
                  <div class="modal2" id="modal213-111">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sit on a chair, place your right arm over your shoulder, and hold your right elbow with
                            your left arm</li>
                          <li>After that, bend your waist all the way to the left</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal213-211">Rhomboid</span>
                  <div class="modal2" id="modal213-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sit in a chair, keep your spine neutral, and stretch your arms out in front of you</li>
                          <li>Perform with the feeling of pulling the back while pushing the back forward</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal213-411">Iliocostalis</span>
                  <div class="modal2" id="modal213-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sit on the floor and cross your right leg over your left knee</li>
                          <li>Hook your left arm over your right knee, pull it to the left and turn your body to the
                            right</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal213-611">Top Trapezius
                  </span>
                  <div class="modal2" id="modal213-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sit in a chair, tilt your head to the left, and press your head to the side with your left
                            hand</li>
                          <li>It is more effective if you completely lower your right shoulder and hold onto the chair
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal213-711">Middle Trapezius</span>
                  <div class="modal2" id="modal213-711">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <br>
                          <li>
                            <h5>Band Pull Apart</h5>
                          </li>
                          <li>Hold the band and pull it back. It is recommended to perform with the feeling of bringing
                            the shoulder blades back together</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal213-811">lower Trapezius</span>
                  <div class="modal2" id="modal213-811">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <br>
                          <li>
                            <h5>Y-raise</h5>
                          </li>
                          <li>After grabbing the band, raise your arms upward in a Y shape and slowly lower them</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <br>
                          <li>
                            <h5>Pron Cobra</h5>
                          </li>
                          <li>After lying down, lower the scapula as low as possible. Keep the cervical spine neutral
                            and raise the chest about 10cm</li>
                          <li>Collect the shoulder blades inward and externally rotate the arm with the thumb pointing
                            to the sky</li>
                          <div class="img">
                            <!-- <img src="" alt=""> -->
                          </div>
                          <!-- <li>Increased contraction, increased muscle thickness, relieved neck pain, improved postural alignment, rounded shoulders</li> -->
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>

          <div id="se_ab">
            <div class="main-wt">
              <h4 class="main-wt-title">Abs Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal219-111">Rectus Abdomins</span>
                  <div class="modal2" id="modal219-111">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Lean on your stomach and raise your upper body with your hands</li>
                          <li>Keep your hands in line with your shoulders and straighten your elbows</li>
                        </ul>
                        <br>
                        <h4>Pain</h4>
                        <p>A horizontal, circular pain in the stomach and a feeling of gas</p>
                        <div class="img">
                          <!-- <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201001/htm_2010012500294370007400-001.JPG"
                     alt="Rectus abdominis Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal219-211">Oblique</span>
                  <div class="modal2" id="modal219-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Open your arms out to the sides and lower your upper body to the sides</li>
                        </ul>
                        <div class="img">
                          <!-- <img  rc="https://dispatch.cdnser.be/wp-content/uploads/2017/10/a9f2db7b91aea14389852ab2fa5e23f3.jpg"
                    alt="복사근 Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>

          <div id="se_a">
            <div class="main-wt">
              <h4 class="main-wt-title">Arm Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal215-211">Biceps</span>
                  <div class="modal2" id="modal215-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Grab something shoulder-high. At this time, hold your palm facing the ceiling</li>
                          <li>It is recommended to look forward and stretch the biceps</li>
                          <li>Squeeze your biceps at this time</li>
                          <br></br>
                          <li>Put your hands on the wall at shoulder height and turn your body to the other side</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://t1.daumcdn.net/cfile/tistory/23784F445437EB9205" alt="Idu Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal215-311">Triceps</span>
                  <div class="modal2" id="modal215-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Put one arm behind the body</li>
                          <li>It is recommended to focus on stretching the triceps while pulling the elbow of the arm
                            sent behind the body with the other hand</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="25EC%2582%25BC%25EB%2591%2590%25EA%25B7%25BC_%25EC%258A%25A4%25ED%258A%25B8%25EB%25A0%2588%25EC%25B9%25AD1.PNG?type=w800"
                           alt="Triceps Stretching">  -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal215-411">Forearm</span>
                  <div class="modal2" id="modal215-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Extend one arm and let the palm of the outstretched arm face the front</li>
                          <li>Grab the fingers of the outstretched hand with the opposite hand and pull them backwards
                          </li>
                          <div class="img">
                            <!-- <img src="https://t1.daumcdn.net/cfile/tistory/227740445437EB7B06" alt="Forearm Stretching"> -->
                          </div>
                          <br>
                          <li>
                            <h4>Massage</h4>
                          </li>
                          <li>Place the forearm muscle of one arm on the knee and press the forearm muscle with the
                            elbow or palm of the other arm</li>
                          <div class="img">
                            <!-- <img src="https://oopy.lazyrockets.com/api/v2/notion/image?src=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fbdeebe35-b4c5-41b3-8328-c9382275db15%2FER6_6630_(1).jpg&blockId=c3061ec6-0478-449c-86c9-b30b0f0e8409"
                            alt="전완근 마사지"> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="se_s">
            <div class="main-wt">
              <h4 class="main-wt-title">Shoulder Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal221-111">Deltoid</span>
                  <div class="modal2" id="modal221-111">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Send the left arm to the right and press the elbow of the left arm with the forearm of the
                            right arm</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal221-211">Supraspinatus</span>
                  <div class="modal2" id="modal221-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Massage</h4>
                          </li>
                          <li>Press the top of the bone protruding from the shoulder firmly</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal221-311">Infraspinatus
                  </span>
                  <div class="modal2" id="modal221-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Place one hand on the left hip, grab the elbow of the arm resting on the hip with the
                            other hand and pull it inward</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt=""> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="se_q">
            <div class="main-wt">
              <h4 class="main-wt-title">Front Leg Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal216-111">Quad</span>
                  <div class="modal2" id="modal216-111">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Put one leg behind you and grab your ankle</li>
                          <li>In that state, it is recommended that you pull your legs back while pulling with your arms
                          </li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://mblogthumb-phinf.pstatic.net/20150817_201/fitnessbs7_1439741248160B91Jf_JPEG/QUADRI2.jpg?type=w2"
                           alt="Quadriceps Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal216-211">Adductors</span>
                  <div class="modal2" id="modal216-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>In cat pose, spread your legs further to the side</li>
                          <li>After that, it is recommended to stretch the inside of the leg while pulling the pelvis
                            back</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="Adductor Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="se_h">
            <div class="main-wt">
              <h4 class="main-wt-title">Hamstring Stretching</h4>
              <ul>
                <!-- <li>
                   <span class="cursor" data-modal-target="#modal217-1">hamstring
                     <div>Hamstring</div>
                   </span>
                   <div class="modal" id="modal217-1">
                     <div class="modal-header">
                       <button data-close-button class="close-button">&times;</button>
                     </div>
                     <div class="modal-body">
                       <div class="modal-p">
                         <ul> -->
                <li>
                  <h4>Stretching</h4>
                </li>
                <li>If you stretch your legs and press while leaning your upper body, you can stretch in any way</li>
              </ul>
              <div class="img">
                <!-- <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F24E9BD335976C00524"
                          alt="햄스트링 Stretching"> -->
                <!-- <img src="https://blog.kakaocdn.net/dn/r10jM/btqQUY6GBjW/wt4KeyB7K2q63BwgtW6Ty0/img.png" alt="햄스트링 Stretching"> -->
              </div>
              <!-- </div>
                    </div>
                  </div>
                  <div id="overlay"></div> -->
              </li>
              </ul>
            </div>
          </div>


          <div id="se_g">
            <div class="main-wt">
              <h4 class="main-wt-title">Gluteus Stretching</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal220-111">Gluteus Maximus</span>
                  <div class="modal2" id="modal220-111">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Bend one leg on a bed or chair and place it on the back</li>
                          <li>Concentrate on stretching your hips while pushing your upper body down</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="대둔근 Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal220-211">Gluteus Minimus</span>
                  <div class="modal2" id="modal220-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sit on a chair and put one leg on top of the other</li>
                          <li>Grab the knee of the raised leg and pull it towards the opposite leg</li>
                          <br>
                          <li>Lie down on the floor, grab the knee of one leg and pull it toward your torso</li>
                          <div class="img">
                          </div>
                          <li>
                            <h4>Massage</h4>
                          </li>
                          <li>Lie on your side and rub the back of the protruding hip bone with a massage ball</li>
                          <div class="img">
                            <!-- <img src="" alt="Gluteus Minus Stretching"> -->
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal220-411">Quadra Lumborum</span>
                  <div class="modal2" id="modal220-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Sitting on the floor, grab the knee of the opposite leg with one hand</li>
                          <li>Extend the opposite arm that is not holding the knee straight up, then lower the upper
                            body to the arm holding the knee (if holding the right knee with the left hand, bend to the
                            left)</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="" alt="Radius Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal220-511">Piriformis(+ gluteus medius)</span>
                  <div class="modal2" id="modal220-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Lie down on the floor and place your left leg on top of your right leg</li>
                          <li>Put the pad behind the right leg and pull the leg towards the body</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="https://www.knee-pain-explained.com/images/how-to-do-piriformis-stretches.jpg" alt="Lee Sang-geun Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal220-611">Iliopsoas</span>
                  <div class="modal2" id="modal220-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul>
                          <li>
                            <h4>Stretching</h4>
                          </li>
                          <li>Get into a long lunge and stretch it all the way</li>
                          <li>I feel like my groin is stretching</li>
                        </ul>
                        <div class="img">
                          <!-- <img src="http://src.hidoc.co.kr/image/lib/2018/6/11/20180611175057486_0.jpg" alt="장요근 Stretching"> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="se_cf">
            <div class="main-wt">
              <h4 class="main-wt-title">Calf Stretching</h4>
              <ul>
                <!-- <li>
                  <span class="cursor" data-modal-target="#modal218">calf
                   <div>종아리</div> 
                  </span>
                  <div class="modal" id="modal218">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <ul> -->
                <li>
                  <h4>Stretching</h4>
                </li>
                <li>It is effective to lift the ankle after bending the upper body with one leg straight</li>
                <li></li>
              </ul>
              <div class="img">
                <!-- <img src="" alt=""> -->
              </div>
              <!-- </div>
                     </div>
                   </div>
                   <div id="overlay"></div> -->
              </li>
              </ul>
            </div>


            <div id="se_n">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">Neck Stretching</h4>
                <ul>
                  <li>
                    <span class="cursor" data-modal-target="#modal213-411">Levator Scapula</span>
                    <div class="modal" id="modal213-411">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                          <ul>
                            <li>
                              <h4>Stretching</h4>
                            </li>
                            <li>Put your weight on your elbows and bend your body towards your elbows to hold the
                              trapezius muscles at the back of your neck</li>
                            <li>If you pull the trapezius muscle forward with your hand, the groove will </li>
                          </ul>
                          <br>
                          <h4>Pain</h4>
                          <p>If the neck is stiff and severe, the neck cannot be moved. The pain may force you to turn
                            your body to look back, not your neck</p>
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal213-311">Scalene</span>
                    <div class="modal" id="modal213-311">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                          <ul>
                            <li>
                              <h4>Massage</h4>
                            </li>
                            <li>Tilt your neck diagonally and push its head with one hand</li>
                            <li>At this time, the muscle immediately behind the protruding muscle is the quadriceps</li>
                            <li>Press and hold here</li>
                            <br>
                            <li>
                              <h4>Stretching</h4>
                            </li>
                            <li>Grab the opposite side of the head with one hand, relax the neck, and stretch the side
                              of the neck while pulling gently</li>
                          </ul>
                          <br>
                          <h4>Pain</h4>
                          <p>Persistent neck pain, numbness in hands</p>
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div>


            <!-- <div id="s_w-m">
              <div class="main-wt no-border">
                <h4 class="main-wt-title">
                  <span class="cursor" data-modal-target="#modal211-1"></span>
                  <div class="modal-subtitle">워밍업</div>
                  <div class="modal" id="modal211-1">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </h4>
                <ul>
                  <li>
                    <span class="cursor" data-modal-target="#modal211-2"></span>
                    <div class="modal" id="modal211-2">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal211-3"></span>
                    <div class="modal" id="modal211-3">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>

                  <li>
                    <span class="cursor" data-modal-target="#modal211-4"></span>
                    <div class="modal" id="modal211-4">
                      <div class="modal-header">
                        <button data-close-button class="close-button">&times;</button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-p">
                        </div>
                      </div>
                    </div>
                    <div id="overlay"></div>
                  </li>
                </ul>
              </div>
            </div> -->
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>