<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%- include('includes/head') %>


  <title>GYMFO - TIPS</title>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3V384T0LJC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-3V384T0LJC');
  </script>

  <!-- AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8832660695566794"
    crossorigin="anonymous"></script>
</head>

<body>


  <%- include('includes/header') %>


  <main id="mainKo">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upKo" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">꿀팁</h1>

          <nav class="main-nav">
            <h4>바로가기</h4>
            <ul>
              <li><a href="#tk_p">펌핑</a></li>
              <li><a href="#tk_s-c">허리 관리</a></li>
              <li><a href="#tk_w-s">넓은 어깨</a></li>
              <li><a href="#tk_o">점진적 과부하</a></li>
              <li><a href="#tk_c-p">올바른 자세</a></li>
              <li><a href="#tk_d">분할</a></li>
              <li><a href="#tk_a">비대칭</a></li>
              <li><a href="#tk_w-p">익상견갑</a></li>
              <li><a href="#tk_h-l">모손실</a></li>
              <li><a href="#tk_v-m-b">발살바 호흡</a></li>
              <li><a href="#tk_a-b">복압 벨트</a></li>
              <li><a href="#tk_s">스트랩</a></li>
              <li><a href="#tk_w-g">손목 보호대</a></li>
              <li><a href="#tk_c-sh">찬물 샤워</a></li>
              <li><a href="#tk_c-s">정력</a></li>
              <li><a href="#tk_r-p">휴지기</a></li>
              <li><a href="#tk_g-p">성장기</a></li>
              <li><a href="#tk_b">초보자</a></li>
              <li><a href="#tk_w-o-t">운동 시간 때</a></li>
              <li><a href="#tk_g">그립</a></li>
              <li><a href="#tk_p-f">실패 지점</a></li>
            </ul>
          </nav>
        </section>


        <section class="tips">
          <div id="tk_p">
            <div class="main-wt">
              <h4 class="main-wt-title">펌핑</h4>
              <ul>
                <li>무산소 운동으로 산소 제한 -> 근육에 대사산물인 젖산과 이산화탄소가 혈액과 함께 쌓인다</li>
                <li>이때 젖산과 이산화탄소는 산성 농도를 증가시키며</li>
                <li>몸은 높아진 산성 농도를 바로 잡기 위해 혈액을 근육으로 끌어와 체내 산성 농도를 맞춘다</li>
                <li></li>
                <li>운동을 잘 진행하고 있는지 확인할 수 있는 좋은 지표이다</li>
              </ul>
            </div>
          </div>


          <div id="tk_s-c">
            <div class="main-wt">
              <h4 class="main-wt-title">허리 관리</h4>
              <ul>
                <li>디스크에 원활한 영양 공급을 위해 자주 움직여 주기</li>
                <li>오랫동안 한 자세 유지하지 않기</li>
                <li>오래 앉아 있지 않기</li>
                <li>수면과 같은(한 자세로 오래 머문 상태) 자세 후 바로 운동하지 않기</li>
                <li>물건을 옮기거나 짚을 때 허리를 숙이지 않고 척추 중립 후 고관절을 사용하기</li>
                <li>옆으로 누워서 자지 않고 천장을 보고 똑바로 누워서 자기</li>
                <li>요추 회전시키지 않기</li>
                <li>잘못된 자세로 운동하지 않기</li>
              </ul>
            </div>
          </div>


          <div id="tk_w-s">
            <div class="main-wt">
              <h4 class="main-wt-title">넓은 어깨</h4>
              <ul>
                <li>등 운동을 통해 견갑의 사이를 늘려 줘야 넓은 등과 함께 넓은 어깨가 생긴다</li>
              </ul>
            </div>
          </div>


          <div id="tk_o">
            <div class="main-wt">
              <h4 class="main-wt-title">점진적 과부하</h4>
              <ul>
                <li>정말 중요하다</li>
                <li>운동할 때마다 이전의 운동보다 강도가 높아져야 한다</li>
                <li>무게 증가, 반복 횟수 증가, 세트 수 증가, 쉬는 시간 감소, 다양한 각도, 운동 시간 단축, 다양한 운동기법 추가 등</li>
              </ul>
            </div>
          </div>


          <div id="tk_c-p">
            <div class="main-wt">
              <h4 class="main-wt-title">올바른 자세</h4>
              <ul>
                <li>올바른 자세로 운동을 수행하는 것은 그 무엇보다 중요한 핵심이다</li>
                <li>운동할 때 어딘가 아프다면 잠깐 멈추고 자신을 돌아볼 것을 권장한다</li>
                <li><strong>부상 없는 건강한 운동이 언제나 최우선이다</strong></li>
              </ul>
            </div>
          </div>


          <div id="tk_d">
            <div class="main-wt">
              <h4 class="main-wt-title">분할</h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target="#modal193-2">무분할</span>
                  <div class="modal" id="modal193-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>무분할 - 운동 부위를 나누지 않고 Full Body을 다 운동하는 것</p>
                        <p>복합다관절 운동은 포함된 상태로 각 부위 별로 한 종목 정도 할 것을 권장한다</p>
                        <p>대근육 운동 뿐만 아니라 하루는 이두 운동을 추가하고 하루는 삼두 운동 등을 추가하여 전체적으로 운동할 것을 권장한다</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>월</th>
                              <th>화</th>
                              <th>수</th>
                              <th>목</th>
                              <th>금</th>
                              <th>토</th>
                              <th>일</th>
                            </tr>
                            <tr>
                              <td>전신</td>
                              <td>전신</td>
                              <td>휴식</td>
                              <td>전신</td>
                              <td>전신</td>
                              <td>휴식</td>
                              <td>휴식</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal193-3">2분할</span>
                  <div class="modal" id="modal193-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>2분할 - 총 운동 로테이션을 두 번 안에 끝내는 것</p>
                        <p>가슴 등, 하체 어깨로 나눌 수 있다</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>월</th>
                              <th>화</th>
                              <th>수</th>
                              <th>목</th>
                              <th>금</th>
                              <th>토</th>
                              <th>일</th>
                            </tr>
                            <tr>
                              <td>가슴 등</td>
                              <td>하체 어깨</td>
                              <td>휴식</td>
                              <td>가슴 등</td>
                              <td>하체 어깨</td>
                              <td>휴식</td>
                              <td>휴식</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal193-4">3분할</span>
                  <div class="modal" id="modal193-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>3분할 - 총 운동 로테이션을 세 번 안에 끝내는 것</p>
                        <p>가슴 삼두, 등 이두, 하체 어깨로 나눌 수 있다</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>월</th>
                              <th>화</th>
                              <th>수</th>
                              <th>목</th>
                              <th>금</th>
                              <th>토</th>
                              <th>일</th>
                            </tr>
                            <tr>
                              <td>가슴 삼두</td>
                              <td>
                                <div>등</div> 이두
                              </td>
                              <td>하체 어깨</td>
                              <td>가슴 삼두</td>
                              <td>
                                <div>등</div> 이두
                              </td>
                              <td>하체 어깨</td>
                              <td>휴식</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal193-5">4분할</span>
                  <div class="modal" id="modal193-5">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>4분할 - 총 운동 로테이션을 네 번 안에 끝내는 것</p>
                        <p>가슴 삼두, 등 이두, 하체, 어깨로 나눌 수 있다</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>월</th>
                              <th>화</th>
                              <th>수</th>
                              <th>목</th>
                              <th>금</th>
                              <th>토</th>
                              <th>일</th>
                            </tr>
                            <tr>
                              <td>가슴 삼두</td>
                              <td>
                                <div>등</div> 이두
                              </td>
                              <td>하체</td>
                              <td>어깨</td>
                              <td>휴식</td>
                              <td>가슴 삼두</td>
                              <td>
                                <div>등</div> 이두
                              </td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal193-6">5분할</span>
                  <div class="modal" id="modal193-6">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>5분할 - 총 운동 로테이션을 다섯 번 안에 끝내는 것</p>
                        <p>가슴, 등, 팔, 어깨, 하체로 나눌 수 있다</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>월</th>
                              <th>화</th>
                              <th>수</th>
                              <th>목</th>
                              <th>금</th>
                              <th>토</th>
                              <th>일</th>
                            </tr>
                            <tr>
                              <td>가슴 </td>
                              <td>등</td>
                              <td>하체</td>
                              <td>팔</td>
                              <td>어깨</td>
                              <td>휴식</td>
                              <td>휴식</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>초보자는 무분할 또는 2분할을 추천한다. <strong>최대한 자주 다양하게 <u>복합다관절 운동</u></strong>으로 자극을 주어 근신경을 활성화 시키고 감각을 익혀야 하기
                  때문이다</li>
                <li>분할법에 정답은 없다. 자신이 보충하고 싶은 부위가 있다면 날을 잡아 그 부위만을 세부적으로 타겟할 수 있다. 목표에 따라 능동적으로 운동을 계획할 것을 권장한다</li>

                <li></li>
              </ul>
            </div>
          </div>


          <div id="tk_a">
            <div class="main-wt">
              <h4 class="main-wt-title">비대칭(불균형)</h4>
              <ul>
                <li>원인 - 한 쪽의 우세한 힘</li>
                <li>원인 - 불편함(회전근개 불편함, 비틀어진 골반 등)</li>
                <br>
                <li>해결</li>
                <li>약한 쪽 우선 수행, 양 쪽에 동일한 부하 걸리도록 의식, 원암으로 덤벨을 사용하여 약한 쪽 무게에 맞춰 운동을 수행할 것을 권장한다</li>
                <li>스트레칭 필수, 자세 교정, 거울 응시하여 자세 신경쓰면서 수행할 것을 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="tk_w-p">
            <div class="main-wt">
              <h4 class="main-wt-title">익상 견갑</h4>
              <ul>
                <li>전거근이 제 기능을 하지 못하거나 전거근의 전인과 상방회전 기능과 반대 기능인 능현근과 견갑거근의 단축이 그 원인이다</li>

                <li>
                  <span class="cursor" data-modal-target="#modal197-2">능형근 스트레칭</span>
                  <div class="modal" id="modal197-2">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>깍지 끼고 앞으로 팔을 쭉 뻗어 볼 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal197-3">견갑거근 스트레칭</span>
                  <div class="modal" id="modal197-3">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>의자에 앉아 한 방향으로 기울인 후 기울인 반대 방향의 손으로 의자를 잡는다</p>
                        <p>고개를 아래를 향하게 하고 목을 움직이면서 스트레칭 되는 느낌을 찾을 것을 권장한다</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal197-4">전거근 강화 운동</span>
                  <div class="modal" id="modal197-4">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>푸쉬업 플러스</p>
                        <p>린 백 푸쉬업</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="tk_h-l">
            <div class="main-wt">
              <h4 class="main-wt-title">
                <span class="cursor" data-modal-target="#modal198-1">모손실</span>
                <div class="modal" id="modal198-1">
                  <div class="modal-header">
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-p">
                      <p>탈모는 남성호르몬(테스토스테론)과 5알파-환원 효소와 만나 DHT로 변할 때 생겨난다</p>
                      <p>DHT가 많을수록 탈모가 생겨난다</p>
                      <p>탈모약은 남성호르몬의 양이 감소되는 것이 아닌 DHT를 차단해 준다</p>
                      <p>탈모약은 성기능 저하와 근력에 영향을 끼치지 않는다</p>
                      <p>! 지나친 운동강도와 과도한 스트레스는 간접적인 원인이 될 수 있다</p>
                    </div>
                  </div>
                </div>
                <div id="overlay"></div>
              </h4>
              <ul>
                <h4>예방 방법</h4>
                <li>가발, 스프레이, 염색, 파마, 흑채, 젤 등의 사용을 최소화 하기 -> 두피의 호흡을 막음, 모발의 기본 물질을 없앰</li>
                <li>머리 이틀에 한 번 저녁에 감는 것을 기반으로 더해 나가기 -> 머리를 아침에 감거나, 자주 감거나, 너무 안 감는 행동을 최소화 해야 함</li>
                <li>술 만이 마시지 않기 -> 간을 통해 단백질을 합성해야 하나 술을 자주 마시면 해독 작용이 우선적으로 일어남</li>
                <li>빗질 자주 하기 -> 모발 주위를 청소하는 행위임</li>
                <li>손으로 두피 마사지 하기 -> 두피를 자극하여 모발에 피가 더 흐르게 하여 모발 성장 촉진함</li>
                <li>두피 혈액 순환하기 -> 운동(푸쉬업, 크런치 등)</li>
                <li>가공 탄수화물 섭취 줄이기 -> 항상화 식품인 채소 자주 섭취</li>
                <li>잠 잘 자기 -> 11시 ~ 4시 사이에 성장호르몬이 분비됨</li>
                <br>
                <h4>치료 방법</h4>
                <li>복용 약(프로페시아, 아보다트, 피나스테리드, 두타스테리드 등) -> 병원 처방. 모를 잘 빠지지 않게 유지하는 역할</li>
                <li>바르는 약(미녹시딜, 로게인 등) -> 모낭의 혈류량을 증가시켜 성장 촉진</li>
              </ul>
            </div>
          </div>


          <div id="tk_v-m-b">
            <div class="main-wt">
              <h4 class="main-wt-title">발살바 호흡</h4>
              <ul>
                <li>성대문을 닫을 채 배에 힘을 주어 숨을 내쉬는 호흡법</li>
                <li>척추의 안정성을 확보하여 무거운 중량을 들어 올리는데 있어서 도움을 줌</li>
                <li>저항성 운동 기술의 효과적인 수행을 가능하게 함</li>
                <li>부상의 위험성을 감소</li>
                <br>
                <h4>위험성</h4>
                <li>급격한 혈압 변화, 뇌혈류 변화 및 뇌압 상승 등의 위험성을 지님</li>
                <li>발살바 호흡법을 오래 지속하지 마라</li>
              </ul>
            </div>
          </div>


          <div id="tk_a-b">
            <div class="main-wt">
              <h4 class="main-wt-title">복압 벨트</h4>
              <ul>
                <li>복보의 복압을 유지시켜 주어 척추 안정성을 잡아주기에 리프팅에 도움을 준다</li>
                <li>! 복압벨트를 자주 사용하면 코어나 이외 안정근들의 성장을 저해할 수 있다. 고중량 운동의 마지막 한 두 세트 때 복압 벨트를 사용할 것을 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="tk_s">
            <div class="main-wt">
              <h4 class="main-wt-title">스트랩</h4>
              <ul>
                <li>스트랩은 등 운동에 정말 중요하다</li>
                <li>먼저 지친 전완근을 보조해 주고 등에 더 집중할 수 있게 해 주니 적극 권장한다</li>
                <li>전완 운동은 따로 해 주면 된다</li>
              </ul>
            </div>
          </div>


          <div id="tk_w-g">
            <div class="main-wt">
              <h4 class="main-wt-title">손목 보호대</h4>
              <ul>
                <li>손목 보호대는 정말 중요하다</li>
                <li>프레스류의 운동들을 할 때 손목이 꺾이지 않게 하고 단단하게 지지해 주니 적극 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="tk_c-sh">
            <div class="main-wt">
              <h4 class="main-wt-title">찬물 샤워</h4>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>


          <div id="tk_c-s">
            <div class="main-wt">
              <h4 class="main-wt-title">정력</h4>
              <ul>
                <li>하체 운동을 하면 고환에서 테스토스테론이 많이 생성되고 남성호르몬 수치가 올라간다</li>
                <li>하체는 신체 중 가장 큰 근육으로 에너지를 많이 보유할 수 있고 스태미너를 증가시킨다</li>
                <li>유산소와 함께 병행해 보아라</li>
                <li>스쿼트와 유산소를 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="tk_r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">휴지기</h4>
              <ul>
                <li>어떨 떄는 운동을 며칠 간 푹 쉬어주는 것이 컨디션 회복에도 도움이 되고 퍼포먼스 향상에도 효과적일 것이다</li>
                <li>운동을 지속적으로 열심히 해 왔다면 휴지기를 가지는 것도 근성장에 큰 도움이 될 것이다</li>
              </ul>
            </div>
          </div>


          <div id="tk_g-p">
            <div class="main-wt">
              <h4 class="main-wt-title">성장기 운동</h4>
              <ul>
                <li>신경계 발달로 근력이 강해진다</li>
                <li>근 수축력과 건 강직성이 상승하여 골절이나 스포츠 관련 부상이 감소할 수 있다</li>
                <li>자존감과 자신감 형성에도 매우 효과적이다</li>
                <br>
                <li><strong>! 가장 중요한 것은 올바른 자세로 수행해야 함이다</strong></li>
                <li>잘못된 자세와 지나친 고중량 운동은 매우 옳지 못 하다</li>
              </ul>
            </div>
          </div>


          <div id="tk_b">
            <div class="main-wt">
              <h4 class="main-wt-title">초보자</h4>
              <ul>
                <li>당연한 말이지만 운동 초보자라면 최대한 자주 운동 해 주는 것이 좋다</li>
                <li>초보자는 근육 활성도가 낮다. 그래서 자주 많이 운동을 해 줘야 근신경이 성장하고 근활성도가 증가하며 운동의 질이 올라갈 것이다</li>
                <li>무리하지 않는 선에서 이전에 운동했던 무게보다 계속 증량하여 운동할 것을 권장한다</li>
              </ul>
            </div>
          </div>


          <div id="tk_w-o-t">
            <div class="main-wt">
              <h4 class="main-wt-title">운동 시간 때</h4>
              <ul>
                <li><strong>아침</strong> - 지방 연소 증가, 테스토스테론 증가, 코티졸 증가</li>
                <li>공복 상태에서 두 시간 이내의 중강도 근력 운동, 저,중강도의 유산소(다이어트), 요가는 매우 효과적 -> 저,중강도의 운동은 코티졸 농도를 오히려 감소시킨다</li>
                <li>고강도 웨이트가 필수라면 가벼운 드링크(주스 한 팩, 에너지 음료, BCAA 등)를 섭취 후 웨이트 할 것을 권장한다</li>
                <li>! 자는 동안 체내 에너지가 연소되어 혈당이 낮아졌기에 에너지원인 탄수화물(글리코겐)은 고갈 상태이다. 이때 공복으로 고강도 운동을 하게 되면 근육 속의 단백질을 에너지원으로
                  사용하게
                  된다</li>
                <li>! 혈관질환/성인질환을 지니고 있다면 아침 운동은 피해줄 것을 매우 권장한다</li>
                <br>
                <li><strong>저녁</strong> - 근육 이완 상태 -> 부상 방지, 성장호르몬 분비, 코티졸 감소, 수면 확률 증가</li>
                <li>저녁에 운동한다면 3~4시 쯤에 간식으로 혈당을 채워 주고 7~8시 쯤 운동 후 탄수화물을 섭취할 것을 권장한다</li>
                <li>웨이트 운동 후 저강도 유산소 운동은 코티졸을 안정화 시켜 주기에 웨이트 후 유산소로 마무리 할 것을 권장한다</li>
                <li>저녁에 운동을 하게 되면 코티졸 분비가 제한되어 성장호르몬과 테스토스테론이 잘 분비되고 깊은 잠을 잘 수 있게 도와준다</li>
                <li>자기 전 3시간 전에는 운동과 식사를 하지 않을 것을 권장한다</li>
                <br>
                <li>중요한 것은 자신의 스타일과 가능 시간 때에 맞게 <strong>일관성 있는 운동</strong>을 하는 것이다</li>
              </ul>
            </div>
          </div>


          <div id="tk_g">
            <div class="main-wt">
              <h4 class="main-wt-title">그립</h4>
              <ul>
                <li>프레스류의 운동들은 바벨이 전완뼈 위를 사선으로 지나가게 잡을 것을 권장한다</li>
              </ul>
              <img src="" alt="프레스류 그립">
            </div>
          </div>


          <div id="tk_p-f">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">실패 지점</h4>
              <ul>
                <li>근비대 측면에서 실패 지점에 도달하는 것과 실패 지점 직전까지 수행한 것은 큰 차이가 없다</li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upKo">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>





  <main id="mainEn">
    <div class="main">
      <aside class="aside"></aside>

      <div id="upEn" class="container">
        <div class="box"></div>


        <section class="theme">
          <h1 class="main-title cursor">TIPS</h1>

          <nav class="main-nav">
            <h4>Shortcut</h4>
            <ul>
              <li><a href="#te_p">Pumping</a></li>
              <li><a href="#te_s-c">Spine Care</a></li>
              <li><a href="#te_w-s">Wide Shoulder</a></li>
              <li><a href="#te_o">Overload</a></li>
              <li><a href="#te_c-p">Correct Posture</a></li>
              <li><a href="#te_s">Split</a></li>
              <li><a href="#te_a">Asymmetry</a></li>
              <li><a href="#te_w-p">Winding Patrons</a></li>
              <li><a href="#te_h-l">Hair Loss</a></li>
              <li><a href="#te_v-m-b">Valsalva Maneuver Breathing</a></li>
              <li><a href="#te_a-b">Abdominal belt</a></li>
              <li><a href="#te_s">Strap</a></li>
              <li><a href="#te_w-g">Wrist Guard</a></li>
              <li><a href="#te_c-sh">Cold Shower</a></li>
              <li><a href="#te_v">Virility</a></li>
              <li><a href="#te_r-p">Rest Period</a></li>
              <li><a href="#te_g-p">Growing Period</a></li>
              <li><a href="#te_b">Beginner</a></li>
              <li><a href="#te_w-o-t">Work Out Time</a></li>
              <li><a href="#te_g">Grip</a></li>
              <li><a href="#te_p-f">Point of Failure</a></li>
            </ul>
          </nav>
        </section>


        <section class="tips">
          <div id="te_p">
            <div class="main-wt">
              <h4 class="main-wt-title">Pump</h4>
              <ul>
                <li>Oxygen limitation through anaerobic exercise -> Lactic acid and carbon dioxide, which are
                  metabolites in the muscles, build up with the blood</li>
                <li>At this time, lactic acid and carbon dioxide increase the acid concentration</li>
                <li>The body adjusts the acid concentration in the body by drawing blood to the muscles to correct
                  the elevated acid concentration</li>
                <li></li>
                <li>This is a good indicator of how well you are progressing in your workout</li>
              </ul>
            </div>
          </div>


          <div id="te_s-c">
            <div class="main-wt">
              <h4 class="main-wt-title">Spine Care</h4>
              <ul>
                <li>Move frequently to properly supply nutrients to the disc</li>
                <li>Don't stay in one position for too long</li>
                <li>Don't sit still</li>
                <li>Do not exercise immediately after sleeping in a position (staying in one position for a long time)
                </li>
                <li>Use the hip joint after a neutral spine without bending the back when carrying or grasping objects
                </li>
                <li>Don't sleep on your side, lie on your back and look at the ceiling</li>
                <li>Do not rotate the lumbar spine</li>
                <li>Do not exercise with the wrong posture</li>
              </ul>
            </div>
          </div>


          <div id="te_w-s">
            <div class="main-wt">
              <h4 class="main-wt-title">Wide Shoulder</h4>
              <ul>
                <li>You need to increase the distance between the shoulder blades through back exercises to create broad
                  shoulders along with a wide back</li>
              </ul>
            </div>
          </div>


          <div id="te_o">
            <div class="main-wt">
              <h4 class="main-wt-title">Overload</h4>
              <ul>
                <li>Really important</li>
                <li>Each workout should be more intense than the previous one</li>
                <li>Increase weight, increase number of repetitions, increase number of sets, decrease rest time, vary
                  angle, shorten exercise time, add various exercise techniques etc</li>
              </ul>
            </div>
          </div>


          <div id="te_c-p">
            <div class="main-wt">
              <h4 class="main-wt-title">Correct Posture</h4>
              <ul>
                <li>Performing exercises with correct posture is the most important key</li>
                <li>If you feel any pain while exercising, it is recommended to stop and look around yourself</li>
                <li><strong>Injury-free, healthy workouts always come first</strong></li>
              </ul>
            </div>
          </div>


          <div id="te_s">
            <div class="main-wt">
              <h4 class="main-wt-title">Split Work Out
              </h4>
              <ul>
                <li>
                  <span class="cursor" data-modal-target2="#modal193-211">No Split(Full Body) Work Out</span>
                  <div class="modal2" id="modal193-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>No Split - Exercising the whole body without dividing the exercise part</p>
                        <p>It is recommended to do at least one event for each part, including complex multi-joint
                          exercises</p>
                        <p>In addition to large muscle exercises, it is recommended to add bicep exercises on one day
                          and triceps exercises on the other for overall exercise</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>Mon</th>
                              <th>Tue</th>
                              <th>Wed</th>
                              <th>Thu</th>
                              <th>Fri</th>
                              <th>Sat</th>
                              <th>Sun</th>
                            </tr>
                            <tr>
                              <td>Full Body</td>
                              <td>Full Body</td>
                              <td>Rest</td>
                              <td>Full Body</td>
                              <td>Full Body</td>
                              <td>Rest</td>
                              <td>Rest</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay2"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal193-311">2 Day Split Work Out</span>
                  <div class="modal2" id="modal193-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>2 Day Split - to complete a total movement rotation in two rounds</p>
                        <p>Can be divided into chest and back, lower body and shoulders</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>Mon</th>
                              <th>Tue</th>
                              <th>Wed</th>
                              <th>Thu</th>
                              <th>Fri</th>
                              <th>Sat</th>
                              <th>Sun</th>
                            </tr>
                            <tr>
                              <td>Chest Back</td>
                              <td>Leg Shoulder</td>
                              <td>Rest</td>
                              <td>Chest Back</td>
                              <td>Leg Shoulder</td>
                              <td>Rest</td>
                              <td>Rest</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay2"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal193-411">3 Day Split</span>
                  <div class="modal2" id="modal193-411">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>3 Day Split - Complete the total movement rotation in 3 rounds</p>
                        <p>Can be divided into chest triceps, back biceps, and leg shoulders</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>Mon</th>
                              <th>Tue</th>
                              <th>Wed</th>
                              <th>Thu</th>
                              <th>Fri</th>
                              <th>Sat</th>
                              <th>Sun</th>
                            </tr>
                            <tr>
                              <td>Chest Triceps</td>
                              <td>
                                <div>Back</div> Biceps
                              </td>
                              <td>Leg Shoulder</td>
                              <td>Chest Triceps</td>
                              <td>
                                <div>Back</div> Biceps
                              </td>
                              <td>Leg Shoulder</td>
                              <td>Rest</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay2"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal193-511">4 Day Split</span>
                  <div class="modal2" id="modal193-511">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>4 Day Split - Complete the total movement rotation in 4 rounds</p>
                        <p>Can be divided into Chest Triceps, Back Biceps, Leg, Shoulder</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>Mon</th>
                              <th>Tue</th>
                              <th>Wed</th>
                              <th>Thu</th>
                              <th>Fri</th>
                              <th>Sat</th>
                              <th>Sun</th>
                            </tr>
                            <tr>
                              <td>Chest Triceps</td>
                              <td>
                                <div>Back</div> Biceps
                              </td>
                              <td>Leg</td>
                              <td>Shoulder</td>
                              <td>Rest</td>
                              <td>Chest Triceps</td>
                              <td>
                                <div>Back</div> Biceps
                              </td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay2"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal193-611">5 Day Split</span>
                  <div class="modal2" id="modal193-611">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>5 splits - to complete the total workout rotation in 5 rounds</p>
                        <p>Can be divided into Chest, Back, Arm, Shoulder, Leg</p>
                        <p>
                          ex)
                          <table>
                            <tr class="table-tr">
                              <th>Mon</th>
                              <th>Tue</th>
                              <th>Wed</th>
                              <th>Thu</th>
                              <th>Fri</th>
                              <th>Sat</th>
                              <th>Sun</th>
                            </tr>
                            <tr>
                              <td>Chest </td>
                              <td>등</td>
                              <td>Leg</td>
                              <td>팔</td>
                              <td>Shoulder</td>
                              <td>Rest</td>
                              <td>Rest</td>
                            </tr>
                          </table>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay2"></div>
                </li>

                <li>For beginners, non-partitioning or 2-partitioning is recommended. <strong>Stimulate as often as
                    possible with various <u>multi-joint exercises</u></strong> to activate the muscles and nerves and
                  learn the senses because</li>
                <li>There is no right answer for division method. If there is a part you want to supplement, you can
                  hold the blade and target only that part in detail. It is recommended that you actively plan your
                  workouts according to your goals</li>
                <li></li>
              </ul>
            </div>
          </div>


          <div id="te_a">
            <div class="main-wt">
              <h4 class="main-wt-title">Asymmetry</h4>
              <ul>
                <li>Cause - the dominant force of one side</li>
                <li>Cause - discomfort(rotator cuff discomfort, twisted pelvis etc)</li>
                <br>
                <li>Resolution</li>
                <li>It is recommended to perform the exercise with the weight of the weak side first, using dumbbells as
                  one arm, and consciously putting the load on both sides equally</li>
                <li>Stretching is essential, it is recommended to perform while paying attention to posture by
                  correcting posture and gazing into the mirror</li>
              </ul>
            </div>
          </div>


          <div id="te_w-p">
            <div class="main-wt">
              <h4 class="main-wt-title">Winged Pauldrons</h4>
              <ul>
                <li>The cause is that the serratus anterior muscle does not function properly, or <br> the function of
                  the anterior pull and upward rotation of the serratus anterior muscle and the shortening of the
                  serratus anterior muscle and the levator scapular muscle, which are opposite functions</li>

                <li>
                  <span class="cursor" data-modal-target2="#modal197-211">Rhombus stretch</span>
                  <div class="modal2" id="modal197-211">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>It is recommended to stretch your arms straight out in front of you</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target2="#modal197-311">levator scapular stretch</span>
                  <div class="moda2l" id="modal197-311">
                    <div class="modal-header">
                      <button data-close-button2 class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Sit in a chair, tilt it in one direction, and hold the chair with the other hand</p>
                        <p>It is recommended to keep your head down and move your neck to feel the stretch</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>

                <li>
                  <span class="cursor" data-modal-target="#modal197-411">serratus anterior strengthening exercise</span>
                  <div class="modal" id="modal197-411">
                    <div class="modal-header">
                      <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-p">
                        <p>Push up plus</p>
                        <p>Lean back push-up</p>
                      </div>
                    </div>
                  </div>
                  <div id="overlay"></div>
                </li>
              </ul>
            </div>
          </div>


          <div id="te_h-l">
            <div class="main-wt">
              <h4 class="main-wt-title">Hair Loss</h4>
              <ul>
                <h4>Principle</h4>
                <li>Hair loss occurs when male hormone (testosterone) and 5-alpha-reductase meet and transform into DHT
                </li>
                <li>More DHT causes hair loss</li>
                <li>Hair loss pills block DHT, not decrease the amount of male hormone</li>
                <li>Hair loss pills do not affect sexual function and muscle strength</li>
                <li>! Excessive exercise intensity and excessive stress can be indirect causes</li>
                <li></li>
                <h4>How to prevent</h4>
                <li>Minimize the use of wigs, sprays, dyes, perms, black hair, gels, etc. -> Block breathing of the
                  scalp, remove basic substances of hair</li>
                <li>Add based on washing your hair every two nights -> Minimize washing your hair in the morning,
                  washing it often, or not washing it too much</li>
                <li>Do not drink only alcohol -> Protein must be synthesized through the liver, but if you drink alcohol
                  frequently, detoxification takes precedence</li>
                <li>Frequent combing -> cleaning around the hair</li>
                <li>Massage the scalp with your hands -> Stimulates the scalp to make more blood flow to the hair and
                  promotes hair growth</li>
                <li>Scalp blood circulation -> Exercises (push-ups, crunches, etc.)</li>
                <li>Reduce processed carbohydrate intake -> Eat more vegetables, which are antioxidative foods</li>
                <li>Sleep well -> Growth hormone is secreted between 11:00 and 4:00</li>
                <br>
                <h4>Treatment method</h4>
                <li>Medicine you are taking (Propecia, Avodart, Finasteride, Dutasteride, etc.) -> Hospital
                  prescription. The role of keeping hair from falling out</li>
                <li>Apply medications (Minoxidil, Rogaine, etc.) -> Promote hair growth by increasing blood flow to hair
                  follicles</li>
              </ul>
            </div>
          </div>


          <div id="te_v-m-b">
            <div class="main-wt">
              <h4 class="main-wt-title">Valsalva Maneuver Breathing</h4>
              <ul>
                <li>Breathing method of exhaling by tightening the stomach with the vocal cords closed</li>
                <li>Assuring the stability of the spine to help lift heavy weights</li>
                <li>Enables effective performance of resistance exercise techniques</li>
                <li>Reduce risk of injury</li>
                <br>
                <h4>Danger</h4>
                <li>There is a risk of rapid blood pressure change, cerebral blood flow change, and increased
                  intracranial pressure</li>
                <li>Don't do long-lasting Valsalva breathing</li>
              </ul>
            </div>
          </div>


          <div id="te_a-b">
            <div class="main-wt">
              <h4 class="main-wt-title">Abdominal Belt</h4>
              <ul>
                <li>Helps with lifting by maintaining spinal stability by maintaining abdominal pressure</li>
                <li>! Frequent use of the abdominal belt can hinder the growth of the core and other stabilizing
                  muscles. It is recommended to use the abdominal belt for the last one or two sets of heavy exercises
                </li>
              </ul>
            </div>
          </div>


          <div id="te_s">
            <div class="main-wt">
              <h4 class="main-wt-title">Strap</h4>
              <ul>
                <li>Straps are really important for back exercises</li>
                <li>First of all, it helps the tired forearms and allows you to focus more on your back, so I highly
                  recommend it</li>
                <li>Forearm exercises can be done separately</li>
              </ul>
            </div>
          </div>


          <div id="te_w-g">
            <div class="main-wt">
              <h4 class="main-wt-title">Wrist Guard</h4>
              <ul>
                <li>Wrist braces are really important</li>
                <li>It is highly recommended as it keeps your wrist from breaking and supports it firmly when performing
                  press-type exercises</li>
              </ul>
            </div>
          </div>


          <div id="te_c-sh">
            <div class="main-wt">
              <h4 class="main-wt-title">Cold Shower</h4>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>


          <div id="te_v">
            <div class="main-wt">
              <h4 class="main-wt-title">Virility</h4>
              <ul>
                <li>Exercising the lower body produces a lot of testosterone in the testicles and increases male hormone
                  levels</li>
                <li>The lower body is the largest muscle in the body and can hold a lot of energy and increase stamina
                </li>
                <li>Try it with cardio</li>
                <li>Squats and cardio are recommended</li>
              </ul>
            </div>
          </div>


          <div id="te_r-p">
            <div class="main-wt">
              <h4 class="main-wt-title">Rest Period</h4>
              <ul>
                <li>Sometimes taking a few days off from exercise will help you recover and improve your performance
                </li>
                <li>If you have been working hard continuously, having a rest period will be of great help to your
                  muscle growth</li>
              </ul>
            </div>
          </div>


          <div id="te_g-p">
            <div class="main-wt">
              <h4 class="main-wt-title">Growing Period</h4>
              <ul>
                <li>Nervous system development makes muscle strength stronger</li>
                <li>May increase muscle contractility and tendon stiffness, reducing fractures and sports-related
                  injuries</li>
                <li>It is also very effective in building self-esteem and confidence</li>
                <br>
                <li><strong>! The most important thing is to do it with correct posture</strong></li>
                <li>Incorrect posture and heavy lifting are very wrong</li>
              </ul>
            </div>
          </div>


          <div id="te_b">
            <div class="main-wt">
              <h4 class="main-wt-title">Beginner</h4>
              <ul>
                <li>Of course, if you are new to exercise, it is better to exercise as often as possible</li>
                <li>Beginners have low muscle activity. So, if you exercise a lot often, your nerves will grow, your
                  muscle activity will increase, and the quality of your exercise will improve</li>
                <li>It is recommended that you continue to increase the amount of weight you have exercised before
                  without overdoing it</li>
              </ul>
            </div>
          </div>


          <div id="te_w-o-t">
            <div class="main-wt">
              <h4 class="main-wt-title">Work Out Time</h4>
              <ul>
                <li><strong>Morning</strong> - increase fat burning, increase testosterone, increase cortisol</li>
                <li>Mid-intensity strength training, low and moderate intensity aerobic exercise(diet), and yoga within
                  two hours in an empty stomach are very effective -> Low- and medium-intensity exercise rather reduces
                  cortisol concentration</li>

                <li>If high-intensity weights are essential, it is recommended to consume a light drink(a pack of juice,
                  energy drink, BCAA etc) before weights</li>

                <li>! Carbohydrates (glycogen), an energy source, are depleted because energy in the body is burned
                  during sleep and blood sugar levels are lowered. At this time, if you do high-intensity exercise on an
                  empty stomach, you use protein in your muscles as an energy source.
                  to use
                  become</li>

                <li>! If you have vascular disease/adult disease, it is highly recommended to avoid exercising in the
                  morning</li>

                <br>

                <li><strong>Evening</strong> - muscle relaxation state -> injury prevention, growth hormone secretion,
                  cortisol reduction, sleep probability increase</li>

                <li>If you exercise in the evening, it is recommended that you replenish your blood sugar with a snack
                  around 3-4 pm and eat carbohydrates after exercise around 7-8 pm</li>

                <li>Because low-intensity aerobic exercise after weight exercise stabilizes cortisol, it is recommended
                  to finish with aerobic exercise after weight exercise</li>

                <li>Exercising in the evening restricts the secretion of cortisol, so growth hormone and testosterone
                  are well secreted and helps to sleep well</li>

                <li>It is recommended not to exercise or eat 3 hours before bed</li>

                <br>

                <li>The important thing is to <strong>consistently</strong> exercise according to your style and time
                  available</li>
              </ul>
            </div>
          </div>


          <div id="te_g">
            <div class="main-wt">
              <h4 class="main-wt-title">Grip</h4>
              <ul>
                <li>For presses, it is recommended to hold the barbell diagonally over the forearm</li>
              </ul>
              <img src="" alt="Press grip">
            </div>
          </div>


          <div id="te_p-f">
            <div class="main-wt no-border">
              <h4 class="main-wt-title">Point of Failure</h4>
              <ul>
                <li>In terms of muscle hypertrophy, there is no significant difference between reaching the point of
                  failure and performing just before the point of failure</li>
              </ul>
            </div>
          </div>
        </section>


        <button class="material-symbols-outlined up-arrow"><a href="#upEn">arrow_upward</a></button>

      </div>
      <aside class="aside"></aside>
    </div>
  </main>



  <div class="ad">
    <ins class="kakao_ad_area" data-ad-unit="DAN-JyyCt6o2EzDQcszi" data-ad-width="320" data-ad-height="100"></ins>
  </div>


  <%- include('includes/footer') %>


</body>

</html>