<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head')  %>

    <title>출처</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>



    <header>
        <%- include('includes/header')  %>
    </header>


    <section style="margin-block: 150px;" class="theme">
        <h1 class="main-title">SOURCE</h1>
        <h5 class="ko-title">출처</h5>
    </section>


    <!-- <div class="source1">
        <div class="source-div">
            <h4>복직근,복사근,복횡근</h4>
            <p class="source-p">https://m.blog.naver.com/yejisuenghoon/221791443231</p>
        </div>

        <div class="source-div">
            <h4>횡경막</h4>
            <p class="source-p">https://m.blog.naver.com/capitlarush/221256174211</p>
        </div>

        <div class="source-div">
            <h4>다열근</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=01062463380&logNo=221159457006</p>
        </div>

        <div class="source-div">
            <h4>골반기저근</h4>
            <p class="source-p">http://plug.hani.co.kr/health/3136361</p>
        </div>

        <div class="source-div">
            <h4>척추기립근</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=kiltie999&logNo=220661127682</p>
        </div>

        <div class="source-div">
            <h4>이두근(장두, 단두) 상완근</h4>
            <p class="source-p">
                https://jooaoo.tistory.com/entry/%EC%9D%B4%EB%91%90%EC%9A%B4%EB%8F%99-%EC%96%B4%EA%B9%A8%ED%86%B5%EC%A6%9D-%EC%9B%90%EC%9D%B8-%EB%B0%8F-%ED%95%B4%EA%B2%B0%EB%B0%A9%EB%B2%95-%EC%96%B4%EA%B9%A8%ED%86%B5%EC%A6%9D%EC%A6%9D%EC%83%81
            </p>
        </div>

        <div class="source-div">
            <h4>전완근</h4>
            <p class="source-p">https://www.wadiz.kr/web/campaign/detailPost/128249/news/199838</p>
        </div>

        <div class="source-div">
            <h4>등</h4>
            <p class="source-p">
                https://mniz04.tistory.com/entry/%EB%93%B1-%EA%B7%BC%EC%9C%A1%EC%9D%98-%EA%B5%AC%EC%A1%B0</p>
        </div>

        <div class="source-div">
            <h4>승모근</h4>
            <p class="source-p">https://m.blog.naver.com/jintaeky/221840439335</p>
        </div>

        <div class="source-div">
            <h4>종아리</h4>
            <p class="source-p">https://m.health.chosun.com/svc/news_view.html?contid=2022070801889</p>
        </div>

        <div class="source-div">
            <h4>대흉근</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=fkaqhrudals&logNo=220457661434</p>
        </div>

        <div class="source-div">
            <h4>둔근</h4>
            <p class="source-p">https://brunch.co.kr/@rowkcn/568</p>
        </div>

        <div class="source-div">
            <h4>대퇴사두근</h4>
            <p class="source-p">https://m.post.naver.com/viewer/postView.naver?volumeNo=33534992&memberNo=38596756</p>
            <p class="source-p">https://leehyohwan.tistory.com/135</p>
        </div>

        <div class="source-div">
            <h4>햄스트링</h4>
            <p class="source-p">https://m.health.chosun.com/svc/news_view.html?contid=2022050901883</p>
        </div>

        <div class="source-div">
            <h4>마그네슘</h4>
            <p class="source-p">https://www.chamc.co.kr/health/e_clinic/content.asp?cc_id=10802&co_id=1129&ct_id=108</p>
            <p class="source-p">https://www.pillyze.com/columns/10</p>
        </div>

        <div class="source-div">
            <h4>아르기닌</h4>
            <p class="source-p">https://www.nutrione.co.kr/mgz/dtlMgz/129/</p>
            <p class="source-p">https://www.pillyze.com/columns/10</p>
        </div>

        <div class="source-div">
            <h4>칼슘</h4>
            <p class="source-p">https://www.esthermall.co.kr/board/?db=gallery_26&no=1014228&mari_mode=view@view</p>
        </div>

        <div class="source-div">
            <h4>오메가-3</h4>
            <p class="source-p">https://www.esthermall.co.kr/board/?db=gallery_26&no=1003951&mari_mode=view@view</p>
        </div>

        <div class="source-div">
            <h4>크레아틴</h4>
            <p class="source-p">
                https://www.msdmanuals.com/ko-kr/%ED%99%88/%ED%8A%B9%EB%B3%84-%EC%A3%BC%EC%A0%9C/%EC%8B%9D%EC%9D%B4-%EB%B3%B4%EC%B6%A9%EC%A0%9C-%EB%B0%8F-%EB%B9%84%ED%83%80%EB%AF%BC/%ED%81%AC%EB%A0%88%EC%95%84%ED%8B%B4
            </p>
        </div>

        <div class="source-div">
            <h4>카페인</h4>
            <p class="source-p">https://m.health.chosun.com/svc/news_view.html?contid=2022030302096</p>
            <p class="source-p">
                https://kormedi.com/1348081/%EC%9A%B4%EB%8F%99-%EC%A0%84-%EC%B9%B4%ED%8E%98%EC%9D%B8-%EC%84%AD%EC%B7%A8-%EC%9A%B4%EB%8F%99-%ED%9A%A8%EC%9C%A8-%EB%86%92%EC%9D%BC%EA%B9%8C-vs-%EC%9C%84%ED%97%98%ED%95%A0%EA%B9%8C/
            </p>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=fitvely&logNo=221771511186</p>
        </div>

        <div class="source-div">
            <h4>비타민 C</h4>
            <p class="source-p">
                https://kormedi.com/1348081/%EC%9A%B4%EB%8F%99-%EC%A0%84-%EC%B9%B4%ED%8E%98%EC%9D%B8-%EC%84%AD%EC%B7%A8-%EC%9A%B4%EB%8F%99-%ED%9A%A8%EC%9C%A8-%EB%86%92%EC%9D%BC%EA%B9%8C-vs-%EC%9C%84%ED%97%98%ED%95%A0%EA%B9%8C/
            </p>
            <p class="source-p">
                https://www.dsm.com/human-nutrition/ko_KR/talking-nutrition/get_to_know_vitamin_C_megadose.html</p>
            <p class="source-p">
                https://www.esthermall.co.kr/board/?db=gallery_26&no=1002316&mari_mode=view@view&module=true</p>
            <p class="source-p">https://www.hidoc.co.kr/healthstory/news/C0000645739</p>
        </div>

        <div class="source-div">
            <h4>멀티 비타민</h4>
            <p class="source-p">https://www.pillyze.com/columns/10</p>
        </div>

        <div class="source-div">
            <h4>글루타민</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=myir0nlung&logNo=221799320532</p>
            <p class="source-p">https://www.esthermall.co.kr/board/?db=gallery_27&no=1002378&mari_mode=view@view</p>
        </div>

        <div class="source-div">
            <h4>타우린</h4>
            <p class="source-p">https://namu.wiki/w/%ED%83%80%EC%9A%B0%EB%A6%B0</p>
            <p class="source-p">https://gradium.co.kr/taurine-benefits/</p>
        </div>

        <div class="source-div">
            <h4>블랙 마카</h4>
            <p class="source-p">
                https://sometimeslove.tistory.com/entry/%EB%B8%94%EB%9E%99-%EB%A7%88%EC%B9%B4-%ED%9A%A8%EB%8A%A5-%EB%B6%80%EC%9E%91%EC%9A%A9
            </p>
            <p class="source-p">https://m.blog.naver.com/CommentList.naver?blogId=myir0nlung&logNo=221798092189</p>
        </div>

        <div class="source-div">
            <h4>벌크업</h4>
            <p class="source-p">https://namu.wiki/w/%EB%B2%8C%ED%81%AC%EC%97%85</p>
        </div>

        <div class="source-div">
            <h4>서파수면</h4>
            <p class="source-p">https://happiend.tistory.com/245</p>
        </div>

        <div class="source-div">
            <h4>인터벌</h4>
            <p class="source-p">https://namu.wiki/w/%EC%9D%B8%ED%84%B0%EB%B2%8C%20%ED%8A%B8%EB%A0%88%EC%9D%B4%EB%8B%9D
            </p>
        </div>

        <div class="source-div">
            <h4>탈모</h4>
            <p class="source-p">https://www.youtube.com/watch?v=5D3yu7ORjn4</p>
        </div>

        <div class="source-div">
            <h4>발살바</h4>
            <p class="source-p">
                https://www.kci.go.kr/kciportal/ci/sereArticleSearch/ciSereArtiView.kci?sereArticleSearchBean.artiId=ART001768433
            </p>
            <p class="source-p">https://m.blog.naver.com/ishealthlife/221289318749</p>
        </div>

        <div class="source-div">
            <h4>선피로</h4>
            <p class="source-p">https://www.youtube.com/watch?v=TIO6Q-bjtTU</p>
        </div>

        <div class="source-div">
            <h4>등 스트레칭</h4>
            <p class="source-p">https://www.youtube.com/watch?v=3zc1mGfA5kc</p>
        </div>

        <div class="source-div">
            <h4>견갑거근 스트레칭</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=omtaryn&logNo=221460631402</p>
        </div>

        <div class="source-div">
            <h4>사각근 스트레칭</h4>
            <p class="source-p">https://m.blog.naver.com/omtaryn/221489013163</p>
        </div>

        <div class="source-div">
            <h4>흉근 스트레칭</h4>
            <p class="source-p">
                https://www.facebook.com/GoodSpineExerciseAcademy/photos/%EC%9D%B4%EA%B1%B0%EC%95%8C%EC%95%84-%EC%96%B4%EA%B9%A8-%ED%9C%99%ED%9C%99-%EB%8F%8C%EC%95%84%EA%B2%8C-%ED%95%98%EB%8A%94-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%B9%AD%EB%B6%88%ED%8E%B8%ED%95%9C-%EC%96%B4%EA%B9%A8-%EC%A3%BC%EB%AC%B4%EC%8B%A4%EB%95%8C%EB%8F%84-%EB%B6%88%ED%8E%B8%ED%95%98%EC%8B%9C%EC%A3%A0-%EA%B7%B8%EB%A6%BC%EA%B3%BC-%EA%B0%99%EC%9D%B4-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%B9%AD%EC%9D%84-%ED%95%B4%EB%B3%B4%EC%84%B8%EC%9A%94%EB%8C%80%ED%9D%89%EA%B7%BC-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%B9%ADa%EC%87%84%EA%B3%A8%EC%A7%91-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%B9%AD-%ED%8C%94%EA%BF%88%EC%B9%98%EB%A5%BC/1396687790391790/?paipv=0&eav=AfbB1acWR_pTo8n6hApHztfzREZf_Jzq0UTm8vDXQkhsdkuZ6hBbMpXBHqfcez7J0gU&_rdr
            </p>
        </div>

        <div class="source-div">
            <h4>삼두 스트레칭</h4>
            <p class="source-p">https://m.blog.naver.com/agym8/221800332942</p>
        </div>

        <div class="source-div">
            <h4>이두 스트레칭</h4>
            <p class="source-p">https://diet75.tistory.com/245</p>
        </div>

        <div class="source-div">
            <h4>전완근 스트레칭</h4>
            <p class="source-p">
                https://dietwill.tistory.com/entry/%EB%8B%A4%EC%9D%B4%EC%96%B4%ED%8A%B8%ED%97%8C%ED%84%B0-%EC%83%81%EC%B2%B4-%EC%8A%A4%ED%8A%B8%EB%A0%88%EC%B9%AD-8%EA%B0%80
            </p>
        </div>

        <div class="source-div">
            <h4>전완근 마사지</h4>
            <p class="source-p">https://www.hyuga.io/interview/4</p>
        </div>

        <div class="source-div">
            <h4>대퇴사두 스트레칭</h4>
            <p class="source-p">
                https://mblogthumb-phinf.pstatic.net/20150817_201/fitnessbs7_1439741248160B91Jf_JPEG/QUADRI2.jpg?type=w2
            </p>
        </div>

        <div class="source-div">
            <h4>햄스트링 스트레칭</h4>
            <p class="source-p">https://tenbody.kr/m/548</p>
            <p class="soruce-p">https://gyodae8267.tistory.com/100</p>
        </div>

        <div class="source-div">
            <h4>복사근 스트레칭</h4>
            <p class="source-p">https://newsfeed.dispatch.co.kr/937993</p>
        </div>

        <div class="source-div">
            <h4>복직근 스트레칭</h4>
            <p class="source-p">https://www.joongang.co.kr/article/3982457#home</p>
        </div>

        <div class="source-div">
            <h4>소둔근 스트레칭</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=jwho_movement&logNo=220771340399</p>
        </div>

        <div class="source-div">
            <h4>대둔근, 요방형근, 내전근, 장요근, 이상근 스트레칭, 소둔근 마사지</h4>
            <p class="source-p">https://www.youtube.com/watch?v=d2oBz_xH_gQ</p>
        </div>

        <div class="source-div">
            <h4>이상근 스트레칭</h4>
            <p class="source-p">https://www.knee-pain-explained.com/piriformis-stretches.html</p>
        </div>

        <div class="source-div">
            <h4>장요근 스트레칭</h4>
            <p class="source-p">https://www.hidoc.co.kr/healthstory/news/C0000400327</p>
        </div>

        <div class="source-div">
            <h4>수축</h4>
            <p class="source-p">https://richinformation.tistory.com/19</p>
        </div>

        <div class="source-div">
            <h4>OKC,CKC</h4>
            <p class="source-p">
                https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=rudfuf80&logNo=40207263301</p>
        </div>

        <div class="source-div">
            <h4>도파민</h4>
            <p class="source-p">https://ko.wikipedia.org/wiki/%EB%8F%84%ED%8C%8C%EB%AF%BC</p>
            <p class="source-p">https://healthhabit.tistory.com/40</p>
        </div>

        <div class="source-div">
            <h4>동화-이화 작용</h4>
            <p class="source-p">https://m.blog.naver.com/david6703/221949611493</p>
        </div>

        <div class="source-div">
            <h4>호르몬들</h4>
            <p class="source-p">https://brunch.co.kr/@maama/100</p>
        </div>

        <div class="source-div">
            <h4>노르에피네프린</h4>
            <p class="source-p">
                https://ko.wikipedia.org/wiki/%EB%85%B8%EB%A5%B4%EC%97%90%ED%94%BC%EB%84%A4%ED%94%84%EB%A6%B0</p>
        </div>

        <div class="source-div">
            <h4></h4>
            <p class="source-p"></p>
        </div>

        <div class="source-div">
            <h4></h4>
            <p class="source-p"></p>
        </div>
    </div> -->


    <script src="/JS/language.js"></script>
</body>

</html>